header.section-header
	h1.section_name.section_name__access-settings Управление доступом
	span.section-header_buttons
		a(href="#home" class="button button__action") Назад
		a(href="javascript: void(0)" class="button button__cherry") Сохранить
section.access-settings
	div.tab_section.items-5
		.tab.content-tabs_selected(data-tab-name="access-settings-tab1") Общие
		.tab(data-tab-name="access-settings-tab2") Фильтрация
		.tab(data-tab-name="access-settings-tab3") NAT
		.tab(data-tab-name="access-settings-tab4") QoS
		.tab(data-tab-name="access-settings-tab5") Родительский контроль
	section.internet_section(data-tab="access-settings-tab1")
		.internet_section__wrapper
			.internet_item.access-settings_common-local-ip
				span.internet_item-name Настройки локального IP
			.internet_item.access-settings_common-firewall
				span.internet_item-name.item__sub Firewall
				.internet_item-value.internet_item__help
					input(type="checkbox" id="access-firewall" class="checkbox-small" checked)
					label(for="access-firewall" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					a(href="javascript: void(0)" data-definition-name="iptv").item-help
			.internet_item.access-settings_common-spi
				span.internet_item-name.item__sub SPI
				.internet_item-value.internet_item__help
					input(type="checkbox" id="access-spi" class="checkbox-small" checked)
					label(for="access-spi" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					a(href="javascript: void(0)" data-definition-name="iptv").item-help
			.internet_item.item__access-vpn
				.internet_item.access-settings_common-vpn
					span.internet_item-name VPN Passthroution
				.internet_item.common-vpn-switches
					span.internet_item-name.item__sub IPSec Passthroution
					input(type="checkbox" id="ips-pass" class="checkbox-small" checked)
					label(for="ips-pass" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				.internet_item.access-settings_common-pptp
					span.internet_item-name.item__sub PPTP Passthroution
					input(type="checkbox" id="pptp-pass" class="checkbox-small" checked)
					label(for="pptp-pass" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				.internet_item.access-settings_common-l2tp
					span.internet_item-name.item__sub L2TP Passthroution
					input(type="checkbox" id="l2tp-pass" class="checkbox-small" checked)
					label(for="l2tp-pass" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
			.internet_item.access-settings_common-lan
				span.internet_item-name.lan-access-settings Управление доступом к локальной и внешней сети
			.access-lan-settings
				.internet_item.access-settings_common-http
					span.internet_item-name.item__sub HTTP
					.internet_item-value.internet_item__help
						div(class="itempick itempick__small")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="http-access-lan" name="http-access" checked)
								label(for="http-access-lan" class="itempick_label")
									span(class="itempick_value") LAN
								input(type="radio" class="itempick_radio" id="http-access-full" name="http-access")
								label(for="http-access-full" class="itempick_label")
									span(class="itempick_value") LAN / WAN
								input(type="radio" class="itempick_radio" id="http-access-wan" name="http-access")
								label(for="http-access-wan" class="itempick_label")
									span(class="itempick_value") WAN
								b(class="itempick_slider")
						input(type="text" class="input-text input-text__small" value="80")
						a(href="javascript: void(0)" data-definition-name="iptv").item-help
				.internet_item.access-settings_common-https
					span.internet_item-name.item__sub HTTPs
					.internet_item-value.internet_item__help
						div(class="itempick itempick__small")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="https-access-lan" name="https-access" checked)
								label(for="https-access-lan" class="itempick_label")
									span(class="itempick_value") LAN
								input(type="radio" class="itempick_radio" id="https-access-full" name="https-access")
								label(for="https-access-full" class="itempick_label")
									span(class="itempick_value") LAN / WAN
								input(type="radio" class="itempick_radio" id="https-access-wan" name="https-access")
								label(for="https-access-wan" class="itempick_label")
									span(class="itempick_value") WAN
								b(class="itempick_slider")
						input(type="text" class="input-text input-text__small" value="80")
						a(href="javascript: void(0)" data-definition-name="iptv").item-help
				.internet_item.access-settings_telnet
					span.internet_item-name.item__sub Telenet
					.internet_item-value.internet_item__help
						div(class="itempick itempick__small")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="telnet-access-lan" name="telnet-access" checked)
								label(for="telnet-access-lan" class="itempick_label")
									span(class="itempick_value") LAN
								input(type="radio" class="itempick_radio" id="telnet-access-full" name="telnet-access")
								label(for="telnet-access-full" class="itempick_label")
									span(class="itempick_value") LAN / WAN
								input(type="radio" class="itempick_radio" id="telnet-access-wan" name="telnet-access")
								label(for="telnet-access-wan" class="itempick_label")
									span(class="itempick_value") WAN
								b(class="itempick_slider")
						input(type="text" class="input-text input-text__small" value="80")
						a(href="javascript: void(0)" data-definition-name="iptv").item-help
				.internet_item.access-settings_ssh
					span.internet_item-name.item__sub SSH
					.internet_item-value.internet_item__help
						div(class="itempick itempick__small")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="ssh-access-lan" name="ssh-access" checked)
								label(for="ssh-access-lan" class="itempick_label")
									span(class="itempick_value") LAN
								input(type="radio" class="itempick_radio" id="ssh-access-full" name="ssh-access")
								label(for="ssh-access-full" class="itempick_label")
									span(class="itempick_value") LAN / WAN
								input(type="radio" class="itempick_radio" id="ssh-access-wan" name="ssh-access")
								label(for="ssh-access-wan" class="itempick_label")
									span(class="itempick_value") WAN
								b(class="itempick_slider")
						input(type="text" class="input-text input-text__small" value="80")
						a(href="javascript: void(0)" data-definition-name="iptv").item-help
				.internet_item.access-settings_common-icmp
					span.internet_item-name.item__sub ICMP (ping)
					.internet_item-value
						div(class="itempick itempick__small")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="icmp-access-lan" name="icmp-access" checked)
								label(for="icmp-access-lan" class="itempick_label")
									span(class="itempick_value") LAN
								input(type="radio" class="itempick_radio" id="icmp-access-full" name="icmp-access")
								label(for="icmp-access-full" class="itempick_label")
									span(class="itempick_value") LAN / WAN
								input(type="radio" class="itempick_radio" id="icmp-access-wan" name="icmp-access")
								label(for="icmp-access-wan" class="itempick_label")
									span(class="itempick_value") WAN
								b(class="itempick_slider")
				.internet_item.access-settings_common-samba
					span.internet_item-name.item__sub SAMBA
					.internet_item-value
						div(class="itempick itempick__small")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="samba-access-lan" name="samba-access" checked)
								label(for="samba-access-lan" class="itempick_label")
									span(class="itempick_value") LAN
								input(type="radio" class="itempick_radio" id="samba-access-full" name="samba-access")
								label(for="samba-access-full" class="itempick_label")
									span(class="itempick_value") LAN / WAN
								input(type="radio" class="itempick_radio" id="samba-access-wan" name="samba-access")
								label(for="samba-access-wan" class="itempick_label")
									span(class="itempick_value") WAN
								b(class="itempick_slider")

	section.internet_section(data-tab="access-settings-tab2" hidden)
		.internet_section__wrapper
			.internet_item.access-settings_filter-type
				span.internet_item-name Тип фильтра
				.internet_item-value.internet_item__help
					div(class="itempick")
						div(class="itempick_holder items-4")
							input(type="radio" class="itempick_radio" id="filter-ip" name="filter-type" data-filter-table="access-table-ip" data-template="template-table-ip" checked)
							label(for="filter-ip" class="itempick_label")
								span(class="itempick_value") IP
							input(type="radio" class="itempick_radio" id="filter-mac" name="filter-type" data-filter-table="access-table-mac" data-template="template-table-mac")
							label(for="filter-mac" class="itempick_label")
								span(class="itempick_value") MAC
							input(type="radio" class="itempick_radio" id="filter-url" name="filter-type" data-filter-table="access-table-url" data-template="template-table-url")
							label(for="filter-url" class="itempick_label")
								span(class="itempick_value") Url
							input(type="radio" class="itempick_radio" id="filter-port" name="filter-type" data-filter-table="access-table-port" data-template="template-table-port")
							label(for="filter-port" class="itempick_label")
								span(class="itempick_value") Port
							b(class="itempick_slider")
					a(href="javascript: void(0)" data-definition-name="iptv").item-help

			.internet_item.filter-activity-status.filter-ip
				span.internet_item-name Активность фильтров
				.internet_item-value.internet_item__help
					input(type="checkbox" id="filter-activity-status" class="checkbox-small" checked)
					label(for="filter-activity-status" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					button(type="button" class="button button__text button_remove-filters") Удалить все
					a(href="javascript: void(0)" data-definition-name="iptv").item-help

			.internet_item.filter-activity-status.filter-mac(hidden)
				span.internet_item-name Активность фильтров
				.internet_item-value.internet_item__help
					input(type="checkbox" id="filter-activity-status-mac" class="checkbox-small" checked)
					label(for="filter-activity-status-mac" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					button(type="button" class="button button__text button_remove-filters") Удалить все
					a(href="javascript: void(0)" data-definition-name="iptv").item-help

			.internet_item.filter-activity-status.filter-url(hidden)
				span.internet_item-name Активность фильтров
				.internet_item-value.internet_item__help
					input(type="checkbox" id="filter-activity-status-url" class="checkbox-small" checked)
					label(for="filter-activity-status-url" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					button(type="button" class="button button__text button_remove-filters") Удалить все
					a(href="javascript: void(0)" data-definition-name="iptv").item-help

			.internet_item.filter-activity-status.filter-port(hidden)
				span.internet_item-name Активность фильтров
				.internet_item-value.internet_item__help
					input(type="checkbox" id="filter-activity-status-port" class="checkbox-small" checked)
					label(for="filter-activity-status-port" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					button(type="button" class="button button__text button_remove-filters") Удалить все
					a(href="javascript: void(0)" data-definition-name="iptv").item-help
			table.template-table-ip(hidden)
				tr
					td
						input(type="text" class="table-text input-text__ip-mask")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")

			table.template-table-mac(hidden)
				tr
					td
						input(type="text" class="table-text input-text__mac" value="" spellcheck="false")
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")

			table.template-table-url(hidden)
				tr
					td
						input(type="text" class="table-text" value="")
					td
						input(type="text" class="table-text" value="")
						a(href="javascript: void(0)" class="delete-item")

			table.template-table-port(hidden)
				tr
					td
						input(type="text" class="table-text" value="")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")

			table.access-table.access-table__filter-activity.access-table-ip
				tr.table-header
					th Локальный IP адрес
					th Протокол
					th Комментарий
				tr
					td
						input(type="text" class="table-text input-text__ip-mask")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
				tr
					td
						input(type="text" class="table-text input-text__ip-mask" value="192.168.0.1")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
				tr
					td
						input(type="text" class="table-text input-text__ip-mask" value="192.168.0.1")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
				tr
					td
						input(type="text" class="table-text input-text__ip-mask")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
			table.access-table.access-table__filter-activity.filter__mac.access-table-mac(hidden)
				tr.table-header
					th MAC адрес
					th Комментарий
				tr
					td
						input(type="text" class="table-text input-text__mac" value="00 : 1f : ce : dd : ff : 11" spellcheck="false")
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
				tr
					td
						input(type="text" class="table-text input-text__mac" value="00 : 1f : ce : dd : ff : 11" spellcheck="false")
					td
						input(type="text" class="table-text" value="comment")
						a(href="javascript: void(0)" class="delete-item")
			table.access-table.access-table__filter-activity.filter__mac.access-table-url(hidden)
				tr.table-header
					th Url
					th Комментарий
				tr
					td
						input(type="text" class="table-text" value="google.com" spellcheck="false")
					td
						input(type="text" class="table-text" value="google" spellcheck="false")
						a(href="javascript: void(0)" class="delete-item")
				tr
					td
						input(type="text" class="table-text" value="yandex.ru" spellcheck="false")
					td
						input(type="text" class="table-text" value="comment" spellcheck="false")
						a(href="javascript: void(0)" class="delete-item")
			table.access-table.access-table__filter-activity.access-table-port(hidden)
				tr.table-header
					th Диапазон портов
					th Протокол
					th Комментарий
				tr
					td
						input(type="text" class="table-text" value="5005")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
				tr
					td
						input(type="text" class="table-text" value="5006")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
				tr
					td
						input(type="text" class="table-text" value="5006-5007")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item" value="5005")
				tr
					td
						input(type="text" class="table-text")
					td.jelect-td
						div(class="jelect table-jelect" role="select")
							input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") TCP/UDP
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
								li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
								li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
					td
						input(type="text" class="table-text")
						a(href="javascript: void(0)" class="delete-item")
			.internet_item
				button(type="button" class="button button__ghost button__add-filter add-filter-ip") Добавить фильтр
			.internet_item
				button(type="button" class="button button__ghost button__add-filter add-filter-mac") Добавить фильтр
			.internet_item
				button(type="button" class="button button__ghost button__add-filter add-filter-url") Добавить фильтр
			.internet_item
				button(type="button" class="button button__ghost button__add-filter add-filter-port") Добавить фильтр

	section.internet_section(data-tab="access-settings-tab3" hidden)
		.internet_section__wrapper
			.internet_item.access-settings_nat-status
				span.internet_item-name NAT
				input(type="checkbox" id="nat-status" class="checkbox-small" checked)
				label(for="nat-status" class="checkbox-small_label flipswitch-fade")
					span.checkbox-small_value
					span.checkbox-small_slider
			.internet_item.nat-ports-item
				.internet_item-name ПРОБРОС ПОРТОВ
				.internet_item-value
					button(type="button" class="button button__text button_remove-filters") Удалить все
				table.template-table(hidden)
					tr
						td
							input(type="text" class="table-text input-text__ip-mask")
						td
							input(type="text" class="table-text input-text__ip-mask")
						td.jelect-td
							div(class="jelect table-jelect" role="select")
								input(id="" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
								div(class="jelect-current" tabindex="0" role="button") TCP/UDP
								ul(class="jelect-options")
									li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
									li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
									li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
						td
							input(type="text" class="table-text" maxlength="11")
							a(href="javascript: void(0)" class="delete-item")
				table.access-table.nat-ports
					tr.table-header
						th Внешний IP
						th Локальный IP
						th Протокол
						th Диапазон портов
					tr
						td
							input(type="text" class="table-text input-text__ip-mask")
						td
							input(type="text" class="table-text input-text__ip-mask")
						td.jelect-td
							div(class="jelect table-jelect" role="select")
								input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
								div(class="jelect-current" tabindex="0" role="button") TCP/UDP
								ul(class="jelect-options")
									li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
									li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
									li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
						td
							input(type="text" class="table-text" maxlength="11")
							a(href="javascript: void(0)" class="delete-item")
					tr
						td
							input(type="text" class="table-text input-text__ip-mask" value="192.168.0.1")
						td
							input(type="text" class="table-text input-text__ip-mask")
						td.jelect-td
							div(class="jelect table-jelect" role="select")
								input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
								div(class="jelect-current" tabindex="0" role="button") TCP/UDP
								ul(class="jelect-options")
									li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
									li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
									li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
						td
							input(type="text" class="table-text" maxlength="11")
							a(href="javascript: void(0)" class="delete-item")
					tr
						td
							input(type="text" class="table-text input-text__ip-mask" value="192.168.0.1")
						td
							input(type="text" class="table-text input-text__ip-mask")
						td.jelect-td
							div(class="jelect table-jelect" role="select")
								input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
								div(class="jelect-current" tabindex="0" role="button") TCP/UDP
								ul(class="jelect-options")
									li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
									li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
									li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
						td
							input(type="text" class="table-text" maxlength="11")
							a(href="javascript: void(0)" class="delete-item")
					tr
						td
							input(type="text" class="table-text input-text__ip-mask")
						td
							input(type="text" class="table-text input-text__ip-mask")
						td.jelect-td
							div(class="jelect table-jelect" role="select")
								input(id="encryption-type-guest-medium" name="protocol" value="0" data-text="TCP/UDP" type="text" class="jelect-input")
								div(class="jelect-current" tabindex="0" role="button") TCP/UDP
								ul(class="jelect-options")
									li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") TCP/UDP
									li(class="jelect-option" data-val="1" tabindex="0" role="option") TCP
									li(class="jelect-option" data-val="2" tabindex="0" role="option") UDP
						td
							input(type="text" class="table-text" maxlength="11")
							a(href="javascript: void(0)" class="delete-item")
			.internet_item.access-settings_nat-add-filter
				button(type="button" class="button button__ghost button__add-filter") Добавить фильтр
			.internet_item.internet_item__help.access-settings-dmz
				span.internet_item-name DMZ
				input(type="checkbox" id="dmz-status" class="checkbox-small" checked)
				label(for="dmz-status" class="checkbox-small_label flipswitch-fade")
					span.checkbox-small_value
					span.checkbox-small_slider
				a(href="javascript: void(0)" data-definition-name="iptv").item-help
			table.access-table.access-table__filter-activity.dmz-table
				tr.table-header
					th Локальный IP
				tr
					td
						input(type="text" class="table-text input-text__ip-mask" value="192.168.0.1")

	section.internet_section(data-tab="access-settings-tab4" hidden)
		.internet_section__wrapper
			.internet_item.qos-status.internet_item__help
				span.internet_item-name QoS
				input(type="checkbox" id="qos" class="checkbox-small" checked)
				label(for="qos" class="checkbox-small_label flipswitch-fade")
					span.checkbox-small_value
					span.checkbox-small_slider
				a(href="javascript: void(0)" data-definition-name="iptv").item-help
			.item-set.access-settings_qos-set
				.internet_item.access-settings_qos-disc
					span.internet_item-name.item__sub Дисциплина
					.internet_item-value
						div(class="itempick")
							div(class="itempick_holder items-2")
								input(type="radio" class="itempick_radio" id="qos-discipline-wrr" name="qos-discipline")
								label(for="qos-discipline-wrr" class="itempick_label")
									span(class="itempick_value") WRR
								input(type="radio" class="itempick_radio" id="qos-strict-priority" name="qos-discipline" checked)
								label(for="qos-strict-priority" class="itempick_label")
									span(class="itempick_value") Strict Priority
								b(class="itempick_slider")
				.internet_item.access-settings_qos-wrr.internet_item__help
					a(href="javascript: void(0)" data-definition-name="iptv").item-help
					span.internet_item-name.item__sub Наивысший режим WRR
					input(type="text" class="input-text" id="high-wrr" maxlength="2")
					label(for="high-wrr" class="input-text_label") (1-15)
				.internet_item.access-settings_qos-wrr-high
					span.internet_item-name.item__sub Высокий режим WRR
					input(type="text" class="input-text" id="big-wrr" maxlength="2")
					label(for="big-wrr" class="input-text_label") (1-15)
				.internet_item.access-settings_qos-wrr-medium
					span.internet_item-name.item__sub Средний режим WRR
					input(type="text" class="input-text" id="medium-wrr" maxlength="2")
					label(for="medium-wrr" class="input-text_label") (1-15)
				.internet_item.access-settings_qos-wrr-low
					span.internet_item-name.item__sub Низкий режим WRR
					input(type="text" class="input-text" id="low-wrr" maxlength="2")
					label(for="low-wrr" class="input-text_label") (1-15)
				.internet_item.access-settings_qos-rule-number
					span.internet_item-name Номер правила
					.internet_item-value
						div(class="jelect" role="select")
							input(id="" name="protocol" value="0" data-text="1" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") 1
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 1
								li(class="jelect-option" data-val="1" tabindex="0" role="option") 2
								li(class="jelect-option" data-val="2" tabindex="0" role="option") 3
				.internet_item.rule-summary-section
					span.internet_item-name
					input(type="checkbox" id="rule-status" class="checkbox-small" checked)
					label(for="rule-status" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				.internet_item.access-settings_qos-rule-btn
					span.internet_item-name
					button(type="button" class="button button__cherry button__rule") RULE AND ACTION SUMMARY
			.internet_item.item-separator.access-settings-application
				span.internet_item-name.item__sub Приложение
				input(type="text" class="input-text")
			.internet_item.item-set.access-settings_qos-phys-ports
				span.internet_item-name.item__sub Физические порты
				.internet_item-value.physical_lan
					span.item-name__cherry LAN1
					input(type="checkbox" id="qos-lan-1" class="checkbox-small" checked)
					label(for="qos-lan-1" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				span.internet_item-name
				.internet_item-value.physical_lan
					span.item-name__cherry LAN2
					input(type="checkbox" id="qos-lan-2" class="checkbox-small" checked)
					label(for="qos-lan-2" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				span.internet_item-name
				.internet_item-value.physical_lan
					span.item-name__cherry LAN3
					input(type="checkbox" id="qos-lan-3" class="checkbox-small" checked)
					label(for="qos-lan-3" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				span.internet_item-name
				.internet_item-value.physical_lan
					span.item-name__cherry LAN4
					input(type="checkbox" id="qos-lan-4" class="checkbox-small" checked)
					label(for="qos-lan-4" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
			.item-set.access-settings-second-section
				.internet_item.mac-address-destination
					span.internet_item-name.item__sub MAC адрес назначения
					input(type="text" class="input-text" id="access-mac")
				.internet_item.ipv4v6
					span.internet_item-name.item__sub IPv4/IPv6
					input(type="text" class="input-text" id="access-ip")
				.internet_item.mask-prefix
					span.internet_item-name.item__sub Маска/Префикс
					input(type="text" class="input-text")
				.internet_item.ports-range
					span.internet_item-name.item__sub Диапазон портов
					input(type="text" class="input-text")
					span.input__separator
					input(type="text" class="input-text")
				.internet_item.mac-address-source
					span.internet_item-name.item__sub MAC адрес источника
					input(type="text" class="input-text" id="access-mac-source")
				.internet_item.ipv4v6
					span.internet_item-name.item__sub IPv4/IPv6
					input(type="text" class="input-text" id="access-ip-2")
				.internet_item.mask-prefix
					span.internet_item-name.item__sub Маска/Префикс
					input(type="text" class="input-text")
				.internet_item.ports-range2
					span.internet_item-name.item__sub Диапазон портов
					input(type="text" class="input-text")
					span.input__separator
					input(type="text" class="input-text")
				.internet_item.protocol-id
					span.internet_item-name.item__sub Протокол ID
					.internet_item-value
						div(class="jelect" role="select")
							input(id="protocol-id" name="protocol" value="0" data-text="1" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") 1
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 1
								li(class="jelect-option" data-val="1" tabindex="0" role="option") 2
								li(class="jelect-option" data-val="2" tabindex="0" role="option") 3
				.internet_item.vlan-id-range
					span.internet_item-name.item__sub Диапазон VLAN ID
					input(type="text" class="input-text")
					span.input__separator
					input(type="text" class="input-text")
				.internet_item.ipp-ds
					span.internet_item-name.item__sub Поле IPP/DS
					.internet_item-value
						div(class="itempick")
							div(class="itempick_holder items-2")
								input(type="radio" class="itempick_radio" id="ipp-tos" name="ipp-ds")
								label(for="ipp-tos" class="itempick_label")
									span(class="itempick_value") IPP/TOS
								input(type="radio" class="itempick_radio" id="dscp" name="ipp-ds" checked)
								label(for="dscp" class="itempick_label")
									span(class="itempick_value") DSCP
								b(class="itempick_slider")
				.internet_item.jelect-set.priority-ip-range
					span.internet_item-name.item__sub
						span.internet_item-name__fix Диапазон приоритетных <br> IP адресов
					.internet_item-value
						div(class="jelect" role="select")
							input(id="protocol-id" name="protocol" value="0" data-text="1" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") 1
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 1
								li(class="jelect-option" data-val="1" tabindex="0" role="option") 2
								li(class="jelect-option" data-val="2" tabindex="0" role="option") 3
						span.input__separator
						div(class="jelect" role="select")
							input(id="protocol-id" name="protocol" value="0" data-text="1" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") 1
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 1
								li(class="jelect-option" data-val="1" tabindex="0" role="option") 2
								li(class="jelect-option" data-val="2" tabindex="0" role="option") 3
				.internet_item.service-type
					span.internet_item-name.item__sub Тип сервиса
					.internet_item-value
						div(class="jelect" role="select")
							input(id="service-type" name="protocol" value="0" data-text="1" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") 1
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 1
								li(class="jelect-option" data-val="1" tabindex="0" role="option") 2
								li(class="jelect-option" data-val="2" tabindex="0" role="option") 3
				.internet_item.dscp-range
					span.internet_item-name.item__sub DSCP диапазон (0-63)
					input(type="text" class="input-text")
					span.input__separator
					input(type="text" class="input-text")
				.internet_item.jelect-set.access-802
					span.internet_item-name.item__sub 802.1p
					.internet_item-value
						div(class="jelect" role="select")
							input(id="protocol-id" name="protocol" value="0" data-text="1" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") 1
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 1
								li(class="jelect-option" data-val="1" tabindex="0" role="option") 2
								li(class="jelect-option" data-val="2" tabindex="0" role="option") 3
						span.input__separator
						div(class="jelect" role="select")
							input(id="protocol-id" name="protocol" value="0" data-text="1" type="text" class="jelect-input")
							div(class="jelect-current" tabindex="0" role="button") 1
							ul(class="jelect-options")
								li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 1
								li(class="jelect-option" data-val="1" tabindex="0" role="option") 2
								li(class="jelect-option" data-val="2" tabindex="0" role="option") 3




	section.internet_section(data-tab="access-settings-tab5" hidden)
		.internet_section__wrapper
			.internet_item.internet_item__help.parental-control
				.internet_item-name Родительский контроль
				input(type="checkbox" id="parrent-control-status" class="checkbox-small" checked)
				label(for="parrent-control-status" class="checkbox-small_label flipswitch-fade")
					span.checkbox-small_value
					span.checkbox-small_slider
				a(href="javascript: void(0)" data-definition-name="iptv").item-help
			.parent-control-options
				.internet_item.internet_item__help
					span.internet_item-name
						span.internet_item-name__fix Перечень клиентов <br>
							span.item__sub (макс. 16 шт.)
					.internet_item-value
						input(type="checkbox" id="parrent-control-clients" class="checkbox-small" checked)
						label(for="parrent-control-clients" class="checkbox-small_label flipswitch-fade")
							span.checkbox-small_value
							span.checkbox-small_slider
						button(type="button" class="button button__text button_remove-filters") Удалить все
						a(href="javascript: void(0)" data-definition-name="iptv").item-help
				table.template-table(hidden)
					tr
						td
							input(type="text" class="table-text" value="")
						td
							input(type="text" class="table-text input-text__mac" value="")
							a(href="javascript: void(0)" class="delete-item")
				table.access-table.access-table__filter-activity.filter__mac
					tr.table-header
						th Имя клиента
						th MAC адрес
					tr
						td
							input(type="text" class="table-text" value="Мой ПК")
						td
							input(type="text" class="table-text input-text__mac" value="")
							a(href="javascript: void(0)" class="delete-item")
					tr
						td
							input(type="text" class="table-text" value="ПК Жены")
						td
							input(type="text" class="table-text input-text__mac" value="")
							a(href="javascript: void(0)" class="delete-item")
					tr
						td
							input(type="text" class="table-text" value="Мой ПК")
						td
							input(type="text" class="table-text input-text__mac" value="")
							a(href="javascript: void(0)" class="delete-item")
					tr
						td
							input(type="text" class="table-text" value="ПК Жены")
						td
							input(type="text" class="table-text input-text__mac" value="")
							a(href="javascript: void(0)" class="delete-item")
				.internet_item
					button(type="button" class="button button__ghost button__add-filter") Добавить фильтр
				.internet_item.item-separator.internet_item__help
					a(href="javascript: void(0)" data-definition-name="iptv").item-help
					span.internet_item-name Время работы устройства
					.internet_item-value
						div(class="itempick")
							div(class="itempick_holder items-2")
								input(type="radio" class="itempick_radio" id="parrent-control-allway" name="parrent-controls-timing")
								label(for="parrent-control-allway" class="itempick_label")
									span(class="itempick_value") Всегда
								input(type="radio" class="itempick_radio" id="parrent-control-time" name="parrent-controls-timing" checked)
								label(for="parrent-control-time" class="itempick_label")
									span(class="itempick_value") По времени
								b(class="itempick_slider")
				include ../partials/timepicker-table
				.internet_item.item-separator.section-yandex
					span.internet_item-name Яндекс DNS
					.internet_item-value
						div(class="itempick")
							div(class="itempick_holder items-4")
								input(type="radio" class="itempick_radio" id="ya-dns-disable" name="ya-dns")
								label(for="ya-dns-disable" class="itempick_label")
									span(class="itempick_value") Выкл
								input(type="radio" class="itempick_radio" id="ya-dns-base" name="ya-dns" checked)
								label(for="ya-dns-base" class="itempick_label")
									span(class="itempick_value") Базовый
								input(type="radio" class="itempick_radio" id="ya-dns-secure" name="ya-dns" checked)
								label(for="ya-dns-secure" class="itempick_label")
									span(class="itempick_value") Безопасный
								input(type="radio" class="itempick_radio" id="ya-dns-family" name="ya-dns" checked)
								label(for="ya-dns-family" class="itempick_label")
									span(class="itempick_value") Семейный
								b(class="itempick_slider")
