header.section-header
	h1.section_name.section_name__usb USB
	span.section-header_buttons
		a(href="#home" class="button button__action") Назад
		a(href="javascript: void(0)" class="button button__cherry") Сохранить
section.usb
	section.usb_section
		.usb_section__wrapper
			.usb_item.usb_item__printer.internet_item__help
				span.usb_item-name Сетевой принтер
				input(type="checkbox" id="printer-settings" class="checkbox-small" checked)
				label(for="printer-settings" class="checkbox-small_label flipswitch-fade")
					span.checkbox-small_value
					span.checkbox-small_slider
				a(href="javascript: void(0)" data-definition-name="iptv").item-help

			.usb_item.usb_item__netdrive
				.usb_item.usb_item__netdrive-switch.internet_item__help
					span.usb_item-name Сетевой накопитель
					input(type="checkbox" id="netdrive-switch" class="checkbox-small" checked)
					label(for="netdrive-switch" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					a(href="javascript: void(0)" data-definition-name="iptv").item-help

				.info_item.usb_item__netdrive-memory
					span.usb_item-name Объем памяти
					span.info_item_state
						span.progress_desc 0,356 / 1,5 Гб
						span.progress_value
							span.progress_current.value__usb-memory

				.usb_item.usb_item__netdrive-buttons
					span.usb_item-name.usb_item-name__empty
					button(type="button" class="button button__ghost button__eject") Извлечь
					button(type="button" class="button button__ghost button__refresh") Обновить

			.usb_item.usb_item__access
				.usb_item.usb_item__netdrive-access.internet_item__help
					span.usb_item-name Ограничение прав доступа <br> к сетевому накопителю
					input(type="checkbox" id="netdrive-access" class="checkbox-small" checked)
					label(for="netdrive-access" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					a.usb_item__netdrive-delete(href="javascript: void(0)") Удалить все
					a(href="javascript: void(0)" data-definition-name="iptv").item-help


					.usb_item
						table.template-table(hidden)
							tr
								td
									input(type="text" value="")
								td
									input(type="password" value="")
								td.jelect-td
									div(class="jelect table-jelect" role="select")
										input(id="" name="protocol" value="0" data-text="Read&Write" type="text" class="jelect-input")
										div(class="jelect-current" tabindex="0" role="button") Read&Write
										ul(class="jelect-options")
											li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") Read&Write
											li(class="jelect-option" data-val="1" tabindex="0" role="option") Read
											li(class="jelect-option" data-val="2" tabindex="0" role="option") Write
									a(href="javascript: void(0)" class="delete-item")

						table.access-table
							tr.table-header
								th Username
								th Password
								th Права
							tr
								td
									input(type="text" value="admin")
								td
									input(type="password" value="••••••••")
								td.jelect-td
									div(class="jelect table-jelect" role="select")
										input(id="" name="protocol" value="0" data-text="Read&Write" type="text" class="jelect-input")
										div(class="jelect-current" tabindex="0" role="button") Read&Write
										ul(class="jelect-options")
											li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") Read&Write
											li(class="jelect-option" data-val="1" tabindex="0" role="option") Read
											li(class="jelect-option" data-val="2" tabindex="0" role="option") Write
									a(href="javascript: void(0)" class="delete-item")
							tr
								td
									input(type="text" value="admin")
								td
									input(type="password" value="••••••••")
								td.jelect-td
									div(class="jelect table-jelect" role="select")
										input(id="" name="protocol" value="0" data-text="Read&Write" type="text" class="jelect-input")
										div(class="jelect-current" tabindex="0" role="button") Read&Write
										ul(class="jelect-options")
											li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") Read&Write
											li(class="jelect-option" data-val="1" tabindex="0" role="option") Read
											li(class="jelect-option" data-val="2" tabindex="0" role="option") Write
									a(href="javascript: void(0)" class="delete-item")
							tr
								td
									input(type="text" value="admin")
								td
									input(type="password" value="••••••••")
								td.jelect-td
									div(class="jelect table-jelect" role="select")
										input(id="" name="protocol" value="0" data-text="Read&Write" type="text" class="jelect-input")
										div(class="jelect-current" tabindex="0" role="button") Read&Write
										ul(class="jelect-options")
											li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") Read&Write
											li(class="jelect-option" data-val="1" tabindex="0" role="option") Read
											li(class="jelect-option" data-val="2" tabindex="0" role="option") Write
									a(href="javascript: void(0)" class="delete-item")

							tr
								td
									input(type="text" value="admin")
								td
									input(type="password" value="••••••••")
								td.jelect-td
									div(class="jelect table-jelect" role="select")
										input(id="" name="protocol" value="0" data-text="Read&Write" type="text" class="jelect-input")
										div(class="jelect-current" tabindex="0" role="button") Read&Write
										ul(class="jelect-options")
											li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") Read&Write
											li(class="jelect-option" data-val="1" tabindex="0" role="option") Read
											li(class="jelect-option" data-val="2" tabindex="0" role="option") Write
									a(href="javascript: void(0)" class="delete-item")

					.usb_item.usb_item-add-drive
						span.usb_item-name.usb_item-name__empty
						button(type="button" class="button button__ghost button__add-drive") Добавить
