header.section-header
	h1.section_name.section_name__iptv IP-TV
	span.section-header_buttons
		a(href="#home" class="button button__action") Назад
		a(href="javascript: void(0)" class="button button__cherry") Сохранить
section.iptv
	div.tab_section.items-2
		.tab.content-tabs_selected(data-tab-name="iptv-tab1") IP-TV
		.tab(data-tab-name="iptv-tab2") SIP
	section.internet_section(data-tab="iptv-tab1")
			.internet_section__wrapper
				div.internet_item.internet_item__port-linking.internet_item__help
					a(href="javascript: void(0)" data-definition-name="iptv").item-help
					span.internet_item-name Привязка к портам
					input(type="checkbox" id="port-linking" class="checkbox-small" checked)
					label(for="port-linking" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					div.extend-item.port-linking
						div.extend-item_holder
							span.internet_item-name LAN 1
							input(type="checkbox" id="port-linking_lan-1" class="checkbox-small" checked)
							label(for="port-linking_lan-1" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
						div.extend-item_holder
							span.internet_item-name LAN 2
							input(type="checkbox" id="port-linking_lan-2" class="checkbox-small" checked)
							label(for="port-linking_lan-2" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
						div.extend-item_holder
							span.internet_item-name LAN 3
							input(type="checkbox" id="port-linking_lan-3" class="checkbox-small" checked)
							label(for="port-linking_lan-3" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
						div.extend-item_holder
							span.internet_item-name LAN 4
							input(type="checkbox" id="port-linking_lan-4" class="checkbox-small" checked)
							label(for="port-linking_lan-4" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
				.internet_item.iptv-vlan
					span.internet_item-name VLAN
					input(type="checkbox" id="iptv-vlan" class="checkbox-small" checked)
					label(for="iptv-vlan" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					div.iptv-vlan-extend
						div.extend-item_holder
							span.internet_item-name VLAN ID
							input(type="text" class="input-text" id="iptv-vlan-id" maxlength="4")
							label(for="iptv-vlan-id" class="input-text_label") (0-4095)
						div.extend-item_holder
							span.internet_item-name 802.1p
							div(class="jelect" role="select")
								input(id="iptv-vlan" name="tool" value="0" data-text="0" type="text" class="jelect-input")
								div(class="jelect-current" tabindex="0" role="button") 0
								ul(class="jelect-options")
									li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 0
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
				.internet_item.igmp-proxy
					span.internet_item-name IGMP Proxy
					input(type="checkbox" id="igmp-proxy" class="checkbox-small" checked)
					label(for="igmp-proxy" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				.internet_item.v-igmp-proxy
					span.internet_item-name Версия IGMP Proxy
					div.internet_item-value
						div(class="itempick")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="v-igmp-proxy-1" name="v-igmp-proxy" checked="")
								label(for="v-igmp-proxy-1" class="itempick_label")
									span(class="itempick_value") v1
								input(type="radio" class="itempick_radio" id="v-igmp-proxy-2" name="v-igmp-proxy")
								label(for="v-igmp-proxy-2" class="itempick_label")
									span(class="itempick_value") v2
								input(type="radio" class="itempick_radio" id="v-igmp-proxy-3" name="v-igmp-proxy")
								label(for="v-igmp-proxy-3" class="itempick_label")
									span(class="itempick_value") v3
								b(class="itempick_slider")
				.internet_item.igmp-snoop
					span.internet_item-name IGMP Snooping
					input(type="checkbox" id="igmp-snoop" class="checkbox-small" checked)
					label(for="igmp-snoop" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
	section.internet_section(data-tab="iptv-tab2" hidden)
			.internet_section__wrapper
				div.internet_item.internet_item__port-linking.internet_item__help
					a(href="javascript: void(0)" data-definition-name="iptv").item-help
					span.internet_item-name Привязка к портам
					input(type="checkbox" id="sip-port-linking" class="checkbox-small" checked)
					label(for="sip-port-linking" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					div.extend-item.port-linking
						div.extend-item_holder
							span.internet_item-name LAN 1
							input(type="checkbox" id="sip-port-linking_lan-1" class="checkbox-small" checked)
							label(for="sip-port-linking_lan-1" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
						div.extend-item_holder
							span.internet_item-name LAN 2
							input(type="checkbox" id="sip-port-linking_lan-2" class="checkbox-small" checked)
							label(for="sip-port-linking_lan-2" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
						div.extend-item_holder
							span.internet_item-name LAN 3
							input(type="checkbox" id="sip-port-linking_lan-3" class="checkbox-small" checked)
							label(for="sip-port-linking_lan-3" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
						div.extend-item_holder
							span.internet_item-name LAN 4
							input(type="checkbox" id="port-linking_lan-4" class="checkbox-small" checked)
							label(for="port-linking_lan-4" class="checkbox-small_label flipswitch-fade")
								span.checkbox-small_value
								span.checkbox-small_slider
				.internet_item.iptv-vlan
					span.internet_item-name VLAN
					input(type="checkbox" id="sip-iptv-vlan" class="checkbox-small" checked)
					label(for="sip-iptv-vlan" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
					div.iptv-vlan-extend
						div.extend-item_holder
							span.internet_item-name VLAN ID
							input(type="text" class="input-text" id="sip-iptv-vlan-id" maxlength="4")
							label(for="sip-iptv-vlan-id" class="input-text_label") (0-4095)
						div.extend-item_holder
							span.internet_item-name 802.1p
							div(class="jelect" role="select")
								input(id="sip-iptv-vlan" name="tool" value="0" data-text="0" type="text" class="jelect-input")
								div(class="jelect-current" tabindex="0" role="button") 0
								ul(class="jelect-options jelect-options_state_active")
									li(class="jelect-option jelect-option_state_active" data-val="0" tabindex="0" role="option") 0
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
									li(class="jelect-option" data-val="1" tabindex="0" role="option") 1
				.internet_item.igmp-proxy
					span.internet_item-name IGMP Proxy
					input(type="checkbox" id="sip-igmp-proxy" class="checkbox-small" checked)
					label(for="sip-igmp-proxy" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider
				.internet_item.v-igmp-proxy
					span.internet_item-name Версия IGMP Proxy
					div.internet_item-value
						div(class="itempick")
							div(class="itempick_holder items-3")
								input(type="radio" class="itempick_radio" id="sip-v-igmp-proxy-1" name="sip-v-igmp-proxy" checked="")
								label(for="sip-v-igmp-proxy-1" class="itempick_label")
									span(class="itempick_value") v1
								input(type="radio" class="itempick_radio" id="sip-v-igmp-proxy-2" name="sip-v-igmp-proxy")
								label(for="sip-v-igmp-proxy-2" class="itempick_label")
									span(class="itempick_value") v2
								input(type="radio" class="itempick_radio" id="sip-v-igmp-proxy-3" name="sip-v-igmp-proxy")
								label(for="sip-v-igmp-proxy-3" class="itempick_label")
									span(class="itempick_value") v3
								b(class="itempick_slider")
				.internet_item.igmp-snoop
					span.internet_item-name IGMP Snooping
					input(type="checkbox" id="sip-igmp-snoop" class="checkbox-small" checked)
					label(for="sip-igmp-snoop" class="checkbox-small_label flipswitch-fade")
						span.checkbox-small_value
						span.checkbox-small_slider

