.preload {
  position: relative;
  top: 64px;
  left: -22px;
  width: 170px;
  transform-origin: center;
  transform: rotate(72deg) scale(.4);
}

.preload_item {
  width: 100%;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  transform-origin: bottom;
}
.preload_item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 48px;
  background-color: #564243;
  transform: rotate(108deg);
  border-radius: 18px;
  animation: spin 2s infinite;
  animation-fill-mode: forwards;
}
.preload_item:nth-child(1) {
  transform: rotate(30deg);
}
.preload_item:nth-child(1):after {
  animation-delay: 0.18519s;
}
.preload_item:nth-child(2) {
  transform: rotate(60deg);
}
.preload_item:nth-child(2):after {
  animation-delay: 0.37037s;
}
.preload_item:nth-child(3) {
  transform: rotate(90deg);
}
.preload_item:nth-child(3):after {
  animation-delay: 0.55556s;
}
.preload_item:nth-child(4) {
  transform: rotate(120deg);
}
.preload_item:nth-child(4):after {
  animation-delay: 0.74074s;
}
.preload_item:nth-child(5) {
  transform: rotate(150deg);
}
.preload_item:nth-child(5):after {
  animation-delay: 0.92593s;
}
.preload_item:nth-child(6) {
  transform: rotate(180deg);
}
.preload_item:nth-child(6):after {
  animation-delay: 1.11111s;
}
.preload_item:nth-child(7) {
  transform: rotate(210deg);
}
.preload_item:nth-child(7):after {
  animation-delay: 1.2963s;
}
.preload_item:nth-child(8) {
  transform: rotate(240deg);
}
.preload_item:nth-child(8):after {
  animation-delay: 1.48148s;
}
.preload_item:nth-child(9) {
  transform: rotate(270deg);
}
.preload_item:nth-child(9):after {
  animation-delay: 1.66667s;
}
.preload_item:nth-child(10) {
  transform: rotate(300deg);
}
.preload_item:nth-child(10):after {
  animation-delay: 1.85185s;
}
.preload_item:nth-child(11) {
  transform: rotate(330deg);
}
.preload_item:nth-child(11):after {
  animation-delay: 2.03704s;
}
.preload_item:nth-child(12) {
  transform: rotate(360deg);
}
.preload_item:nth-child(12):after {
  animation-delay: 2.22222s;
}

@keyframes spin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
