.admin {
	.input-text {
		border-radius: 2px;
	}

	.itempick {
		border-radius: 4px;
	}

	pre {
		font-size: 11px;
		font-family: 'Roboto';
		font-weight: 300;
		letter-spacing: -0.05px;
	}
}

.admin_item .jelect {
	width: 210px;
	height: 37px;

	.jelect-current {
		font-size: 16px;
		padding: 0 36px 0 14px;
		font-weight: 500
		line-height: 33px;
		letter-spacing: -0.2px;

		&:after {
			width: 36px;
			bottom: 0;
			background-size: 11px 8px;
		}
	}

	.jelect-option {
		height: 37px;
		line-height 37px
		font-size: 16px;
		padding-left: 14px
		font-weight: 300;
	}

	.jelect-options {
		border-top: 0;
		margin-top 0
		width: 100%;
		left: 0%;
	}
}

.jelect_state_active {
	.jelect-options {
		display block;
	}
	.jelect-current {
		overflow: visible
	}
}

.admin_status {
	float: left;
	margin-left: 35px;
}

.section_name.section_name__admin {
	float: left;
	padding-left: 56px;
	letter-spacing: -1.3px;

	&:after {
		margin-top: -18px;
		left: 5px;
		height: 37px;
		background: url('../images/admin-section-logo.png') no-repeat;
		background-position: 0 0;
		background-size: 33px;
	}
}

// items settings
.admin-radiomodule {
	margin-top 35px;
}

.item__admin-ssid,
.canal-value,
.item-mac-filter {
	padding-top: 25px;
	border-top: 2px solid #d7c0c0;
	border-bottom: 2px solid #d7c0c0;
	margin-bottom: 25px;
}

.item__preambula,
.item__agregation,
.item__stbc,
.item__admin-fragment,
.item__admin-rts,
.item__wmm,
.item__admin-freq-ssid {
	padding-top: 25px;
	border-top: 2px solid #d7c0c0;
}

.item__admin-guestlan,
.item__admin-freq-ssid {
	border-bottom: 2px solid #d7c0c0;
	margin-bottom: 25px;
}

.extend-item__encryption-type {
	height 85px;
	overflow: visible;
}

.radiomodule-settings {
	padding-top 30px;
}

#admin-connection-limit:checked ~ .admin-connection-limit {
	height: 40px;
}

.button__add-mac {
	width: 225px;
	height: 45px;
	font-size: 16px;
	border: 1px solid;
	font-weight: 400;
	text-align: center;
	padding 0;
	margin-top 10px;
}

.input-text__mac {
	margin-top 6px;
	width: 390px;
	border-radius: 2px;
}

.itempick__access {
	margin-bottom 30px
}

.item_input-text__dns {
	position: relative;
}

.remove-text {
	position absolute;
	width: 25px;
	height: 25px;
	right: 6px;
	top: 50%;
	margin-top: -10.5px;
	fill: #ae2b44;
	transition: transform .2s;
	transform-origin: center;

	&:hover {
		transform: rotate(90deg);
		cursor: pointer;
	}
}

.freq-max {
	margin-bottom 35px;
}

.guest-encryption {
	padding-bottom: 6px;
}

.admin {
	clear: both
}

.section_name__admin {
	&:after {
		left: 10px;
		margin-top: -16px;
		width: 32px;
		height: 30px;
		background: url('../images/admin-section-logo.png') no-repeat;
		background-size: 30px;
	}
}

.section-header_buttons
	float: right

	.button__action
		width: 106px
		height: 43px
		transform: translateX(-5px)
		&:hover {
			background-color: rgba(174, 45, 68, .1)
		}
	.button__cherry
		width: 170px;
		height: 43px

.section_name__admin {
	float left
}

.admin_section {
	/*background-color: rgba(255,255,255,.72);*/
	/*padding-top: 39px;*/

	.jelect-current {
		box-shadow: 0 0 1px #91767b;
	}
}

.admin_section__wrapper {
	padding: 0 60px 30px 60px;
	padding-top: 39px;
	/*background-color: rgba(255, 255, 255, .72);*/
	background-color: #fff;
	opacity: .73;
}

.admin_item {
	padding-bottom: 25px;
	clear: both;

	&-manual-options {
		display: none
		padding-bottom: 0
	}

	&__manual-date {
		margin-top: 4px;
		padding-bottom: 7px;
	}

	&__manual-time {
		padding-bottom: 3px
	}

	&-ntp-options, &__ntp-server {
		padding-bottom: 0
	}

	&-ntp-options {
		/*display: none*/
	}

	&__ntp-server, &__timezone, &__manual-time, &__manual-date, &__pingqty {
		.admin_item-name {
			font-weight: 300
		}
	}

	&__timezone {
		margin-top: 6px;
		margin-bottom: -17px;
	}

	&__manual-day.jelect {
		width: 96px
		height: 36px;
		position: relative;
		left: 3px;
		.jelect-current {
			padding-left: 11px;
			padding-top: 1px;
		}
	}

	&__manual-month.jelect {
		position: relative;
		left: 6px;
		width: 205px;
		height: 36px;
		.jelect-current {
			padding-top: 1px;
			padding-left: 10px;
			letter-spacing: -0.4px;
		}
	}

	&__manual-year.jelect {
		width: 111px
		height: 36px;
		position: relative;
		left: 11px;
		.jelect-current {
			padding-top: 1px;
			padding-left: 10px;
			letter-spacing: -2.1px;
		}
	}

	&__netstatbtns {
		text-align: center
		margin-top: 57px;
	}

	&__tracertip {
		margin-top: 45px;
		padding-bottom: 9px;
	}

	&__pinglog-wrap {
		padding-bottom: 23px;
		margin-bottom: -23px;
		border-bottom: 1px solid #C9B8B9
	}

	&__netstatlog-wrap {
		padding-bottom: 23px;
		padding-top: 24px;
		margin-bottom: 39px;
		border-top: 1px solid #C9B8B9
		border-bottom: 1px solid #C9B8B9
	}

	&__tracertlog-wrap {
		padding-top: 24px;
		padding-bottom: 23px;
		margin-bottom: 38px;
		border-bottom: 1px solid #C9B8B9
		border-top: 1px solid #C9B8B9
	}

	&__pingqty {
		margin-top: 8px;
	}

	&__pingbtns {
		margin-top: 22px;
		margin-bottom: 23px;
		border-bottom: 1px solid #C9B8B9
		padding-bottom: 27px;
	}

	&__current-time {
		width: 100% !important
		font-weight: 400
		letter-spacing -.2px
		margin-bottom: 26px;
	}

	&__change {
		padding-bottom: 25px
	}

	&__confirm {
		padding-top: 6px;
	}

	&__connect-type {
		margin-top: 35px;
	}

	&__time, &__uptime {
		.item__sub {
			width: 100%
			font-weight: 400;
			letter-spacing: -0.1px;
		}
	}

	&__time {
		margin-bottom: 12px;
	}

	&__time-title, &__uptime-title {
		font-weight: 300 !important
	}

	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}

.admin_item .checkbox-small_label {
	width: 65px;
	height: 24px;
	transform: translateY(7px);
	.checkbox-small_value:after {
		font-size: 12px;
	}
	.checkbox-small_slider:after {
		width: 14px;
		height: 14px;
		border-radius 3px
		margin-top: -7px
	}
}

.admin_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_slider:after {
	left: 37px;
}

.admin_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
	content: 'on';
	left: -15px;
}

.admin_item-name {
	color: #8b6e74;
	width: 250px;
	font-size: 17px
	float: left;
	font-weight 500;
	line-height: 21px;
	letter-spacing: -0.9px;
}

.extend-item {
	height: 0;
	overflow: hidden;
	margin-top: 25px;
	line-height 37px
	transition: height .4s, overflow .4s;

	.admin_item-name {
		font-family: 'Roboto';
		font-weight 300;
	}

	&__dns {
		height: 100px;
		overflow visible
	}
}

.admin_item-value {
	display inline-block
	width: 427px;
}

.admin_item__primary-dns {
	padding-bottom 10px;
}

// separators
.admin_item__connect-type__second,
.admin_item__dns-mode,
.admin_item__vlan, .admin_item__eap,
.admin_item__path {
	border-bottom: 1px solid #d7c0c0
	margin-bottom: 25px;
}

.admin_item__connect-type__second,
.admin_item__eap, .admin_item__path {
	padding-top: 25px;
	border-top: 1px solid #d7c0c0
}

.admin_item__eap {
	padding-bottom 0;
}

.extend-item_holder {
	padding-top: 6px
	clear: both
	&:first-child {
		padding-top 0
	}
}

.sub-item {
	font-family 'Roboto'
	font-weight 300
}

// state
.admin_item__provider .checkbox-small:checked ~ .extend-item,
#cabinet:checked ~ .extend-item {
	height: 37px;
	overflow: visible
}

.admin_item__vlan .checkbox-small:checked ~ .extend-item {
	height: 83px;
	overflow visible
}

.button__copy-mac {
	padding: 0 30px;
	border-radius 4px;
}

.admin_item-name__empty {
	min-height: 2px;
}

.item__sub {
	font-weight 300;
	font-family 'Roboto';
}

.button__admin-settings {
	height: 49px;
	padding: 0 30px;
	font-size: 17px
	position: relative;
	left: 3px;
	width: 428px;
	border-radius: 6px
}

.button__log {
	display: inline-block
	padding: 0 40px;
	height: 45px;
	font-size: 15px;
	border-radius: 6px;
	font-weight: 300
	font-family: 'Roboto';
}

.item__admin-sysjournal-btns {
	margin-top: 30px;
	border-top: 1px solid #C9B8B9
	padding-top: 24px;

	button:nth-child(3) {
		float: right
	}
}

.admin_time_journal {
	border-bottom: 1px solid #C9B8B9
	padding-bottom: 16px;
	margin-bottom: 23px;

	.admin_item-name {
		font-weight: 300
	}
}

.item__admin {

	&-syslog, &-pinglog, &-tracertlog, &-netstatlog {
		height: 143px;
		overflow-y: scroll;
	}

	&-refresh {
		padding-top: 31px;
		padding-bottom: 39px;
		.admin_item-name {
			position: relative;
			top: 3px;
			left: 0px;
			letter-spacing: -0.2px;
			line-height: 19px;
		}
	}

	&-password {
		border-bottom: 1px solid #C9B8B9
		padding-bottom: 4px
	}

	&-update {
		border-bottom: 1px solid #C9B8B9
		padding-bottom: 36px
		.admin_item-name {
			position: relative;
			top: 3px;
			left: -3px;
			letter-spacing: -0.2px;
			line-height: 20px;
		}
	}

	&-time {
		padding-bottom: 24px;
		padding-top: 31px;
	}

	&-import {
		margin-top: 9px;
		padding-bottom: 27px
		border-bottom: 1px solid #C9B8B9
	}

	&-export-import {
		border-top: 1px solid #C9B8B9
		padding-bottom: 36px
		padding-top: 29px;
	}
}

/*========================================================================================================*/

.page-admin {
	.jspContainer {
		overflow: hidden;
		position: relative;
	}
	.jspDrag {
		width: 7px
		-webkit-border-radius: 25px
		-moz-border-radius: 25px
		border-radius: 27px
		background #8A6C73
		position: relative;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	.jspPane {
		position: absolute;
	}

	.jspVerticalBar {
		position: absolute;
		top: 0;
		right: 0;
		width: 16px;
		height: 100%;
	}

	.jspHorizontalBar {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 16px;
	}

	.jspCap {
		display: none;
	}

	.jspHorizontalBar .jspCap {
		float: left;
	}

	.jspTrack {
		position: relative;
	}

	.jspDrag {
		position: relative;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	.jspHorizontalBar .jspTrack,
	.jspHorizontalBar .jspDrag {
		float: left;
		height: 100%;
	}

	.jspArrow {
		background: #50506d;
		text-indent: -20000px;
		display: block;
		cursor: pointer;
		padding: 0;
		margin: 0;
	}

	.jspArrow.jspDisabled {
		cursor: default;
	}

	.jspVerticalBar .jspArrow {
		height: 16px;
	}

	.jspHorizontalBar .jspArrow {
		width: 16px;
		float: left;
		height: 100%;
	}

	.jspVerticalBar .jspArrow:focus {
		outline: none;
	}

	.jspCorner {
		background: #eeeef4;
		float: left;
		height: 100%;
	}

	* html .jspCorner {
		margin: 0 -3px 0 0;
	}

}

.ping-settings {
	padding-top: 5px
	padding-bottom: 31px;
}

.infinity-sign {
	background url('../images/infinity.png') 41px 8px no-repeat
	background-size: 18px;
	font-size: 25px !important
	font-family: 'Roboto';
	width: 100px;
	height: 21px;
	line-height: 24px !important
	transition background-image .4s !important
}

#ping-infinity:checked + label .infinity-sign {
	background url('../images/infinity-selected.png') 41px 8px no-repeat
	background-size: 18px;
}

#ntp-sync:checked ~ .admin_item-ntp-options {
	transition all .4s
}

#manual-sync:checked ~ .admin_item-manual-options {
	transition all .4s
}

.IE {
	.page-admin {
		.button__log {
			display: inline-block
		}
	}
}

// pp fixes
.admin_item__change {
	margin-top 10px;
	padding-bottom: 34px;

}

.admin_item__password {
	padding-bottom: 2px;
	transform: translateY(-2px);
	.input-text {
		transform: translateY(-2px);
	}
}

.jelect.admin_item__timezone-select {
	width: 433px;
	transform: translateY(-3px);
}

.admin_item__ntp-server {
	.input-text {
		transform translateY(-4px);
		width: 195px;
		font-weight 500
	}
}

.item__admin-time {
	.itempick {
		position: relative;
		left: 2px;
		top: -1px;
		transform translateY(-2px);
	}
}

.item__admin-export-import {
	padding-top 28px;
	& > .admin_item-name {
		transform: translateY(12px);
		letter-spacing: -0.3px;
		word-spacing: 2px;
		line-height: 20px
	}
}

.admin_item__current-time-2 {
	margin-top 12px;
}

.admin_time_journal {
	margin-top 13px;
}

.item__admin-sysjournal-btns {
	margin-top 24px;
	padding-bottom: 23px;
}

.admin_item__pingqty {
	& > .admin_item-name {
		transform: translateY(9px);
	}
}

.page-admin {

	[data-tab-name="admin-tab1"] {
		padding-left: 12px;
		padding-top: 2px;
		letter-spacing: -0.2px;
	}

	[data-tab-name="admin-tab2"] {
		padding-left: 9px;
		padding-top: 2px;
		letter-spacing: -0.5px;
	}

	.admin_item__confirm {
		.input-text {
			position: relative;
			top: 1px;
			left: -1px;
		}
	}

	.item__admin-password {
		.admin_item-name:nth-child(1) {
			letter-spacing: -0.9px;
			position: relative;
			top: 1px;
			left: -1px;
		}
		.admin_item-name:nth-child(2) {
			letter-spacing: -0.7px;
			position: relative;
			left: -1px;
			top: 1px;
		}
		.input-text {
			position: relative;
			left: 2px;
			top: -1px;
			height: 36px;
			width: 209px;
		}
	}

	.admin_item__change {
		.admin_item-name {
			letter-spacing -.1px !important
			position: static !important
		}
	}

	.admin_item__current-time {
		font-weight: 400;
		letter-spacing: -0.2px;
		position: relative;
		top: -2px;
		left: 1px;
	}

	.admin_item__sync {
		padding-top: 3px;
	}

	.admin_item__sync + .admin_item-name {
		word-spacing: 1px;
	}

	.itempick_value {
		line-height: 14px;
		padding-left: 3px;
	}

	#pc-time + label span {
		letter-spacing: -1px;
		padding-left: 4px;
		word-spacing: 3px;
	}

	#manual-sync + label span {
		letter-spacing: -0.5px;
		position: relative;
		left: 1px;
	}

	.admin_item__timezone {
		.admin_item-name {
			position: relative;
			top: 2px;
			letter-spacing: -0.7px;
		}

		.jelect {
			position: relative;
			left: 3px;
			width: 428px;
			top: 1px;
			height: 36px;
		}
	}

	.admin_item__ntp-server {
		.admin_item-name {
			letter-spacing: -0.6px;
		}

		.input-text {
			position: relative;
			left: 3px;
			top: 1px;
			height: 36px;
			width: 191px;
			letter-spacing: 0.7px;
			padding-bottom: 2px;
		}
	}

	.item__admin-time-title {
		letter-spacing -.4px
	}

	#export-settings {
		padding-left: 33px
		letter-spacing: -0.6px;
		word-spacing: 0.8px;
	}

	#import-settings {
		padding-left: 30px;
		letter-spacing: -0.8px;
		word-spacing: 1.3px;
	}

	#update-firmware {
		padding-left: 30px;
		letter-spacing: -0.9px;
		word-spacing: 1.8px;
		position: relative;
		top: -1px;
		width: 430px;
	}

	#recover {
		padding-left: 31px;
		letter-spacing: -0.6px;
		position: relative;
		top: -1px;
		width: 430px;
	}

	.admin_item__manual-date {
		.jelect-current {
			font-weight 300
			font-size 15px
		}

		.admin_item-name {
			position: relative;
			top: 4px;
		}
	}

	.admin_item__manual-time {
		.admin_item-name {
			position: relative;
			top: 3px;
			left: -1px;
			letter-spacing: -0.6px;
		}

		.input-text {
			position: relative;
			left: 3px;
			width: 191px;
			height: 36px;
		}
	}

	.admin_item__time-title {
		position: relative;
		top: -1px;
		left: -2px;
		letter-spacing: -1.1px;
		word-spacing: 1.1px;
	}

	.admin_item__time {
		.admin_item-name {
			font-weight: 400;
			letter-spacing: -0.2px;
			position: relative;
			top: -3px;
			left: 1px;
		}
	}

	.admin_item__uptime {
		.admin_item-name {
			font-weight: 400;
			letter-spacing: -0.3px;
			position: relative;
			top: -3px;
			left: 1px;
		}
	}

	.admin_item__uptime-title {
		letter-spacing: -0.8px;
	}

	.admin_time_journal {
		.admin_item-name {
			position: relative;
			top: -1px;
			letter-spacing: -0.8px;
			word-spacing: 1.1px;
		}
	}

	.jspContainer {
		width: 689px !important
	}

	#admin-save {
		position: relative;
		width: 160px;
		height: 44px;
		box-sizing: border-box;
		padding-left: 36px;
		border-radius: 5px;
		letter-spacing: -0.2px;
	}

	#admin-clear {
		width: 162px;
		height: 43px;
		position: relative;
		box-sizing: border-box;
		padding-left: 39px;
		letter-spacing: -0.2px;
		left: 1px;
		top 1px
		border-radius: 4px
		line-height: 15px;
	}

	#admin-refresh {
		position: relative;
		left: -1px;
		top: -1px;
		width: 159px;
		height: 44px;
		padding-left: 41px;
	}

	.accordion[data-section-name="ping"] {
		height: 83px;
		line-height: 13px;
		letter-spacing: -1px;

		&:after {
			top 48%
		}
	}

		[data-section="ping"] {
			.input_hint {
				top: 29px;
				left: 516px;
			}
		}

		[data-section="traceroute"] {
			.input_hint {
				top: 50px;
				left: 516px;
			}
		}

	.ping-settings {
		position: relative;

		.item__sub {
			position: relative;
			top: 2px;
			letter-spacing: -0.9px;
		}

		.input-text {
			position: relative;
			left: 2px;
			width: 207px;
			height: 36px;
		}

	}

	.admin_item__pingqty {
		.admin_item-name {
			letter-spacing: -0.9px;
			word-spacing: 1px;
		}

		.itempick {
			position: relative;
			top: -1px;
			left: 3px;
		}
	}

	.items-4 .itempick_slider {
		width: 24.7%;
	}

	#ping-infinity + label {
		width: 25%;
	}

	#admin-start-ping {
		position: relative;
		left: 2px;
		width: 160px;
		height: 44px;
		padding-left: 34px;
		letter-spacing: -0.4px;
	}

	#admin-stop-ping {
		padding-left: 31px;
		position: relative;
		left: 3px;
		width: 161px;
		letter-spacing: 0px;
		top: 1px;
		height: 43px;
		line-height: 15px;
		border-radius: 4px;
	}

	.accordion[data-section-name="traceroute"] {
		height: 85px;
		line-height: 15px;
		letter-spacing: -1.1px;

		&:after {
			top: 48%
		}
	}

	.accordion[data-section-name="netstat"] {
		height: 83px;
		line-height: 15px;
		letter-spacing: -.9px;

		&:after {
			top: 48%
		}
	}

	.admin_item__tracertip {
		.item__sub {
			position: relative;
			top: 3px;
		}

		.input-text {
			position: relative;
			top: 1px;
			left: 2px;
			width: 207px;
			height: 36px;
		}
	}

	#admin-start-trace {
		position: relative;
		top: 3px;
		left: 2px;
		width: 159px;
		height: 44px;
		border-radius: 4px;
		padding-left: 35px;
		letter-spacing: -0.3px;
	}

	#admin-stop-trace {
		position: relative;
		top: 4px;
		left: 4px;
		width: 162px;
		height: 43px;
		border-radius: 4px;
		padding-left: 31px;
		line-height: 15px;
	}

	.admin_item__traceroutebtns {
		padding-bottom: 30px;
	}

	[data-section="traceroute"] {
		padding-bottom 29px
	}
	#admin-start-netstat {
		position: relative;
		left: -3px;
		width: 159px;
		top: 2px;
		height: 44px;
		letter-spacing: -0.5px;
		padding-left: 35px;
		line-height: 16px;
	}

	#admin-stop-netstat {
		position: relative;
		width: 161px;
		top: 2px;
		height: 44px;
		padding-left: 30px;
		border-radius: 5px;
	}

	[data-section="netstat"] {
		padding-bottom: 34px;
	}

	.items-3 .itempick_slider {
		width: 33.23333%;
	}
	.items-3 .itempick_radio:nth-of-type(2):checked ~ .itempick_slider {
		left: 33.93333%;
	}
}
