.page-homelan {
	.input-text_label {
		margin-left: 5px;
		padding-right: 5px;
		padding-left: 17px;
		letter-spacing: 0.3px;
	}
}

.homelan {
	clear: both
}

.section_name__homelan {
	padding-left 56px;
	letter-spacing: -1.5px;
	word-spacing: 4px;
	&:after {
		left: 6px;
		margin-top: -18px;
		width: 32px;
		height: 30px;
		background: url('../images/home-section-logo.png') no-repeat;
		background-size: 30px;
	}
}

.section-header_buttons
	float: right

	.button__action
		width: 106px
		height: 43px
		transform: translateX(-5px)
		&:hover {
			background-color: rgba(174, 45, 68, .1)
		}
	.button__cherry
		width: 170px;
		height: 43px

.section_name__homelan {
	float left
}

.homelan_section {
	/*background-color: rgba(255,255,255,.72);*/
	/*padding-top: 55px;*/

	.jelect-current {
		box-shadow: 0 0 1px #91767b;
	}
}

.homelan_item__globalipv6 {
	margin-bottom: 50px;
}

.homelan_item__radvdmode {
	margin-bottom: 90px;
}

.homelan_section__wrapper {
	/*background-color: rgba(255, 255, 255, .72);*/
	background-color: #fff;
	opacity: .73;
	padding: 0 60px 31px 60px;
	padding-top: 55px;
}

.homelan-dhcp-options, .homelan-dnsrelay-options, .homelan-radvd-options, .homelan-dhcpv6-options, .homelan-dhcp-options-relay {
	display: none
}

.homelan_item {
	padding-bottom: 25px;
	clear: both;

	&__dhcpv6-switch {
		padding-bottom: 20px
	}

	&__radvd {
		padding-bottom: 20px
	}

	&__mask {
		padding-bottom: 12px
	}

	&__address {
		padding-top: 6px;
		padding-bottom: 12px;
	}

	&__help {
		position: relative;
	}

	&__alias-mask {
		padding-bottom: 27px
	}

	&__dnsrelay, &__tunnel {
		.homelan_item-title {
			font-weight: 500;
		}
	}

	&__dhcp {
		padding-top: 28px !important;
		padding-bottom: 19px !important;

		.homelan_item-title {
			line-height: 30px;
			font-weight: 500;
			letter-spacing .2px
		}

		.itempick {
			width: 429px;
		}
	}

	&__radvd, &__dhcpv6-switch {
		.homelan_item-name {
			font-weight: 500;
		}
	}

	&__prefix {
		padding-top: 20px;
	}

	&__address-start {
		padding-top: 20px
	}

	&__server-ip-address {
		padding-top: 20px
	}

	&__rdprefix {
		padding-top: 27px;
	}
}

.homelan_item .checkbox-small_label {
	width: 65px;
	height: 24px;
	transform: translateY(7px);
	.checkbox-small_value:after {
		font-size: 11px;
	}
	.checkbox-small_slider:after {
		width: 14px;
		height: 14px;
		border-radius 3px
		margin-top: -7px
	}
}

.homelan_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_slider:after {
	left: 37px;
}

.homelan_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
	content: 'on';
	left: -15px;
}

.homelan_item-name {
	float: left;
	width: 250px;
	font-size: 17px;
	font-weight: 300;
	line-height: 18px;
	color: #8b6e74;
	font-family: 'Roboto', sans-serif;
	letter-spacing -.6px
}

.homelan_item .jelect {
	width: 208px;
	height: 36px;

	.jelect-current {
		font-size: 16px;
		padding: 0 36px 0 14px;
		line-height: 33px;
		letter-spacing: -0.8px;
		&:after {
			width: 36px;
			bottom: 0;
			background-size: 11px 8px;
		}
	}

	.jelect-option {
		height: 37px;
		line-height 37px
		font-size: 16px;
		padding-left: 14px
		font-weight: 300;
	}

	.jelect-options {
		border-top: 0;
		margin-top 0
		width: 100%;
		left: 0%;
	}
}

.jelect_state_active {
	.jelect-options {
		display block;
	}
	.jelect-current {
		overflow: visible
	}
}

.extend-item {
	height: 0;
	overflow: hidden;
	margin-top: 25px;
	line-height 37px
	transition: height .4s, overflow .4s;

	.homelan_item-name {
		font-family: 'Roboto';
		font-weight 300;
	}

}

.homelan_item-value {
	display inline-block
	width: 427px;
}

.homelan_item__ipaddress, .homelan_item__mask {
	padding-bottom 10px;
}

// separators
.homelan_item__dhcp {
	border-bottom: 1px solid #c9b8b9
	margin-bottom: 25px;
}

.homelan_item__dhcpv6-mode,
.homelan_item__radvdmode {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9;
}

.homelan_item__dhcp,
.homelan_item__dnsrelay {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9
}

.homelan_item__dnsrelay {
	padding-bottom 0;

	.item-help {
		top: 16px;
		right: -39px;
	}
}

.homelan-dnsrelay-options {
	width: 100%
	padding-top: 25px;
	padding-bottom: 10px;
}

.extend-item_holder {
	padding-top: 6px
	clear: both
	&:first-child {
		padding-top 0
	}
}

.sub-item {
	font-family 'Roboto'
	font-weight 300
}

// state
.homelan_item__address .checkbox-small:checked ~ .extend-item,
#cabinet:checked ~ .extend-item {
	height: 37px;
	overflow: visible
}

.homelan_item__lans .checkbox-small:checked ~ .extend-item {
	height: 83px;
	overflow visible
}

.homelan_item-name__empty {
	min-height: 2px;
}

.advanced-settings {
	padding-bottom 30px
	padding-top: 60px;
}

.reserve-table {
	margin-top: 32px;
	margin-bottom: 20px
	width: 100%
	color: #8b6e74;

	tr:hover:not(.table-header) {
		.delete-item {
			opacity 1;
		}
	}

	td {
		overflow hidden
		position relative
	}

	input {
		position: relative;
		left: 30px;
		width: 166px;
		border: none
		background: rgba(0, 0, 0, 0);
		color: #8b6e74;
		letter-spacing: 0.1px;
	}

	th {
		padding-top: 12px;
		padding-bottom: 10px;
		background #D0BABC
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 14px;
		text-align left

		&:nth-of-type(1), &:nth-of-type(2) {
			width: 208px;
			padding-left: 28px;
			letter-spacing: -0.1px;
		}

		&:nth-of-type(3) {
			padding-left: 31px;
			letter-spacing: -0.6px;
		}
	}

	td, th {
		box-sizing border-box
		border 1px #D0BABC solid
	}

	td {
		padding-top: 7px;
		padding-bottom: 7px;
		font-size: 15px;
		font-weight: bold;
	}

	td:nth-child(1) {
		padding-left 0px;
		letter-spacing: -1px;
		word-spacing: 2.2px;
	}

	td:nth-child(2) {
		padding-left 0px;
		letter-spacing: -1px;
		word-spacing: 2.2px;
	}

	td:nth-child(3) {
		padding-left 4px;
	}
}

.homelan_item {
	padding-bottom: 6px;
	clear: both;

	&__rent-time {
		.item-help {
			top: 4px;
			right: -145px;
			background-size: 19px;
		}
	}

	&__reserve {
		padding-bottom: 27px;

		.homelan_item-name {
			line-height: 20px;
			position: relative;
			top: 4px;
			letter-spacing: -0.1px;
		}

		&-delete {
			float: right;
			width: auto;
			text-transform: uppercase;
			font-size: 16px;
			font-family: 'Roboto';
			text-decoration: none;
			color: #B63F56;
			letter-spacing: -0.7px;
			padding-top: 17px;
			margin-right: 7px;
		}
	}

	&__reserve {
		position: relative
		padding-top: 3px;

		.homelan_item-name {
			font-weight: 500
		}

		.homelan_item-name__empty {
			width: 469px;
		}
	}

}

.homelan_item .checkbox-small_label {
	width: 65px;
	height: 24px;
	transform: translateY(7px);
	.checkbox-small_value:after {
		font-size: 12px;
	}
	.checkbox-small_slider:after {
		width: 16px;
		height: 16px;
		border-radius: 3px;
		margin-top: -8px;
		left: -2px;
	}
}

.homelan_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_slider:after {
	left: 37px;
}

.homelan_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
	content: 'on';
	left: -8px;
}

.button__add-address {
	padding: 0 69px;
	height: 44px;
	border-radius: 5px;
	position: relative;
	top: 1px;
	left: 2px;
	padding-left: 66px;
	letter-spacing: -0.1px;
	font-size: 15px;
	padding-right: 66px;
}

// pp fixes
.homelan_item-name {
	width 253px;
}

.homelan_item__ipaddress > .homelan_item-value,
.homelan_item__mask > .homelan_item-value {
	transform: translateY(-10px);
}

.homelan_item.homelan_item__mask {
	padding-bottom: 13px;
}

.homelan-dhcp-options, .homelan-dhcp-options-relay {
	margin-top 3px;
}

.homelan-dhcp-options .homelan_item-name, .homelan-dhcp-options-relay .homelan_item-name {
	line-height 31px;
}

.homelan_item__reserve > .homelan_item-name {
	transform translateY(-4px);
}

.homelan_item__alias-ip {
	margin-top: 10px;

	.homelan_item-value {
		transform: translateY(-10px);
	}
}

.homelan_item__alias-mask {
	padding-bottom 20px;
	.homelan_item-value {
		transform: translateY(-10px);
	}
}

.homelan_item__dnsrelay {
	padding-top 27px;

	& > .homelan_item-title {
		transform translateY(6px);
		letter-spacing: 0.3px;
	}
}

.homelan_item__lans {
	.jelect {
		transform: translateY(-7px);
	}
	.jelect-current {
		font-weight 500
	}
}

.homelan_item__radvd {
	padding-bottom 32px;

	& > homelan_item-name {
		transform translateY(5px)
	}
}

.homelan_item__globalipv6 {
	.homelan_item-name {
		transform translateY(4px)
		letter-spacing: -0.9px;
		word-spacing: 1px;
	}
	.input-text {
		transform: translateY(-4px);
		height: 36px
	}
}

.homelan_item__radvd {
	.homelan_item-name {
		transform translateY(6px);
		letter-spacing: -0.1px;
	}

	.checkbox-small_label {
		transform: translateY(4px);
		position: relative;
		left: -1px;
	}
}

.homelan_item__radvdmode {
	.homelan_item-name {
		transform translateY(8px);
		letter-spacing: -1.2px;
		position: relative;
		top: 1px;
		word-spacing: 2px;
	}

	.input-text {
		transform translateY(3px);
	}

	.input-text_label {
		display inline-block
		transform translateY(5px)
		margin-left: -10px;
	}

	.itempick {
		position: relative;
		top: 1px;
	}
}

.homelan_item__dhcpv6-switch {
	padding-bottom: 33px;
	.homelan_item-name {
		transform: translateY(7px);
		letter-spacing: 0.3px;
	}
	& > label {
		transform: translateY(4px);
	}
}

.homelan_item__dhcpv6-mode {
	.homelan_item-name {
		letter-spacing: -1px;
		word-spacing: 1px;
		transform: translateY(9px);
	}

	.itempick {
		position: relative;
		top: 2px;
	}
}

.homelan_item__dhcpv6-mode {
	padding-bottom: 25px;
	.input-text {
		transform translateY(5px);
	}

	.prefix-label {
		display: inline-block;
		margin-left: -12px;
		transform: translateY(5px);
	}
}

.homelan_item__tunnel {
	& > label {
		transform: translateY(1px);
	}
	& > span {
		transform: translateY(4px);
	}
}

.homelan-tunnel-options {
	margin-top 4px;

	.homelan_item-name {
		transform translateY(6px);
	}

	.prefix-label {
		display: inline-block;
		margin-left: -10px;
		transform: translateY(2px);
		position: relative;
		left: -3px;
		top: -1px;
	}
}

.page-homelan {
	[data-tab-name="homelan-tab1"] {
		padding-left: 8px;
		letter-spacing: -0.6px;
	}
	[data-tab-name="homelan-tab2"] {
		padding-left: 8px;
		letter-spacing: -0.6px;

		.homelan_item__primary-dns .homelan_item-name, .homelan_item__secondary-dns .homelan_item-name {
			top: 2px;
			left: -1px;
		}
	}

	[data-tab="homelan-tab2"] .homelan_section__wrapper {
		padding-bottom: 45px;
	}

	.input-text {
		width: 204px;
		padding-left: 30px;
	}

	.homelan_item__ipaddress {
		.homelan_item-name {
			letter-spacing: -0.7px;
			position: relative;
			top: -2px;
		}
	}

	.homelan_item__mask {
		.homelan_item-name {
			letter-spacing: -0.9px;
			position: relative;
			top: -2px;
		}

	}

	#dhcp-reserve + label {
		position: relative;
		top: 2px;
		left: -1px;
	}

	.homelan_item__reserve {
		.item-help {
			top: 24px;
			right: -36px;
		}
	}

	.homelan_item__address-start {
		.homelan_item-name {
			letter-spacing: -1px;
			position: relative;
			top: 1px;
		}
	}

	.homelan_item__server-ip-address {
		.homelan_item-name {
			letter-spacing: -1px;
			position: relative;
			top: 1px;
		}
	}

	.homelan_item__address-end {
		.homelan_item-name {
			letter-spacing: -0.9px;
			position: relative;
			top: 1px;
		}
	}

	.homelan_item__rent-time {
		.homelan_item-name {
			letter-spacing -.8px
		}
	}

	.homelan_item__domain {
		.homelan_item-name {
			letter-spacing -.9px
		}
	}

	.accordion {
		height: 82px
		padding-left: 61px;
		letter-spacing: -0.7px;
		line-height: 15px;
	}

	.homelan_item__alias-ip {
		.homelan_item-name {
			position: relative;
			top: -2px;
			letter-spacing: -0.9px;
		}
	}

	#alias-ip {
		height: 36px
	}

	#alias-mask {
		height: 36px;
		position: relative;
		top: 1px;
	}

	.homelan_item__alias-mask {
		.homelan_item-name {
			position: relative;
			top: -1px;
			letter-spacing: -0.6px;
		}
	}

	#dns-relay-auto + label .itempick_value, #radvd-auto + label .itempick_value, #homelan-dhcpv6-auto + label {
		left -6px
	}
	#dns-relay-manual + label .itempick_value, #radvd-manual + label .itempick_value, #homelan-dhcpv6-manual + label {
		left: -3px;
		letter-spacing: -0.8px;
	}

	.homelan_item__primary-dns {
		.homelan_item-name {
			position: relative;
			top: 9px;
			letter-spacing: -1.1px;
			left: 1px;
			word-spacing: 1px;
		}
	}

	.homelan_item__secondary-dns {
		padding-bottom: 0px;
		margin-bottom: -5px;

		.homelan_item-name {
			position: relative;
			top: 10px;
			letter-spacing: -1.1px;
			left: -1px;
			word-spacing: 1px;
		}
	}

	#homelan-primary-dns, #homelan-secondary-dns {
		width: 207px;
		height: 36px;
	}

	#homelan-secondary-dns {
		position: relative;
		top: 2px;
	}

	.homelan_item__lan {
		padding-bottom: 9px
	}

	.homelan_item__lans {
		margin-top: 27px;
		padding-top: 37px;
		padding-bottom: 18px;
		border-top: 1px solid #c9b8b9;
	}

	.prefix {
		width: 80px !important
		position: relative;
		left: -5px;

		&-label {
			font-weight: bold
		}
	}

	.homelan_item__prefix {
		padding-top: 23px

		.homelan_item-name {
			letter-spacing: -0.8px;
		}
	}

	.homelan-radvd-options, .homelan-dhcpv6-options, .homelan-tunnel-options {
		.input-text {
			width: 208px
			height: 36px
		}
	}

	#radprefix + label {
		position: relative;
		left: -3px;
		top: -1px;
	}

	#dhcp-prefix + label {
		position: relative;
		top: 0px;
		left: -1px;
	}

	#dhcp-prefix {
		position: relative;
		top: -1px;

		&-length {
			position: relative;
			top: -1px;
			left: -3px;
		}
	}

	#homelan-ip, #homelan-mask {
		height: 36px
		font-weight 500
	}

	#homelan-mask {
		position: relative;
		top: 1px
	}

	.homelan_item__ttl {
		.homelan_item-name {
			letter-spacing: -1px;
			position: relative;
			top: 1px;
		}
	}

	.homelan_item__realtime {
		.homelan_item-name {
			letter-spacing: -0.9px;
			position: relative;
			top: 2px;
		}
	}

	#radvd-ttl {
		position: relative;
		top: 1px;
	}

	#radvd-realtime {
		position: relative;
		top: 2px;
	}

	#homelan-dhcpv6 + label {
		position: relative;
		top: -1px;
		left: -1px;
	}

	#homelan-dhcpv6-ttl {
		position: relative;
		top: -1px;
	}

	#homelan-dhcpv6-dns2 {
		position: relative;
		top: 1px;
	}

	.homelan_section__wrapper.authentication {
		padding-top: 58px;
		padding-bottom: 64px;
	}

	.homelan_item__tunnel {
		& > .homelan_item-name {
			letter-spacing: -0.1px;
		}
	}

	#tunnel + label {
		position: relative;
		top: -5px;
		left: -1px;
	}

	.homelan_item__rdprefix {
		.homelan_item-name {
			position: relative;
			left: -1px;
			top: 2px;
			letter-spacing: -0.5px;
		}
	}

	.homelan_item__ipv4address {
		.homelan_item-name {
			position: relative;
			top: 1px;
			left: -2px;
		}
	}

	.homelan_item__ipv6mask {
		.homelan_item-name {
			position: relative;
			top: 1px;
			left: -1px;
			letter-spacing: -1.1px;
			word-spacing: 3px;
		}
	}

	.homelan_item__border-relay {
		.homelan_item-name {
			position: relative;
			top: 1px;
			letter-spacing: -0.6px;
		}
	}

	.homelan_item__delegation {
		.homelan_item-name {
			position: relative;
			top: 2px;
			letter-spacing: -0.7px;
		}
	}

	#tunnel-delegation {
		position: relative;
		top: 2px;
	}

	#tunnel-relay {
		position: relative;
		top: 1px;
	}

	#tunnel-ipv6 {
		position: relative;
		top: 1px;
	}

	.delete-item {
		position absolute;
		right: 15px;
		top: 10px;
		width: 15px;
		height: 20px;
		background: url(../images/trash.png) no-repeat;
		background-size cover;
		opacity 0;
		transition opacity .2s;
	}

	.homelan_item__dhcp	{
		.itempick {
			position: relative;
			top: -4px;
		}
	}

}
