.page-wifi {
	.table__timepicker {
		width: 700px;
		display: none
		font-weight: 300;
		margin-bottom: 34px;

		.timepicker_hours, .timepicker_days_day-name {
			color: #6B5E61;
		}
	}
	.jelect-options {
		width: 100% !important
		left: 0% !important
	}
}

.wifi_status {
	float: left;
	margin-left: 34px;
}

.section_name__wifi {
	float: left;
	padding-left: 56px;
	letter-spacing: -1.1px;

	&:after {
		left: 3px;
		margin-top: -14px;
		width: 37px;
		height: 27px;
		background-image: url('../images/wifi-left.png');
		background-position: 0 0;
		background-size: 35px;
	}
}

// items settings
.wifi-radiomodule {
	margin-top 25px;
}

.item__wifi-ssid,
.canal-value,
.item-mac-filter {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9;
	border-bottom: 1px solid #c9b8b9;
	margin-bottom: 25px;
}

.item__preambula,
.item__agregation,
.item__stbc,
.item__wifi-fragment,
.item__wifi-rts,
.item__wmm,
.item__wifi-freq-ssid {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9;
}

.item__wifi-guestlan,
.item__wifi-freq-ssid {
	border-bottom: 1px solid #c9b8b9;
	margin-bottom: 25px;
}

.extend-item__encryption-type {
	height 85px;
	overflow: visible;
}

.radiomodule-settings {
	padding-top 30px;
}

.wifi-connection-limit {
	height: auto;
	transition none
}

.button__add-mac,
.button__add-filter {
	width: 225px;
	height: 45px;
	font-size: 16px;
	border: 1px solid;
	font-weight: 400;
	text-align: center;
	padding 0;
	margin-top 10px;
	display: inline-block;
}

.input-text__mac {
	margin-top 6px;
	width: 390px;
	border-radius: 2px;
}

.itempick__access {
	margin-bottom 30px
}

.item_input-text__dns {
	position: relative;
}

.remove-text {
	position absolute;
	width: 25px;
	height: 25px;
	right: 6px;
	top: 50%;
	margin-top: -10.5px;
	fill: #ae2b44;
	transition: transform .2s;
	transform-origin: center;

	&:hover {
		transform: rotate(90deg);
		cursor: pointer;
	}
}

.freq-max {
	margin-bottom 35px;
}

.guest-encryption {
	padding-bottom: 6px;
}

.extend-item__encryption-type {
	display: none
	height: auto
	transition none
}

.extend-item__mac-filter {
	height: auto
	transition none
}

.hz5-access, .hz24-access {
	display: none
}

// pp fixes
.internet_item__main-wifi-freq {
	margin-top: 3px;
}

.item__wifi-ssid {
	margin-top 12px;
}

.extend-item__mac-filter {
	.hidden_item {
		margin-top 6px;
	}
}

.itempick__access {
	margin-bottom 11px;
}

.item-mac-filter {
	margin-bottom 30px;
}

.internet_item__wps-protected {
	margin-top 16px;
}

.internet_item__access-mode {
	.itempick {
		transform: translateY(-6px);
	}
}

.internet_item__wifi-visibility {
	margin-top 7px;
}

.item__preambula {
	margin-top 10px;
}

.item__stbc {
	margin-top 34px
}

.item__wifi-fragment {
	margin-top 31px;
}

.item__beacon {
	border-top: 1px solid #c9b8b9;
	padding-top: 26px;
	margin-top: 2px;
}

.item__wifi-guestlan {
	padding-bottom 18px;
}

.freq-max {
	margin-top 30px;
	margin-bottom 25px;
}

.page-wifi {
	.checkbox-medium:checked ~ .checkbox-medium_label .checkbox-medium_value:after {
		left: -14px;
	}
	.checkbox-medium:checked ~ .checkbox-medium_label .checkbox-medium_slider:after {
		left: 47px;
	}
	.checkbox-medium_slider:after {
		border-radius: 3px;
	}

	.checkbox-medium_label {
		width: 79px;
	}

	[data-tab-name="wifi-tab1"] {
		padding-left: 12px;
		padding-top: 2px;
	}
	[data-tab-name="wifi-tab2"] {
		padding-left: 8px;
		letter-spacing: -0.4px;
		word-spacing: 1px;
	}
	.internet_item__main-wifi-freq {
		.item-help {
			top: 19px;
			right: -36px;
		}
		.itempick_value {
			line-height: 12px;
		}
		.itempick {
			position: relative;
			left: 3px;
			top: 1px;
		}

	}
	#wifi-frequency-hybrid + label span, #wifi-frequency-medium + label span {
		letter-spacing: -0.1px;
		padding-left: 4px;
	}

	.wifi-radiomodule .item__sub {
		position: relative;
		top: 6px;
		letter-spacing: -1px;
	}

	#wifi-radiomodule + label {
		position: relative;
		left: 2px;
		top: 2px;
	}

	.item__wifi-ssid {
		padding-bottom: 29px;

		.item__sub {
			position: relative;
			top: 6px;
			letter-spacing: -0.7px;
		}

		.input-text {
			position: relative;
			top: 3px;
			left: 3px;
			width: 205px;
			height: 36px;
			font-size: 15px;
			font-weight: 500;
			padding-bottom: 3px;
			padding-left: 14px;
			letter-spacing: -0.2px;
		}
	}

	.wifi-access {
		padding-bottom: 18px;

		.item-help {
			top: 21px;
			right: -36px;
		}
		.internet_item-name {
			letter-spacing: -0.5px;
			word-spacing: 2px;
		}
		.itempick {
			position: relative;
			top: 4px;
			left: 3px;
		}

		.jelect {
			position: relative;
			top: 5px;
			left: 3px;
			width: 208px;
			height: 36px;
		}

		.jelect-current {
			font-weight: 300;
			line-height: 33px;
			letter-spacing: -1.1px;
			padding-left: 13px;
		}

		.extend-item_holder:nth-of-type(1) {
			.internet_item-name {
				position: relative;
				top: 3px;
				letter-spacing: -1px;
				word-spacing: 1px;
			}
		}
		.extend-item_holder:nth-of-type(2) {
			.internet_item-name {
				position: relative;
				top: 3px;
				letter-spacing: -1px;
			}
		}
		.input-text {
			position: relative;
			top: 6px;
			left: 3px;
			width: 208px;
			height: 36px;
		}
	}

	#wifi-open + label {
		span {
			padding-right: 11px;
		}
	}

	#wifi-closed + label {
		span {
			padding-right: 7px;
		}
	}
	.accordion[data-section-name="radiomodule-settings"] {
		height: 83px;
		line-height: 15px;
		letter-spacing: -0.5px;
		word-spacing: 5px;
	}

	[data-section="radiomodule-settings"] {
		.authentication {
			.jelect {
				position: relative;
				top: 4px;
				left: 2px;
				width: 209px;
				height: 36px;
			}
			.jelect-current {
				letter-spacing: 4.4px;
				line-height: 34px;
				font-weight 500
			}
			.internet_item-name {
				position: relative;
				top: 3px;
				left: 0px;
				letter-spacing: -0.3px;
			}

		}
	}

	.bandwidth {
		padding-bottom: 29px;

		.item__sub {
			position: relative;
			top: 6px;
			letter-spacing: -0.9px;
			word-spacing: 2px;
		}
		.itempick {
			position: relative;
			top: 3px;
			left: 3px;
		}
		.items-2 .itempick_slider {
			width: 49.6%;
		}
	}

	#passband-big + label span {
		letter-spacing: -0.5px;
	}

	#passband-low + label span {
		padding-right: 3px;
		letter-spacing: -0.5px;
		word-spacing: 0.6px;

	}

	.canal-value {
		padding-bottom: 28px;

		.item__sub {
			position: relative;
			top: 5px;
			letter-spacing: -1px;
			word-spacing: 2px;
		}

		.jelect {
			position: relative;
			top: 1px;
			left: 2px;
			width: 209px;
			height: 36px;
		}
		.jelect-current {
			letter-spacing: -0.9px;
			line-height: 34px;
			font-weight 500
		}
	}
	.signal-strength {
		padding-bottom: 31px;

		.item__sub {
			position: relative;
			top: 6px;
			letter-spacing: -1px;
			word-spacing: 2px;
		}
		.itempick {
			position: relative;
			top: 1px;
			left: 2px;
			height: 37px;
		}
	}

	#power-signal-1 + label span {
		letter-spacing: 0.1px;
		padding-left: 4px;
	}
	#power-signal-2 + label span {
		letter-spacing: 0.1px;
		padding-right: 3px;
	}
	#power-signal-3 + label span {
		letter-spacing: 0.1px;
	}
	#power-signal-3 + label span {
		letter-spacing: -0.1px;
	}

	.accordion[data-section-name="wifi-access"] {
		height: 83px;
		line-height: 15px;
		letter-spacing: -0.7px;
		word-spacing: 1.7px;
		padding-left: 62px;
	}

	.internet_item__main-wifi-access {
		padding-bottom: 28px;

		.internet_item-name__fix {
			line-height: 20px;
		}

		.internet_item-name {
			letter-spacing: -0.1px;
		}
	}

	#wifi-connection-limit + label {
		position: relative;
		top: -4px;
		left: 2px;
	}
	.wifi-connection-limit {
		.internet_item-name {
			position: relative;
			top: -6px;
			letter-spacing: -0.8px;
		}
		.input-text {
			position: relative;
			top: -1px;
			left: 3px;
			width: 208px;
			height: 36px;
		}
		label.input-text_label {
			padding-left: 10px;
			letter-spacing: 0px;
		}
	}

	.item-mac-filter {
		padding-bottom: 23px;

		.item-help {
			top: 95px;
			right: -36px;
		}
		.internet_item-name {
			position: relative;
			top: -3px;
			letter-spacing: -0.1px;
		}
	}

	#mac-filter + label {
		position: relative;
		top: -4px;
		left: 2px;
	}

	.internet_item .checkbox-small_label .checkbox-small_slider:after {
		margin-top: -7px;
		width: 16px;
		height: 15px;
		border-radius: 2px;
	}
	.internet_item .checkbox-small_label .checkbox-small_value:after {
		font-size: 11px;
	}

	.extend-item__mac-filter {
		.internet_item-name {
			position: relative;
			top: -7px;
			letter-spacing: -0.9px;
		}
		.itempick {
			top: -5px;
			left: 3px;
			position: relative;
			height: 37px;
		}
	}

	#mac-access-open + label {
		padding-right: 10px;
		word-spacing: 2.4px;
	}
	#mac-access-closed + label {
		padding-right: 6px;
		word-spacing: 2.4px;
	}

	#wifi-mac-1 {
		position: relative;
		top: -4px;
		left: 2px;
		padding-left: 93px;
		height: 36px;
		font-weight: 500;
		word-spacing: 5.3px;
		letter-spacing: 0.1px;
	}

	#wifi-mac-2 {
		position: relative;
		top: -3px;
		left: 2px;
		height: 36px;
		padding-left: 93px;
		font-weight: 500;
		word-spacing: 5.3px;
		letter-spacing: 0.1px;
	}

	.input-text__mac {
		position: relative;
		left: 2px;
		padding-left: 93px;
		letter-spacing: .1px;
		word-spacing: 5.3px;
		font-weight: 500;
	}

	.button__add-mac {
		font-size: 15px;
		border-radius: 4px;
		position: relative;
		left: 5px;
		top: -1px;
		width: 223px;
		height: 43px;
		padding-left: 9px;
		line-height: 15px;
	}

	.remove-text {
		top: 16px;
		right: 4px;
	}

	.radiomodule-activity {
		.internet_item-name {
			position: relative;
			top: 2px;
			letter-spacing: -0.4px;
			word-spacing: 2px;
		}
		.itempick {
			position: relative;
			top: 4px;
			left: 3px;
			height: 36px;
		}
		.item-help {
			right: -38px;
			top: 13px;
		}
	}

	#radiomodule-activity-allways + label span {
		padding-right: 11px
	}
	#radiomodule-activity-time + label span {
		padding-right: 6px
	}
	.timepicker_days_day-name {
		padding-left: 24px;
		color: #6B5E61;
		float: left;
		width: 255px;
		height: 36px;
		font-size: 15px;
		line-height: 33px;
		background-color: #bdb2b8;
		letter-spacing: -.6px;
	}

	.timepicker_hours {
		padding-top: 18px;
		padding-left: 252px;
		height: 37px;
	}
	.timepicker_hours span {
		width: 17.7px;
		left: 9px;
	}
	.timepicker_days_item {
		height: 35.6px;
	}
	.accordion[data-section-name="wifi-wps"] {
		height: 83px;
		line-height: 15px;
		letter-spacing: -0.7px;
		word-spacing: 1.7px;
		padding-left: 62px;
		padding-bottom: 3px;
	}

	[data-section="wifi-wps"] {
		padding-bottom: 22px;
	}

	.internet_item__wps-protected {
		.internet_item-name {
			position: relative;
			top: -16px;
			letter-spacing: 0;
		}
	}

	#wps-protected-setup + label {
		position: relative;
		top: -16px;
		left: 2px;
	}

	.internet_item__access-mode {
		.item__sub {
			position: relative;
			top: -19px;
			letter-spacing: -0.9px;
		}
		.itempick {
			position: relative;
			top: -17px;
			left: 3px;
			height: 37px;
		}
		.item-help {
			right: -38px;
			top: 18px;
		}
	}
	.accordion[data-section-name="wifi-pro-settings"] {
		height: 83px;
		line-height: 15px;
		letter-spacing: -0.7px;
		word-spacing: 1.7px;
		padding-left: 61px;
		padding-bottom: 3px;
	}

	#wps-access-button + label span {
		padding-right: 10px;
	}

	.internet_item__wifi-visibility {
		padding-bottom: 23px;

		.item__sub {
			letter-spacing: -0.8px;
		}
	}

	#wifi-hidden + label {
		position: relative;
		top: -5px;
		left: 2px;
	}

	.item__preambula {
		.item__sub {
			position: relative;
			top: 5px;
			left: -1px;
			letter-spacing: -1px;
			word-spacing: 1px;
		}
		.itempick {
			position: relative;
			top: 1px;
			left: 3px;
			height: 37px;
		}
	}

	#preambula-long + label {
		padding-right: 11px;
	}
	#preambula-short + label {
		padding-right: 6px;
	}

	.item__agregation {
		.item__sub {
			position: relative;
			top: 7px;
			left: -1px;
			letter-spacing: -0.8px;
		}
	}

	#wifi-agregation + label {
		position: relative;
		top: 2px;
		left: 2px;
	}

	.item__stbc {
		.item__sub {
			position: relative;
			top: 4px;
			left: -1px;
			letter-spacing: -0.9px;
		}
	}

	#wifi-stbc + label {
		position: relative;
		top: -2px;
		left: 2px;
	}

	.item__wifi-fragment {
		.item__sub {
			position: relative;
			top: 6px;
			left: -1px;
			letter-spacing: -1px;
		}
		.input-text {
			position: relative;
			top: 1px;
			left: 3px;
			padding-bottom: 3px;
			padding-left: 18px;
			width: 207px;
			height: 36px;
			font-size: 14px;
			font-weight: 500;
		}
		label.input-text_label {
			padding-left: 20px;
			position: relative;
			top: 4px;
			letter-spacing: -0.1px;
			word-spacing: 4px;
		}
	}
	.item__wifi-rts {
		.item__sub {
			position: relative;
			top: 6px;
			left: -1px;
			letter-spacing: -0.7px;
		}
		.input-text {
			position: relative;
			top: 3px;
			left: 3px;
			padding-bottom: 3px;
			padding-left: 18px;
			width: 207px;
			height: 36px;
			font-size: 14px;
			font-weight: 500;
		}
		label.input-text_label {
			padding-left: 20px;
			position: relative;
			top: 4px;
			letter-spacing: -0.1px;
			word-spacing: 4px;
		}
	}

	.item__beacon {
		padding-bottom: 28px;

		.item__sub {
			position: relative;
			top: 5px;
			left: -1px;
			letter-spacing: -0.7px;
			word-spacing: 1px;
		}
		.input-text {
			position: relative;
			top: 2px;
			left: 3px;
			padding-bottom: 3px;
			padding-left: 18px;
			width: 207px;
			height: 36px;
			font-size: 14px;
			font-weight: 500;
		}
		label.input-text_label {
			padding-left: 20px;
			position: relative;
			top: 4px;
			letter-spacing: -0.3px;
			word-spacing: 4px;
		}
	}

	.item__wmm {
		padding-top: 30px
		padding-bottom: 30px
		.item__sub {
			letter-spacing: -1.3px;
		}
	}

	#wifi-wmm + label {
		position: relative;
		top: -4px;
		left: 2px;
	}

	.item__wifi-guestlan {
		.internet_item-name {
			position: relative;
			top: -3px;
			letter-spacing: -0.3px;

			.internet_item-name__fix {
				line-height: 20px !important
			}
		}
	}
	#wifi-guest-freq-hybrid + label {
		span {
			letter-spacing: -0.3px;
			word-spacing: 1px;
			padding-left: 4px;
		}
	}
	#wifi-guestlan-status + label {
		position: relative;
		top: -2px;
		left: 2px;
	}
	.item__wifi-guestlan-freq {
		& > .internet_item-name {
			position: relative;
			top: 2px;
		}
		.itempick {
			position: relative;
			top: 3px;
			left: 3px;
			height: 37px;
		}
	}
	.freq-max {
		.internet_item-name {
			position: relative;
			top: -1px;
			letter-spacing: -.1px;
		}
	}
	.freq-max-header {
		padding-bottom: 23px
	}

	#wifi-guest-freq-medium + label span {
		letter-spacing: -0.1px;
		padding-left: 3px;
	}

	.item__wifi-freq-ssid {
		padding-bottom: 30px;

		.internet_item-name {
			position: relative;
			top: 7px;
			letter-spacing: -0.7px;
		}
		.input-text {
			position: relative;
			top: 4px;
			left: 3px;
			padding-bottom: 3px;
			padding-left: 15px;
			width: 205px;
			height: 36px;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: 0.1px;
		}
	}
	.guestlan-access {
		.item-help {
			top: -30px;
			right: -35px;
		}
		.itempick {
			position: relative;
			top: 4px;
			left: 3px;
			height: 37px;
		}

	}
	#wifi-guest-freq-max-open + label {
		span {
			padding-right: 11px;
		}
	}

	#wifi-guest-freq-max-closed + label {
		span {
			padding-right: 7px;
		}
	}

	.guest-encryption {
		.item__sub {
			position: relative;
			top: 6px;
			letter-spacing: -1px;
			word-spacing: 1px;
		}
		.jelect {
			position: relative;
			top: 2px;
			left: 3px;
			width: 208px;
			height: 36px;
		}
		.jelect-current {
			letter-spacing: -1.5px;
			line-height: 34px;
		}
	}
	.guest-encryption-password {
		.item__sub {
			position: relative;
			top: 7px;
			letter-spacing: -.9px;
		}
		.input-text {
			position: relative;
			top: 4px;
			left: 3px;
			width: 208px;
			height: 36px;
		}
	}
	.freq-medium-title {
		padding-bottom: 29px;
		.internet_item-name {
			position: relative;
			top: 4px;
			letter-spacing: 0.1px;
		}
	}
	.guestlan-24hz-access {
		& > .internet_item-name {
			letter-spacing: -0.1px;
		}
		.item-help {
			top: -30px;
			right: -35px;
		}
		.itempick {
			position: relative;
			top: 4px;
			left: 3px;
			height: 36px;
		}
		.jelect {
			position: relative;
			top: 2px;
			left: 3px;
			width: 208px;
			height: 36px;
		}
		.jelect-current {
			letter-spacing: -1.5px;
			line-height: 34px;
		}
	}
	#wifi-guest-freq-medium-open + label {
		span {
			padding-right: 11px;
		}
	}

	#wifi-guest-freq-medium-closed + label {
		span {
			padding-right: 7px;
		}
	}

	.hz24-access {
		padding-bottom: 13px;

		& > .item__sub {
			letter-spacing: -1px;
		}
		.input-text {
			position: relative;
			top: -4px;
			left: 3px;
			width: 208px;
			height: 36px;
		}
	}

	.internet_item__main-wifi-freq {
		.internet_item-name {
			letter-spacing: -0.4px;
		}
	}
}
