/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$2kom_x = 0px;
$2kom_y = 312px;
$2kom_offset_x = 0px;
$2kom_offset_y = -312px;
$2kom_width = 174px;
$2kom_height = 49px;
$2kom_total_width = 484px;
$2kom_total_height = 415px;
$2kom_image = '../images/sprite.png';
$2kom = 0px 312px 0px -312px 174px 49px 484px 415px '../images/sprite.png';
$3g-4g-on_x = 192px;
$3g-4g-on_y = 143px;
$3g-4g-on_offset_x = -192px;
$3g-4g-on_offset_y = -143px;
$3g-4g-on_width = 76px;
$3g-4g-on_height = 75px;
$3g-4g-on_total_width = 484px;
$3g-4g-on_total_height = 415px;
$3g-4g-on_image = '../images/sprite.png';
$3g-4g-on = 192px 143px -192px -143px 76px 75px 484px 415px '../images/sprite.png';
$3g-4g_x = 302px;
$3g-4g_y = 369px;
$3g-4g_offset_x = -302px;
$3g-4g_offset_y = -369px;
$3g-4g_width = 40px;
$3g-4g_height = 39px;
$3g-4g_total_width = 484px;
$3g-4g_total_height = 415px;
$3g-4g_image = '../images/sprite.png';
$3g-4g = 302px 369px -302px -369px 40px 39px 484px 415px '../images/sprite.png';
$access-ico_x = 347px;
$access-ico_y = 211px;
$access-ico_offset_x = -347px;
$access-ico_offset_y = -211px;
$access-ico_width = 39px;
$access-ico_height = 55px;
$access-ico_total_width = 484px;
$access-ico_total_height = 415px;
$access-ico_image = '../images/sprite.png';
$access-ico = 347px 211px -347px -211px 39px 55px 484px 415px '../images/sprite.png';
$administration-ico_x = 347px;
$administration-ico_y = 145px;
$administration-ico_offset_x = -347px;
$administration-ico_offset_y = -145px;
$administration-ico_width = 56px;
$administration-ico_height = 58px;
$administration-ico_total_width = 484px;
$administration-ico_total_height = 415px;
$administration-ico_image = '../images/sprite.png';
$administration-ico = 347px 145px -347px -145px 56px 58px 484px 415px '../images/sprite.png';
$config_x = 301px;
$config_y = 312px;
$config_offset_x = -301px;
$config_offset_y = -312px;
$config_width = 49px;
$config_height = 48px;
$config_total_width = 484px;
$config_total_height = 415px;
$config_image = '../images/sprite.png';
$config = 301px 312px -301px -312px 49px 48px 484px 415px '../images/sprite.png';
$eject_x = 244px;
$eject_y = 312px;
$eject_offset_x = -244px;
$eject_offset_y = -312px;
$eject_width = 49px;
$eject_height = 48px;
$eject_total_width = 484px;
$eject_total_height = 415px;
$eject_image = '../images/sprite.png';
$eject = 244px 312px -244px -312px 49px 48px 484px 415px '../images/sprite.png';
$home-ico_x = 274px;
$home-ico_y = 231px;
$home-ico_offset_x = -274px;
$home-ico_offset_y = -231px;
$home-ico_width = 49px;
$home-ico_height = 49px;
$home-ico_total_width = 484px;
$home-ico_total_height = 415px;
$home-ico_image = '../images/sprite.png';
$home-ico = 274px 231px -274px -231px 49px 49px 484px 415px '../images/sprite.png';
$iptv-ico_x = 276px;
$iptv-ico_y = 143px;
$iptv-ico_offset_x = -276px;
$iptv-ico_offset_y = -143px;
$iptv-ico_width = 56px;
$iptv-ico_height = 53px;
$iptv-ico_total_width = 484px;
$iptv-ico_total_height = 415px;
$iptv-ico_image = '../images/sprite.png';
$iptv-ico = 276px 143px -276px -143px 56px 53px 484px 415px '../images/sprite.png';
$logout_x = 431px;
$logout_y = 0px;
$logout_offset_x = -431px;
$logout_offset_y = 0px;
$logout_width = 53px;
$logout_height = 38px;
$logout_total_width = 484px;
$logout_total_height = 415px;
$logout_image = '../images/sprite.png';
$logout = 431px 0px -431px 0px 53px 38px 484px 415px '../images/sprite.png';
$mts_x = 81px;
$mts_y = 231px;
$mts_offset_x = -81px;
$mts_offset_y = -231px;
$mts_width = 185px;
$mts_height = 67px;
$mts_total_width = 484px;
$mts_total_height = 415px;
$mts_image = '../images/sprite.png';
$mts = 81px 231px -81px -231px 185px 67px 484px 415px '../images/sprite.png';
$print_x = 350px;
$print_y = 369px;
$print_offset_x = -350px;
$print_offset_y = -369px;
$print_width = 45px;
$print_height = 39px;
$print_total_width = 484px;
$print_total_height = 415px;
$print_image = '../images/sprite.png';
$print = 350px 369px -350px -369px 45px 39px 484px 415px '../images/sprite.png';
$qtech_x = 0px;
$qtech_y = 0px;
$qtech_offset_x = 0px;
$qtech_offset_y = 0px;
$qtech_width = 339px;
$qtech_height = 135px;
$qtech_total_width = 484px;
$qtech_total_height = 415px;
$qtech_image = '../images/sprite.png';
$qtech = 0px 0px 0px 0px 339px 135px 484px 415px '../images/sprite.png';
$resize_x = 358px;
$resize_y = 312px;
$resize_offset_x = -358px;
$resize_offset_y = -312px;
$resize_width = 49px;
$resize_height = 48px;
$resize_total_width = 484px;
$resize_total_height = 415px;
$resize_image = '../images/sprite.png';
$resize = 358px 312px -358px -312px 49px 48px 484px 415px '../images/sprite.png';
$restart_x = 0px;
$restart_y = 369px;
$restart_offset_x = 0px;
$restart_offset_y = -369px;
$restart_width = 41px;
$restart_height = 46px;
$restart_total_width = 484px;
$restart_total_height = 415px;
$restart_image = '../images/sprite.png';
$restart = 0px 369px 0px -369px 41px 46px 484px 415px '../images/sprite.png';
$rostelekom_x = 0px;
$rostelekom_y = 143px;
$rostelekom_offset_x = 0px;
$rostelekom_offset_y = -143px;
$rostelekom_width = 184px;
$rostelekom_height = 80px;
$rostelekom_total_width = 484px;
$rostelekom_total_height = 415px;
$rostelekom_image = '../images/sprite.png';
$rostelekom = 0px 143px 0px -143px 184px 80px 484px 415px '../images/sprite.png';
$settings-ico_x = 118px;
$settings-ico_y = 369px;
$settings-ico_offset_x = -118px;
$settings-ico_offset_y = -369px;
$settings-ico_width = 47px;
$settings-ico_height = 41px;
$settings-ico_total_width = 484px;
$settings-ico_total_height = 415px;
$settings-ico_image = '../images/sprite.png';
$settings-ico = 118px 369px -118px -369px 47px 41px 484px 415px '../images/sprite.png';
$status_x = 173px;
$status_y = 369px;
$status_offset_x = -173px;
$status_offset_y = -369px;
$status_width = 73px;
$status_height = 41px;
$status_total_width = 484px;
$status_total_height = 415px;
$status_image = '../images/sprite.png';
$status = 173px 369px -173px -369px 73px 41px 484px 415px '../images/sprite.png';
$usb-ico_x = 347px;
$usb-ico_y = 74px;
$usb-ico_offset_x = -347px;
$usb-ico_offset_y = -74px;
$usb-ico_width = 34px;
$usb-ico_height = 63px;
$usb-ico_total_width = 484px;
$usb-ico_total_height = 415px;
$usb-ico_image = '../images/sprite.png';
$usb-ico = 347px 74px -347px -74px 34px 63px 484px 415px '../images/sprite.png';
$usb-on_x = 0px;
$usb-on_y = 231px;
$usb-on_offset_x = 0px;
$usb-on_offset_y = -231px;
$usb-on_width = 73px;
$usb-on_height = 73px;
$usb-on_total_width = 484px;
$usb-on_total_height = 415px;
$usb-on_image = '../images/sprite.png';
$usb-on = 0px 231px 0px -231px 73px 73px 484px 415px '../images/sprite.png';
$usb_x = 254px;
$usb_y = 369px;
$usb_offset_x = -254px;
$usb_offset_y = -369px;
$usb_width = 40px;
$usb_height = 39px;
$usb_total_width = 484px;
$usb_total_height = 415px;
$usb_image = '../images/sprite.png';
$usb = 254px 369px -254px -369px 40px 39px 484px 415px '../images/sprite.png';
$wifi-ico_x = 49px;
$wifi-ico_y = 369px;
$wifi-ico_offset_x = -49px;
$wifi-ico_offset_y = -369px;
$wifi-ico_width = 61px;
$wifi-ico_height = 44px;
$wifi-ico_total_width = 484px;
$wifi-ico_total_height = 415px;
$wifi-ico_image = '../images/sprite.png';
$wifi-ico = 49px 369px -49px -369px 61px 44px 484px 415px '../images/sprite.png';
$wifi-on_x = 347px;
$wifi-on_y = 0px;
$wifi-on_offset_x = -347px;
$wifi-on_offset_y = 0px;
$wifi-on_width = 76px;
$wifi-on_height = 66px;
$wifi-on_total_width = 484px;
$wifi-on_total_height = 415px;
$wifi-on_image = '../images/sprite.png';
$wifi-on = 347px 0px -347px 0px 76px 66px 484px 415px '../images/sprite.png';
$wifi_x = 431px;
$wifi_y = 46px;
$wifi_offset_x = -431px;
$wifi_offset_y = -46px;
$wifi_width = 42px;
$wifi_height = 31px;
$wifi_total_width = 484px;
$wifi_total_height = 415px;
$wifi_image = '../images/sprite.png';
$wifi = 431px 46px -431px -46px 42px 31px 484px 415px '../images/sprite.png';
$www-ico_x = 182px;
$www-ico_y = 312px;
$www-ico_offset_x = -182px;
$www-ico_offset_y = -312px;
$www-ico_width = 54px;
$www-ico_height = 49px;
$www-ico_total_width = 484px;
$www-ico_total_height = 415px;
$www-ico_image = '../images/sprite.png';
$www-ico = 182px 312px -182px -312px 54px 49px 484px 415px '../images/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
