block head
	- page.title = 'IPTV';
include helpers/variables
include helpers/mixins
doctype html
html(lang='ru')
	include partials/head
	body
		.main-menu
			.main-menu__logo
			.main-menu__content
				ul.main-menu__scrollable
					li.main-menu__item.main-menu__item_wizard
						a(href="#") Мастер настройки
					li.main-menu__item.main-menu__item_internet
						a(href="#") Интернет
					li.main-menu__item.main-menu__item_wifi
						a(href="#") Wi-Fi
					li.main-menu__item.main-menu__item_home
						a(href="#") Домашняя сеть
					li.main-menu__item.main-menu__item_iptv.main-menu__item_selected
						a(href="#") IP-TV
					li.main-menu__item.main-menu__item_access
						a(href="#") Управление доступом
					li.main-menu__item.main-menu__item_usb
						a(href="#") USB
					li.main-menu__item.main-menu__item_admin
						a(href="#") Администрирование
				.main-menu__copyright
					.main-menu__copyright-button(hidden)
					ul.main-menu__copyright-links
						li: a(href="#") Пользовательское соглашение
						li: a(href="#") Официальный сайт
						li: a(href="#") Поддержка
						li: a(href="#") Помощь
					p.main-menu__copyright-year 2014 © QTECH
					p.main-menu__copyright-year2
						| 2014
						br
						| © QTECH
		.main-wrap
			.main
				h1.section-title-iptv IP-TV
				section.iptv-page
					.iptv-page__tabs
						.iptv-page__tabs-main.tab.tab__active(data-tab-name="1") IP-TV
						.iptv-page__tabs-backup.tab(data-tab-name="2") SIP
					.iptv-page__tab-content(data-tab="1")
						.iptv-page__iptv
							section.ports-switch
								label.ports__switch-label Привязка к портам
								input.checkbox-small.control(type="checkbox" checked)#ports-switch
								label.ports__switch.checkbox-small_label(data-switch-name="1" for="ports-switch")
									span.checkbox-small_value
									span.checkbox-small_slider
								.help-ico
							section.ports-switch-inputs(data-switch-section="1")
								.ports-switch__input
									label.lan__switch-label LAN 1
									input.checkbox-small.control(type="checkbox" checked)#lan1-switch
									label.lan__switch.checkbox-small_label(for="lan1-switch")
										span.checkbox-small_value
										span.checkbox-small_slider
								.ports-switch__input
									label.lan__switch-label LAN 2
									input.checkbox-small.control(type="checkbox" checked)#lan2-switch
									label.lan__switch.checkbox-small_label(for="lan2-switch")
										span.checkbox-small_value
										span.checkbox-small_slider
								.ports-switch__input
									label.lan__switch-label LAN 3
									input.checkbox-small.control(type="checkbox" checked)#lan3-switch
									label.lan__switch.checkbox-small_label(for="lan3-switch")
										span.checkbox-small_value
										span.checkbox-small_slider
								.ports-switch__input
									label.lan__switch-label LAN 4
									input.checkbox-small.control(type="checkbox" checked)#lan4-switch
									label.lan__switch.checkbox-small_label(for="lan4-switch")
										span.checkbox-small_value
										span.checkbox-small_slider

						.iptv-page__vlan
							section.vlan-switch
								label.vlan__switch-label VLAN
								input.checkbox-small.control(type="checkbox" checked)#vlan-switch
								label.vlan__switch.checkbox-small_label(data-switch-name="2" for="vlan-switch")
									span.checkbox-small_value
									span.checkbox-small_slider
							section.vlan-id(data-switch-section="2")
								label.vlan-id-label VLAN ID
								input.vlan-id-input.input-text(type="text")
								span.vlan-id-num (0-4095)
							section.vlan-ieee(data-switch-section="2")
								label.vlan-ieee-label 802.1p
								.jelect(role="select")
									input#jelect.jelect-input(name="vlan" value="0" data-text="" type="text")
									.jelect-current(tabindex="0" role="button") 0
									ul.jelect-options
										li.jelect-option.jelect-option_state_active(data-val="0" tabindex="0" role="option") 0
										li.jelect-option(data-val="1" tabindex="0" role="option") 1
										li.jelect-option(data-val="2" tabindex="0" role="option") 2

						.iptv-page__igmp-switch
							label.igmp__switch-label IGMP Proxy
							input.checkbox-small.control(type="checkbox" checked)#igmp-switch
							label.igmp__switch.checkbox-small_label(for="igmp-switch")
								span.checkbox-small_value
								span.checkbox-small_slider

						.iptv-page__igmp-version
							label.interface-label Версия IGMP Proxy
							.itempick
								.itempick_holder.items-3
									input.itempick_radio#igmpv1(type="radio" name="igmpver" checked)
									label.itempick_label(for="igmpv1")
										span.itempick_value v1
									input.itempick_radio#igmpv2(type="radio" name="igmpver")
									label.itempick_label(for="igmpv2")
										span.itempick_value v2
									input.itempick_radio#igmpv3(type="radio" name="igmpver")
									label.itempick_label(for="igmpv3")
										span.itempick_value v3
									b.itempick_slider

						.iptv-page__igmp-snooping
							label.snooping__switch-label IGMP Snooping
							input.checkbox-small.control(type="checkbox" checked)#snooping-switch
							label.snooping__switch.checkbox-small_label(for="snooping-switch")
								span.checkbox-small_value
								span.checkbox-small_slider

					.iptv-page__tab-content(data-tab="2" hidden)
						.iptv-page__iptv
							section.ports-switch
								label.ports__switch-label Привязка к портам
								input.checkbox-small.control(type="checkbox" checked)#ports-switch2
								label.ports__switch.checkbox-small_label(data-switch-name="1a" for="ports-switch2")
									span.checkbox-small_value
									span.checkbox-small_slider
								.help-ico
							section.ports-switch-inputs(data-switch-section="1a")
								.ports-switch__input
									label.lan__switch-label LAN 1
									input.checkbox-small.control(type="checkbox" checked)#lan1-switch2
									label.lan__switch.checkbox-small_label(for="lan1-switch2")
										span.checkbox-small_value
										span.checkbox-small_slider
								.ports-switch__input
									label.lan__switch-label LAN 2
									input.checkbox-small.control(type="checkbox" checked)#lan2-switch2
									label.lan__switch.checkbox-small_label(for="lan2-switch2")
										span.checkbox-small_value
										span.checkbox-small_slider
								.ports-switch__input
									label.lan__switch-label LAN 3
									input.checkbox-small.control(type="checkbox" checked)#lan3-switch2
									label.lan__switch.checkbox-small_label(for="lan3-switch2")
										span.checkbox-small_value
										span.checkbox-small_slider
								.ports-switch__input
									label.lan__switch-label LAN 4
									input.checkbox-small.control(type="checkbox" checked)#lan4-switch2
									label.lan__switch.checkbox-small_label(for="lan4-switch2")
										span.checkbox-small_value
										span.checkbox-small_slider

						.iptv-page__vlan
							section.vlan-switch
								label.vlan__switch-label VLAN
								input.checkbox-small.control(type="checkbox" checked)#vlan-switch2
								label.vlan__switch.checkbox-small_label(data-switch-name="2a" for="vlan-switch2")
									span.checkbox-small_value
									span.checkbox-small_slider
							section.vlan-id(data-switch-section="2a")
								label.vlan-id-label VLAN ID
								input.vlan-id-input.input-text(type="text")
								span.vlan-id-num (0-4095)
							section.vlan-ieee(data-switch-section="2a")
								label.vlan-ieee-label 802.1p
								.jelect(role="select")
									input#jelect.jelect-input(name="vlan2" value="0" data-text="" type="text")
									.jelect-current(tabindex="0" role="button") 0
									ul.jelect-options
										li.jelect-option.jelect-option_state_active(data-val="0" tabindex="0" role="option") 0
										li.jelect-option(data-val="1" tabindex="0" role="option") 1
										li.jelect-option(data-val="2" tabindex="0" role="option") 2

						.iptv-page__igmp-switch
							label.igmp__switch-label IGMP Proxy
							input.checkbox-small.control(type="checkbox" checked)#igmp-switch2
							label.igmp__switch.checkbox-small_label(for="igmp-switch2")
								span.checkbox-small_value
								span.checkbox-small_slider

						.iptv-page__igmp-version
							label.interface-label Версия IGMP Proxy
							.itempick
								.itempick_holder.items-3
									input.itempick_radio#igmpv1-2(type="radio" name="igmpver2" checked)
									label.itempick_label(for="igmpv1-2")
										span.itempick_value v1
									input.itempick_radio#igmpv2-2(type="radio" name="igmpver2")
									label.itempick_label(for="igmpv2-2")
										span.itempick_value v2
									input.itempick_radio#igmpv3-2(type="radio" name="igmpver2")
									label.itempick_label(for="igmpv3-2")
										span.itempick_value v3
									b.itempick_slider

						.iptv-page__igmp-snooping
							label.snooping__switch-label IGMP Snooping
							input.checkbox-small.control(type="checkbox" checked)#snooping-switch2
							label.snooping__switch.checkbox-small_label(for="snooping-switch2")
								span.checkbox-small_value
								span.checkbox-small_slider




				include partials/header
				include partials/footer
		include partials/scripts
block scripts
	+script(['main.js'])
