block head
	- page.title = 'Wi-Fi';

include helpers/variables
include helpers/mixins

html(lang='ru')
	include partials/head
	body
		include partials/header
		include partials/sidemenu

		div.wrapper.wifi-page
			h1.section_name.section_name__wifi Wi-Fi

			section.internet-page
				.internet-page__tabs
					.internet-page__tabs-main.tab.tab__active(data-tab-name="1") Основной канал
					.internet-page__tabs-backup.tab(data-tab-name="2") Резервный канал
				.internet-page__tab-content(data-tab="1")
					.internet-page__provider
						section.provider-switch
							label.provider__switch-label Преднастройки провайдера
							input.checkbox-small.control(type="checkbox" checked)#provider-switch
							label.provider__switch.checkbox-small_label(data-switch-name="1" for="provider-switch")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.provider-select(data-switch-section="1")
							label.provider__select-label Выберите провайдера
							.jelect(role="select")
								input#jelect.jelect-input(name="tool" value="0" data-text="" type="text")
								.jelect-current(tabindex="0" role="button") Выберите
								ul.jelect-options
									li.jelect-option.jelect-option_state_active(data-val="0" tabindex="0" role="option") Ростелеком
									li.jelect-option(data-val="1" tabindex="0" role="option") МТС
									li.jelect-option(data-val="2" tabindex="0" role="option") 2KOM

					.internet-page__interface
						label.interface-label Тип соединения
						.itempick
							.itempick_holder.items-3
								input.itempick_radio#ethernet(type="radio" name="interface" checked)
								label.itempick_label(for="ethernet")
									span.itempick_value Ethernet
								input.itempick_radio#adsl(type="radio" name="interface")
								label.itempick_label(for="adsl")
									span.itempick_value ADSL
								input.itempick_radio#speed-3g(type="radio" name="interface")
								label.itempick_label(for="speed-3g")
									span.itempick_value 3G/4G
								b.itempick_slider
					.internet-page__connection
						label.connection-label Тип подключения
						.itempick
							.itempick_holder.items-4
								input.itempick_radio#dhcp(data-option-name="dhcp" type="radio" name="connection" checked)
								label.itempick_label(for="dhcp")
									span.itempick_value DHCP
								input.itempick_radio#staticip(data-option-name="staticip" type="radio" name="connection")
								label.itempick_label(for="staticip")
									span.itempick_value Static IP
								input.itempick_radio#pppoe(data-option-name="pppoe" type="radio" name="connection")
								label.itempick_label(for="pppoe")
									span.itempick_value PPPoE
								input.itempick_radio#pptp(data-option-name="pptp" type="radio" name="connection")
								label.itempick_label(for="pptp")
									span.itempick_value PPtP/L2TP
								b.itempick_slider
						.internet-page__staticip(data-option-section="staticip" hidden)
							section.staticip__address
								label.staticip__address-label IP адрес
								input.staticip__address-input.input-text(type="text")
							section.staticip__mask
								label.staticip__mask-label Маска подсети
								input.staticip__mask-input.input-text(type="text")
							section.staticip__gateway
								label.staticip__gateway-label Основной шлюз
								input.staticip__gateway-input.input-text(type="text")
						.internet-page__pppoe(data-option-section="pppoe" hidden)
							section.pppoe__login
								label.pppoe__login-label Имя пользователя
								input.pppoe__login-input.input-text(type="text")
							section.pppoe__password
								label.pppoe__password-label Пароль
								input.pppoe__password-input.input-text(type="text")
							section.pppoe__service
								label.pppoe__service-label Имя сервиса
								input.pppoe__service-input.input-text(type="text")
						.internet-page__pptp(data-option-section="pptp" hidden)
							section.pptp__login
								label.pptp__login-label Имя пользователя
								input.pptp__login-input.input-text(type="text")
							section.pptp__password
								label.pptp__password-label Пароль
								input.pptp__password-input.input-text(type="text")
							section.pptp__address
								label.pptp__address-label IP адрес / Доменное имя сервера
								input.pptp__address-input.input-text(type="text")
					.internet-page__dns
						label.dns-label Режим DNS
						.itempick
							.itempick_holder.items-2
								input.itempick_radio#autodns(type="radio" name="dns" checked)
								label.itempick_label(for="autodns")
									span.itempick_value Авто определение
								input.itempick_radio#manualdns(type="radio" name="dns")
								label.itempick_label(for="manualdns")
									span.itempick_value Вручную
								b.itempick_slider
						section.dns-primary-section
							label.dns-primary Предпочитаемый DNS
							input.dns-primary-input.input-text(type="text")
						section.dns-secondary-section
							label.dns-secondary Альтернативный DNS
							input.dns-secondary-input.input-text(type="text")
					.internet-page__vlan
						section.vlan-switch
							label.vlan__switch-label VLAN
							input.checkbox-small.control(type="checkbox" checked)#vlan-switch
							label.vlan__switch.checkbox-small_label(data-switch-name="2" for="vlan-switch")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.vlan-id(data-switch-section="2")
							label.vlan-id-label VLAN ID
							input.vlan-id-input.input-text(type="text")
							span.vlan-id-num (0-4095)
						section.vlan-ieee(data-switch-section="2")
							label.vlan-ieee-label 802.1p
							.jelect(role="select")
								input#jelect.jelect-input(name="tool" value="0" data-text="" type="text")
								.jelect-current(tabindex="0" role="button") 0
								ul.jelect-options
									li.jelect-option.jelect-option_state_active(data-val="0" tabindex="0" role="option") 0
									li.jelect-option(data-val="1" tabindex="0" role="option") 1
									li.jelect-option(data-val="2" tabindex="0" role="option") 2

					.internet-page__mac
						label.mac-label MAC адрес
						input.mac-input.input-text(type="text")
						button.button.button__cherry Клонировать мак адрес моего ПК

					.accordion.accordion__visible#authentication-accordion(data-section-name="1")
						span.accordion_name Настройки аутентификации
					section.internet-page__authentication(data-section="1")
						section.authentication-switch
							label.authentication__switch-label Аутентификация 802.1x
							input.checkbox-small.control(type="checkbox" checked)#authentication-switch
							label.authentication__switch.checkbox-small_label(data-switch-name="4" for="authentication-switch")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.authentication-eap
							label.eap-label(data-switch-section="4") Метод EAP
							.itempick(data-switch-section="4")
								.itempick_holder.items-2
									input.itempick_radio#md5(type="radio" name="eap" checked)
									label.itempick_label(for="md5")
										span.itempick_value MD5
									input.itempick_radio#tls(type="radio" name="eap")
									label.itempick_label(for="tls")
										span.itempick_value EAP-TLS
									b.itempick_slider
							.authentication-eap__login
								label.eap__login-label Имя пользователя
								input.eap__login-input.input-text(type="text")
							.authentication-eap__password
								label.eap__password-label Пароль
								input.eap__password-input.input-text(type="text")
						section.authentication-cabinet
							section.authentication-cabinet-switch
								label.authentication-cabinet__switch-label Кабинет
								input.checkbox-small.control(type="checkbox" checked)#cabinet-switch
								label.authentication-cabinet__switch.checkbox-small_label(data-switch-name="3" for="cabinet-switch")
									span.checkbox-small_value
									span.checkbox-small_slider
							section.authentication-cabinet__password(data-switch-section="3")
								label.cabinet__password-label Пароль
								input.cabinet__password-input.input-text(type="text")
					.accordion.accordion__visible#advanced-accordion(data-section-name="2")
						span.accordion_name Профессиональные настройки
					section.internet-page__advanced(data-section="2")
						section.advanced-mtu
							label.mtu-label Установка MTU
							.itempick
								.itempick_holder.items-2
									input.itempick_radio#automtu(type="radio" name="mtu" checked)
									label.itempick_label(for="automtu")
										span.itempick_value Автоматически
									input.itempick_radio#manualmtu(type="radio" name="mtu")
									label.itempick_label(for="manualmtu")
										span.itempick_value Вручную
									b.itempick_slider
						section.advanced-mtu-size
							label.advanced__size-label Размер MTU
							input.advanced__size-input.input-text(type="text")
						section.advanced-route
							label.advanced-route-label Маршрут по умолчанию
							input.checkbox-small.control(type="checkbox" checked)#route-switch
							label.advanced-route-switch.checkbox-small_label(for="route-switch")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.advanced-ip-version
							label.ip-version-label Версия IP-адреса
							.itempick
								.itempick_holder.items-3
									input.itempick_radio#ipv4(type="radio" name="ipver" checked)
									label.itempick_label(for="ipv4")
										span.itempick_value IPv4
									input.itempick_radio#ipv46(type="radio" name="ipver")
									label.itempick_label(for="ipv46")
										span.itempick_value IPv4/IPv6
									input.itempick_radio#ipv6(type="radio" name="ipver")
									label.itempick_label(for="ipv6")
										span.itempick_value IPv6
									b.itempick_slider
						section.advanced-connmode
							label.connmode-label Режим подключения
							span.connmode-value Динамический режим
						section.advanced-dhcpv6
							label.dhcpv6-label DHCP IPv6
							.itempick
								.itempick_holder.items-2
									input.itempick_radio#dhcpv6(type="radio" name="dhcpv6" checked)
									label.itempick_label(for="dhcpv6")
										span.itempick_value DHCP
									input.itempick_radio#slaac(type="radio" name="dhcpv6")
									label.itempick_label(for="slaac")
										span.itempick_value SLAAC
									b.itempick_slider
						section.advanced-dhcppd
							label.dhcppd-switch-label DHCP PD
							input.checkbox-small.control(type="checkbox" checked)#dhcppd-switch
							label.dhcppd-switch.checkbox-small_label(for="dhcppd-switch")
								span.checkbox-small_value
								span.checkbox-small_slider


				.internet-page__tab-content2(data-tab="2" hidden)
					.internet-page__provider
						section.provider-switch
							label.provider__switch-label Преднастройки провайдера
							input.checkbox-small.control(type="checkbox" checked)#provider-switch2
							label.provider__switch.checkbox-small_label(data-switch-name="1a" for="provider-switch2")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.provider-select(data-switch-section="1a")
							label.provider__select-label Выберите провайдера
							.jelect(role="select")
								input#jelect.jelect-input(name="tool" value="0" data-text="" type="text")
								.jelect-current(tabindex="0" role="button") Выберите
								ul.jelect-options
									li.jelect-option.jelect-option_state_active(data-val="0" tabindex="0" role="option") Ростелеком
									li.jelect-option(data-val="1" tabindex="0" role="option") МТС
									li.jelect-option(data-val="2" tabindex="0" role="option") 2KOM

					.internet-page__interface
						label.interface-label Тип соединения
						.itempick
							.itempick_holder.items-3
								input.itempick_radio#ethernet2(type="radio" name="interface2" checked)
								label.itempick_label(for="ethernet2")
									span.itempick_value Ethernet
								input.itempick_radio#adsl2(type="radio" name="interface2")
								label.itempick_label(for="adsl2")
									span.itempick_value ADSL
								input.itempick_radio#speed-3g2(type="radio" name="interface2")
								label.itempick_label(for="speed-3g2")
									span.itempick_value 3G/4G
								b.itempick_slider
					.internet-page__connection
						label.connection-label Тип подключения
						.itempick
							.itempick_holder.items-4
								input.itempick_radio#dhcp2(type="radio" name="connection2" checked)
								label.itempick_label(for="dhcp2")
									span.itempick_value DHCP
								input.itempick_radio#staticip2(type="radio" name="connection2")
								label.itempick_label(for="staticip2")
									span.itempick_value Static IP
								input.itempick_radio#pppoe2(type="radio" name="connection2")
								label.itempick_label(for="pppoe2")
									span.itempick_value PPPoE
								input.itempick_radio#pptp2(type="radio" name="connection2")
								label.itempick_label(for="pptp2")
									span.itempick_value PPtP/L2TP
								b.itempick_slider
					.internet-page__dns
						label.dns-label Режим DNS
						.itempick
							.itempick_holder.items-2
								input.itempick_radio#autodns2(type="radio" name="dns2" checked)
								label.itempick_label(for="autodns2")
									span.itempick_value Авто определение
								input.itempick_radio#manualdns2(type="radio" name="dns2")
								label.itempick_label(for="manualdns2")
									span.itempick_value Вручную
								b.itempick_slider
						section.dns-primary-section
							label.dns-primary Предпочитаемый DNS
							input.dns-primary-input.input-text(type="text")
						section.dns-secondary-section
							label.dns-secondary Альтернативный DNS
							input.dns-secondary-input.input-text(type="text")
					.internet-page__vlan
						section.vlan-switch
							label.vlan__switch-label VLAN
							input.checkbox-small.control(type="checkbox" checked)#vlan-switch2
							label.vlan__switch.checkbox-small_label(data-switch-name="2a" for="vlan-switch2")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.vlan-id(data-switch-section="2a")
							label.vlan-id-label VLAN ID
							input.vlan-id-input.input-text(type="text")
							span.vlan-id-num (0-4095)
						section.vlan-ieee(data-switch-section="2a")
							label.vlan-ieee-label 802.1p
							.jelect(role="select")
								input#jelect.jelect-input(name="tool" value="0" data-text="" type="text")
								.jelect-current(tabindex="0" role="button") 0
								ul.jelect-options
									li.jelect-option.jelect-option_state_active(data-val="0" tabindex="0" role="option") 0
									li.jelect-option(data-val="1" tabindex="0" role="option") 1
									li.jelect-option(data-val="2" tabindex="0" role="option") 2

					.internet-page__mac
						label.mac-label MAC адрес
						input.mac-input.input-text(type="text")
						button.button.button__cherry Клонировать мак адрес моего ПК

					.accordion.accordion__visible#authentication-accordion(data-section-name="3")
						span.accordion_name Настройки аутентификации
					section.internet-page__authentication(data-section="3")
						section.authentication-switch
							label.authentication__switch-label Аутентификация 802.1x
							input.checkbox-small.control(type="checkbox" checked)#authentication-switch2
							label.authentication__switch.checkbox-small_label(data-switch-name="4a" for="authentication-switch2")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.authentication-eap
							label.eap-label(data-switch-section="4a") Метод EAP
							.itempick(data-switch-section="4a")
								.itempick_holder.items-2
									input.itempick_radio#md5-2(type="radio" name="eap2" checked)
									label.itempick_label(for="md5-2")
										span.itempick_value MD5
									input.itempick_radio#tls2(type="radio" name="eap2")
									label.itempick_label(for="tls2")
										span.itempick_value EAP-TLS
									b.itempick_slider
							.authentication-eap__login
								label.eap__login-label Имя пользователя
								input.eap__login-input.input-text(type="text")
							.authentication-eap__password
								label.eap__password-label Пароль
								input.eap__password-input.input-text(type="text")
						section.authentication-cabinet
							section.authentication-cabinet-switch
								label.authentication-cabinet__switch-label Кабинет
								input.checkbox-small.control(type="checkbox" checked)#cabinet-switch2
								label.authentication-cabinet__switch.checkbox-small_label(data-switch-name="3a" for="cabinet-switch2")
									span.checkbox-small_value
									span.checkbox-small_slider
							section.authentication-cabinet__password(data-switch-section="3a")
								label.cabinet__password-label Пароль
								input.cabinet__password-input.input-text(type="text")
					.accordion.accordion__visible#advanced-accordion(data-section-name="4")
						span.accordion_name Профессиональные настройки
					section.internet-page__advanced(data-section="4")
						section.advanced-mtu
							label.mtu-label Установка MTU
							.itempick
								.itempick_holder.items-2
									input.itempick_radio#automtu2(type="radio" name="mtu2" checked)
									label.itempick_label(for="automtu2")
										span.itempick_value Автоматически
									input.itempick_radio#manualmtu2(type="radio" name="mtu2")
									label.itempick_label(for="manualmtu2")
										span.itempick_value Вручную
									b.itempick_slider
						section.advanced-mtu-size
							label.advanced__size-label Размер MTU
							input.advanced__size-input.input-text(type="text")
						section.advanced-route
							label.advanced-route-label Маршрут по умолчанию
							input.checkbox-small.control(type="checkbox" checked)#route-switch2
							label.advanced-route-switch.checkbox-small_label(for="route-switch2")
								span.checkbox-small_value
								span.checkbox-small_slider
						section.advanced-ip-version
							label.ip-version-label Версия IP-адреса
							.itempick
								.itempick_holder.items-3
									input.itempick_radio#ipv4-2(type="radio" name="ipver2" checked)
									label.itempick_label(for="ipv4-2")
										span.itempick_value IPv4
									input.itempick_radio#ipv46-2(type="radio" name="ipver2")
									label.itempick_label(for="ipv46-2")
										span.itempick_value IPv4/IPv6
									input.itempick_radio#ipv6-2(type="radio" name="ipver2")
									label.itempick_label(for="ipv6-2")
										span.itempick_value IPv6
									b.itempick_slider
						section.advanced-connmode
							label.connmode-label Режим подключения
							span.connmode-value Динамический режим
						section.advanced-dhcpv6
							label.dhcpv6-label DHCP IPv6
							.itempick
								.itempick_holder.items-2
									input.itempick_radio#dhcpv6-2(type="radio" name="dhcpv6-2" checked)
									label.itempick_label(for="dhcpv6-2")
										span.itempick_value DHCP
									input.itempick_radio#slaac2(type="radio" name="dhcpv6-2")
									label.itempick_label(for="slaac2")
										span.itempick_value SLAAC
									b.itempick_slider
						section.advanced-dhcppd
							label.dhcppd-switch-label DHCP PD
							input.checkbox-small.control(type="checkbox" checked)#dhcppd-switch2
							label.dhcppd-switch.checkbox-small_label(for="dhcppd-switch2")
								span.checkbox-small_value
								span.checkbox-small_slider



		include partials/scripts
block scripts
	+script(['main.js'])
