include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang='ru')
	include head
	body
		form(name='testform')
			include header

			include sidemenu

			.main-wrap
				.main
					h1.section-title-dashboard Статус системы

					ul.settings
						li.settings__wizard
							.settings__wizard-title Мастер настройки
							.settings__wizard-config.control
							.settings__wizard-resize
							.settings__wizard-content
								.wizard-content__item
								.wizard-content__item2
								.wizard-content__item3

						li.settings__internet
							.settings__internet-title Интернет
							.settings__internet-config.control
							.settings__internet-resize
							.settings__internet-content
								.internet-content-tabs.control
									.content-tabs__main.content-tabs_selected.control(data-tab-name="1") основной
									.content-tabs__backup(data-tab-name="2").control резервный
								section.internet-content-main(data-tab="1")
									table.content-main__table
										tr.content-main__row
											td.content-main__table-title Статус:
											td.content-main__table-value Подключено
										tr.content-main__row
											td.content-main__table-title  WAN IP:
											td.content-main__table-value  77.77.77.77
										tr.content-main__row
											td.content-main__table-title  Тип подключения
											td.content-main__table-value  DHCP

								section.internet-content-backup(data-tab="2" hidden)
									table.content-backup__table
										tr.content-backup__row
											td.content-backup__table-title Статус:
											td.content-backup__table-value Отключено
										tr.content-backup__row
											td.content-backup__table-title  WAN IP:
											td.content-backup__table-value  11.11.11.11
										tr.content-backup__row
											td.content-backup__table-title  Тип подключения
											td.content-backup__table-value  DHCP

						li.settings__wifi
							.settings__wifi-title WI-FI
							.settings__wifi-config.control
							.settings__wifi-resize
							input.checkbox-small.control(type="checkbox" checked)#wifi-switch
							label.settings__wifi-switch.checkbox-small_label(for="wifi-switch")
								span.checkbox-small_value
								span.checkbox-small_slider
							.settings__wifi-content
								.wifi-content-tabs
									.content-tabs__main.content-tabs_selected.control(data-tab-name="1") 2.4 ГГЦ
									.content-tabs__backup.control(data-tab-name="2") 5ГГЦ
								section.wifi-content-main(data-tab="1")
									table.content-main__table
										tr.content-main__row
											td.content-main__table-title SSID:
											td.content-main__table-value VASYA_PUPKIN
										tr.content-main__row
											td.content-main__table-title Шифрование:
											td.content-main__table-value WPA2-PSK
										tr.content-main__row
											td.content-main__table-title Канал:
											td.content-main__table-value.table-value-channel
												.jelect.jelect__small(role="select")
													input#main-channel.jelect-input(name="tool" value="0" data-text="1" type="text")
													.jelect-current(tabindex="0" role="button") Авто
													ul.jelect-options
														li.jelect-option.jelect-option_state_active(data-val="auto" tabindex="0" role="option") Авто
														li.jelect-option(data-val="1" tabindex="0" role="option") 1
														li.jelect-option(data-val="2" tabindex="0" role="option") 2
														li.jelect-option(data-val="3" tabindex="0" role="option") 3
														li.jelect-option(data-val="4" tabindex="0" role="option") 4
														li.jelect-option(data-val="5" tabindex="0" role="option") 5
														li.jelect-option(data-val="6" tabindex="0" role="option") 6
														li.jelect-option(data-val="7" tabindex="0" role="option") 7
														li.jelect-option(data-val="8" tabindex="0" role="option") 8
														li.jelect-option(data-val="9" tabindex="0" role="option") 9

								section.wifi-content-backup(data-tab="2" hidden)
									table.content-backup__table
										tr.content-backup__row
											td.content-backup__table-title SSID:
											td.content-backup__table-value VASYA_PUPKIN2
										tr.content-backup__row
											td.content-backup__table-title  Шифрование:
											td.content-backup__table-value  WPA2-PSK
										tr.content-backup__row
											td.content-backup__table-title  Канал:
											td.content-backup__table-value.table-value-channel
												.jelect.jelect__small(role="select")
													input#backup-channel.jelect-input(name="tool" value="0" data-text="1" type="text")
													.jelect-current(tabindex="0" role="button") Авто
													ul.jelect-options
														li.jelect-option.jelect-option_state_active(data-val="auto" tabindex="0" role="option") Авто
														li.jelect-option(data-val="1" tabindex="0" role="option") 1
														li.jelect-option(data-val="2" tabindex="0" role="option") 2
														li.jelect-option(data-val="3" tabindex="0" role="option") 3
														li.jelect-option(data-val="4" tabindex="0" role="option") 4
														li.jelect-option(data-val="5" tabindex="0" role="option") 5
														li.jelect-option(data-val="6" tabindex="0" role="option") 6
														li.jelect-option(data-val="7" tabindex="0" role="option") 7
														li.jelect-option(data-val="8" tabindex="0" role="option") 8
														li.jelect-option(data-val="9" tabindex="0" role="option") 9

						li.settings__ip
								.settings__ip-flip-container
									.settings__ip-flipper
										.settings__ip-wrap
											.settings__ip-front
												table.settings__ip-addresses
													tr.settings__ip-addresses-titles
														th.settings__ip-addresses-title IP адрес
														th.settings__ip-addresses-title2  MAC адрес
														th.settings__ip-addresses-title3  Время жизни <br> (сек)
													tr.settings__ip-addresses-values
														td.settings__ip-addresses-value 192.168.1.2
														td.settings__ip-addresses-value f8:d1:11:00:fe:5a
														td.settings__ip-addresses-value 28656
													tr.settings__ip-addresses-values
														td.settings__ip-addresses-value  192.168.1.3
														td.settings__ip-addresses-value  f0:de:f1:22:14:ad
														td.settings__ip-addresses-value  28789
													tr.settings__ip-addresses-values
														td.settings__ip-addresses-value 192.168.1.2
														td.settings__ip-addresses-value f8:d1:11:00:fe:5a
														td.settings__ip-addresses-value 28656
													tr.settings__ip-addresses-values
														td.settings__ip-addresses-value  192.168.1.3
														td.settings__ip-addresses-value  f0:de:f1:22:14:ad
														td.settings__ip-addresses-value  28789
													tr.settings__ip-addresses-values
														td.settings__ip-addresses-value 192.168.1.2
														td.settings__ip-addresses-value f8:d1:11:00:fe:5a
														td.settings__ip-addresses-value 28656
													tr.settings__ip-addresses-values
														td.settings__ip-addresses-value  192.168.1.3
														td.settings__ip-addresses-value  f0:de:f1:22:14:ad
														td.settings__ip-addresses-value  28789
											.settings__ip-backbtn Назад
										.settings__ip-back
											.settings__ip-back-title Домашняя сеть
											.settings__ip-back-config
											.settings__ip-back-resize
											.settings__ip-back-content
												table.content-back__table
													tr.content-back__row
														td.content-back__table-title LAN IP:
														td.content-back__table-value 192.168.1.88
													tr.content-back__row
														td.content-back__table-title DHCP клиентов:
														td.content-back__table-value.table-value-clients
															.jelect.jelect__small(role="select")
																input#clients-qty.jelect-input(name="tool" value="0" data-text="1" type="text")
																.jelect-current(tabindex="0" role="button") 4
																ul.jelect-options
																	li.jelect-option.jelect-option_state_active(data-val="4" tabindex="0" role="option") 4
																	li.jelect-option(data-val="1" tabindex="0" role="option") 1
																	li.jelect-option(data-val="2" tabindex="0" role="option") 2
																	li.jelect-option(data-val="3" tabindex="0" role="option") 3
																	li.jelect-option(data-val="4" tabindex="0" role="option") 4
																	li.jelect-option(data-val="5" tabindex="0" role="option") 5
																	li.jelect-option(data-val="6" tabindex="0" role="option") 6
																	li.jelect-option(data-val="7" tabindex="0" role="option") 7
																	li.jelect-option(data-val="8" tabindex="0" role="option") 8
																	li.jelect-option(data-val="9" tabindex="0" role="option") 9

						li.settings__iptv
							.settings__iptv-title IP-TV
							.settings__iptv-config.control
							.settings__iptv-resize
							.settings__iptv-content
								table.iptv-content__table
									tr.iptv-content__table-row
										td.iptv-content__table-title Порт IPTV:
										td.iptv-content__table-value Не назначен
									tr.iptv-content__table-row
										td.iptv-content__table-title Порт SIP:
										td.iptv-content__table-value Не назначен

						li.settings__access
							.settings__access-title УПРАВЛЕНИЕ ДОСТУПОМ
							.settings__access-config.control
							.settings__access-resize
							.settings__access-content
								table.access-content__table
									tr.access-content__table-row
										td.access-content__table-title Firewall:
										td.access-content__table-value Включен
									tr.access-content__table-row
										td.access-content__table-title  NAT:
										td.access-content__table-value  Выключен
									tr.access-content__table-row
										td.access-content__table-title  Родительский контроль:
										td.access-content__table-value  Выключен

						li.settings__usb
							.settings__usb-title USB
							.settings__usb-config.control
							.settings__usb-resize
							.settings__usb-content
								section.usb-content__server
									.usb-content__server-title Принт-сервер:
									.usb-content__server-value Включен
								section.usb-content__drive
									.usb-content__drive-title USB-накопитель:
									.usb-content__drive-value Выключен
								section.usb-content__mem
									.usb-content__mem-title Объем памяти:
									.usb-content__mem-value 0,356 / 1,5 Гб
									.usb-content__mem-bar

						li.settings__admin
							.settings__admin-title АДМИНИСТРИРОВАНИЕ
							.settings__admin-config.control
							.settings__admin-resize
							.settings__admin-content
								section.admin-content__version
									.admin-content__version-title Версия ПО/ Дата создания:
									.admin-content__version-value 1.1.6 / 14.02.2014
								section.admin-content__cpu
									.admin-content__cpu-title Загрузка CPU:
									.admin-content__cpu-value 58%
									.admin-content__cpu-bar
								section.admin-content__ram
									.admin-content__ram-title Загрузка RAM:
									.admin-content__ram-value 143 / 256 Мб
									.admin-content__ram-bar

			.section-header-access
				header.section-header.fixed-header_container
					h1.section_name.section_name__access-settings Управление доступом
					span.section-header_buttons
						a(href="#home" class="button button__action") Назад
						a(href="javascript: void(0)" class="button button__cherry") Сохранить

			.section-header-admin
				header.section-header.fixed-header_container
					h1.section_name.section_name__admin Администрирование
					span.section-header_buttons
						a(href="#home" class="button button__action") Назад
						a(href="javascript: void(0)" class="button button__cherry") Сохранить

			.section-header-dashboard
				header.section-header.fixed-header_container
					h1.section_name.section_name__dashbord Статус системы

			.section-header-homelan
				header.section-header.fixed-header_container
					h1.section_name.section_name__homelan Домашняя сеть
					span.section-header_buttons
						a(href="#home" class="button button__action") Назад
						a(href="javascript: void(0)" class="button button__cherry") Сохранить

			.section-header-internet
				header.section-header.fixed-header_container
					h1.section_name.section_name__internet Интернет
					span.section-header_buttons
						a(href="#home" class="button button__action") Назад
						a(href="javascript: void(0)" class="button button__cherry") Сохранить

			.section-header-iptv
				header.section-header.fixed-header_container
					h1.section_name.section_name__iptv IP-TV
					span.section-header_buttons
						a(href="#home" class="button button__action") Назад
						a(href="javascript: void(0)" class="button button__cherry") Сохранить

			.section-header-settings
				header.section-header.fixed-header_container
					h1.section_name.section_name__settings Мастер настройки

			.section-header-usb
				header.section-header.fixed-header_container
					h1.section_name.section_name__usb USB
					span.section-header_buttons
						a(href="#home" class="button button__action") Назад
						a(href="javascript: void(0)" class="button button__cherry") Сохранить

			.section-header-wifi
				header.section-header.fixed-header_container
					h1.section_name.section_name__wifi Wi-Fi
					span.section-header_buttons
						a(href="#home" class="button button__action") Назад
						a(href="javascript: void(0)" class="button button__cherry") Сохранить

					block content
					include footer
					include scripts
