span(id="home" class="hidden-target")
span(id="settings" class="hidden-target")
span(id="internet" class="hidden-target")
span(id="wifi" class="hidden-target")
span(id="homelan" class="hidden-target")
span(id="iptv" class="hidden-target")
span(id="access" class="hidden-target")
span(id="usb" class="hidden-target")
span(id="admin" class="hidden-target")