div.popup_item.popup__confirm
	button.popup_close
		svg(viewBox="0 0 16 16")
			path(d="M9.207,8.5l2.768-2.768c0.195-0.195,0.195-0.512,0-0.707c-0.195-0.195-0.512-0.195-0.707,0L8.5,7.793L5.732,5.025  c-0.195-0.195-0.512-0.195-0.707,0c-0.195,0.195-0.195,0.512,0,0.707L7.793,8.5l-2.768,2.768c-0.195,0.195-0.195,0.512,0,0.707  c0.195,0.195,0.512,0.195,0.707,0L8.5,9.207l2.768,2.768c0.195,0.195,0.512,0.195,0.707,0s0.195-0.512,0-0.707L9.207,8.5z")
	h2.popup_title Вы уверены?
	p.popup_text Загрузка некорректной прошивки может привести к неработоспособности устройства
	div.popup_button-set
		button.button.button__ghost.popup_button#popup-confirm Продолжить
		button.button.button__ghost.popup_button.popup_close-window Отмена

div.popup_item.popup__reboot
	button.popup_close
		svg(viewBox="0 0 16 16")
			path(d="M9.207,8.5l2.768-2.768c0.195-0.195,0.195-0.512,0-0.707c-0.195-0.195-0.512-0.195-0.707,0L8.5,7.793L5.732,5.025  c-0.195-0.195-0.512-0.195-0.707,0c-0.195,0.195-0.195,0.512,0,0.707L7.793,8.5l-2.768,2.768c-0.195,0.195-0.195,0.512,0,0.707  c0.195,0.195,0.512,0.195,0.707,0L8.5,9.207l2.768,2.768c0.195,0.195,0.512,0.195,0.707,0s0.195-0.512,0-0.707L9.207,8.5z")
	h2.popup_title Поздравляем!
	p.popup_text Ваша прошивка обновилась. Роутер сейчас перезагрузится.
	div.popup_button-set
		button.button.button__ghost.popup_button.popup_close-window Продолжить

div.popup_item.popup__save
	button.popup_close
		svg(viewBox="0 0 16 16")
			path(d="M9.207,8.5l2.768-2.768c0.195-0.195,0.195-0.512,0-0.707c-0.195-0.195-0.512-0.195-0.707,0L8.5,7.793L5.732,5.025  c-0.195-0.195-0.512-0.195-0.707,0c-0.195,0.195-0.195,0.512,0,0.707L7.793,8.5l-2.768,2.768c-0.195,0.195-0.195,0.512,0,0.707  c0.195,0.195,0.512,0.195,0.707,0L8.5,9.207l2.768,2.768c0.195,0.195,0.512,0.195,0.707,0s0.195-0.512,0-0.707L9.207,8.5z")
	h2.popup_title Настройки успешно <br> сохранены
	div.popup_button-set
		button.button.button__ghost.popup_button.popup_close-window Ок

div.popup_item.popup_item__progress
	button.popup_close
		svg(viewBox="0 0 16 16")
			path(d="M9.207,8.5l2.768-2.768c0.195-0.195,0.195-0.512,0-0.707c-0.195-0.195-0.512-0.195-0.707,0L8.5,7.793L5.732,5.025  c-0.195-0.195-0.512-0.195-0.707,0c-0.195,0.195-0.195,0.512,0,0.707L7.793,8.5l-2.768,2.768c-0.195,0.195-0.195,0.512,0,0.707  c0.195,0.195,0.512,0.195,0.707,0L8.5,9.207l2.768,2.768c0.195,0.195,0.512,0.195,0.707,0s0.195-0.512,0-0.707L9.207,8.5z")
	h2.popup_title Обновление прошивки <br> Пожалуйста, подождите
	div.popup_progress
		span.popup_progress-value 0
		div.popup_progress-meter
			span.popup_progress-current

div.popup_item.popup__definition(data-definition="iptv")
	button.popup_close
		svg(viewBox="0 0 16 16")
			path(d="M9.207,8.5l2.768-2.768c0.195-0.195,0.195-0.512,0-0.707c-0.195-0.195-0.512-0.195-0.707,0L8.5,7.793L5.732,5.025  c-0.195-0.195-0.512-0.195-0.707,0c-0.195,0.195-0.195,0.512,0,0.707L7.793,8.5l-2.768,2.768c-0.195,0.195-0.195,0.512,0,0.707  c0.195,0.195,0.512,0.195,0.707,0L8.5,9.207l2.768,2.768c0.195,0.195,0.512,0.195,0.707,0s0.195-0.512,0-0.707L9.207,8.5z")
	h2.popup_title ПРИВЯЗКА К ПОРТАМ
	p.popup_text.
		Функционал IP-TV порта обеспечивает прием IP-телевидения на IPTV приставке или компьютере. В зависимости от особенностей предоставления услуги
		IP-телевидения вашим провайдером, используйте автоматический режим или назначьте разъем для подключения ресивера IPTV вручную. Если услуга IP-телевидения
		и IP-телефонии предоставляется на базе VLAN по стандарту 802.1Q, выберите соответствующий режим и укажите VLAN ID, выданные провайдером. Разъемы интернет-центра, назначенные для IP-телевидения и IP-телефонии, будут отключены от домашней сети.
	div.popup_button-set
		button.button.button__ghost.popup_button.popup_close-window OK
