+script([
	'libs/jquery-2.1.1.min.js',
	'libs/jquery-ui.min.js',
	'libs/jquery.jelect.min.js',
	'libs/jquery.mousewheel.min.js',
	'libs/jquery.jscrollpane.min.js',
	'libs/jquery.mask.min.js',
	'libs/modernizr.js'
])

block scripts
