header.header
	.header_holder
		div.header_holder__third-section
			.header_item.header_item__language
				div.jelect.jelect__language(role="select")
					input#jelect-language.jelect-input(name="language" value="0" data-text="" type="text")
					div.jelect-current(tabindex="0" role="button") Русский
					ul.jelect-options
						li.jelect-option.jelect-option_state_active(data-val="0" tabindex="0" role="option") Русский
						li.jelect-option(data-val="1" tabindex="0" role="option") English
			a(href="javascript: void(0)").header_item.header_item__restart
				span Перезагрузка
			a(href="javascript: void(0)").header_item.header_item__exit
				span Выход
		div.header_holder__first-section
			.header_item.header_item__date 1 Авг 2013
			.header_item.header_item__time 09:02:11
		div.header_holder__second-section
			.header_item.header_item__connection.hidden__item 3G/4G
				div.header_item-hidden.header_item-hidden__big
					p.item-hidden_row Card info:
						span.item-hidden_value D16Q1
					p.item-hidden_row Link Status:
						span.item-hidden_value.item-hidden_value__connect Connecting
							i.connect-item
					p.item-hidden_row Signal Strength
						span.item-hidden_value
							i.signal.signal__active
							i.signal.signal__active
							i.signal.signal__active
							i.signal
							i.signal
					p.item-hidden_row Network name:
						span.item-hidden_value N/A
			.header_item.header_item__frequency 2.4 и 5 ГГц
			.header_item.header_item__usb.hidden__item
				div.header_item-hidden.item-hidden__usb
					p.item-hidden_row.row__block USB:
							span.item-hidden_value Отключен
			.header_item.header_item__print.hidden__item
				div.header_item-hidden.item-hidden__print
					p.item-hidden_row.row__block Принт-сервер:
							span.item-hidden_value Отключен
