.jelect.jelect__small(role="select")
	input#main-channel.jelect-input(name="tool" value="0" data-text="1" type="text")
	.jelect-current(tabindex="0" role="button") Авто
	ul.jelect-options
		li.jelect-option.jelect-option_state_active(data-val="auto" tabindex="0" role="option") Авто
		li.jelect-option(data-val="1" tabindex="0" role="option") 1
		li.jelect-option(data-val="2" tabindex="0" role="option") 2
		li.jelect-option(data-val="3" tabindex="0" role="option") 3
		li.jelect-option(data-val="4" tabindex="0" role="option") 4
		li.jelect-option(data-val="5" tabindex="0" role="option") 5
		li.jelect-option(data-val="6" tabindex="0" role="option") 6
		li.jelect-option(data-val="7" tabindex="0" role="option") 7
		li.jelect-option(data-val="8" tabindex="0" role="option") 8
		li.jelect-option(data-val="9" tabindex="0" role="option") 9