.sidemenu-upper-block
.main-menu
	.main-menu__content
		header.brand
			a.brand_logo(href="#home")
		ul.main-menu__scrollable
			li.main-menu__item.main-menu__item_wizard
				a(href="#settings" class="main-menu_link")
					span(class="main-menu_link-name") Мастер настройки
			li.main-menu__item.main-menu__item_internet
				a(href="#internet" class="main-menu_link")
					span(class="main-menu_link-name") Интернет
			li.main-menu__item.main-menu__item_wifi
				a(href="#wifi" class="main-menu_link")
					span(class="main-menu_link-name") Wi-Fi
			li.main-menu__item.main-menu__item_home
				a(href="#homelan" class="main-menu_link")
					span(class="main-menu_link-name") Домашняя сеть
			li.main-menu__item.main-menu__item_iptv
				a(href="#iptv" class="main-menu_link")
					span(class="main-menu_link-name") IP-TV
			li.main-menu__item.main-menu__item_access
				a(href="#access" class="main-menu_link")
					span(class="main-menu_link-name") Управление доступом
			li.main-menu__item.main-menu__item_usb
				a(href="#usb" class="main-menu_link")
					span(class="main-menu_link-name") USB
			li.main-menu__item.main-menu__item_admin
				a(href="#admin" class="main-menu_link")
					span(class="main-menu_link-name") Администрирование

		.main-menu__copyright
			.main-menu__copyright-button(hidden)
			a.copyright_ico(href="javascript: void(0)")
			ul.main-menu__copyright-links
				li: a(href="#") Пользовательское соглашение
				li: a(href="#") Официальный сайт
				li: a(href="#") Поддержка
				li: a(href="#") Помощь
			p.main-menu__copyright-year
				span.copyright-year_value
					| 2014
					<br hidden>
					| © QTECH
