div.table.table__timepicker
	header.timepicker_hours
		span 0
		span 1
		span 2
		span 3
		span 4
		span 5
		span 6
		span 7
		span 8
		span 9
		span 10
		span 11
		span 12
		span 13
		span 14
		span 15
		span 16
		span 17
		span 18
		span 19
		span 20
		span 21
		span 22
		span 23
	div.timepicker_body
		div.timepicker_days_item.day__monday
			strong.timepicker_days_day-name Понедельник
			span.day__monday-item.time__0
			span.day__monday-item.time__1
			span.day__monday-item.time__2
			span.day__monday-item.time__3
			span.day__monday-item.time__4
			span.day__monday-item.time__5
			span.day__monday-item.time__6
			span.day__monday-item.time__7
			span.day__monday-item.time__8
			span.day__monday-item.time__9
			span.day__monday-item.time__10
			span.day__monday-item.time__11
			span.day__monday-item.time__12
			span.day__monday-item.time__13
			span.day__monday-item.time__14
			span.day__monday-item.time__15
			span.day__monday-item.time__16
			span.day__monday-item.time__17
			span.day__monday-item.time__18
			span.day__monday-item.time__19
			span.day__monday-item.time__20
			span.day__monday-item.time__21
			span.day__monday-item.time__22
			span.day__monday-item.time__23
		div.timepicker_days_item
			strong.timepicker_days_day-name Вторник
			span.day__tuesday-item.time0
			span.day__tuesday-item.time1
			span.day__tuesday-item.time2
			span.day__tuesday-item.time3
			span.day__tuesday-item.time4
			span.day__tuesday-item.time5
			span.day__tuesday-item.time6
			span.day__tuesday-item.time7
			span.day__tuesday-item.time8
			span.day__tuesday-item.time9
			span.day__tuesday-item.time10
			span.day__tuesday-item.time11
			span.day__tuesday-item.time12
			span.day__tuesday-item.time13
			span.day__tuesday-item.time14
			span.day__tuesday-item.time15
			span.day__tuesday-item.time16
			span.day__tuesday-item.time17
			span.day__tuesday-item.time18
			span.day__tuesday-item.time19
			span.day__tuesday-item.time20
			span.day__tuesday-item.time21
			span.day__tuesday-item.time22
			span.day__tuesday-item.time23
		div.timepicker_days_item
			strong.timepicker_days_day-name Среда
			span.day__wednesday-item.time0
			span.day__wednesday-item.time1
			span.day__wednesday-item.time2
			span.day__wednesday-item.time3
			span.day__wednesday-item.time4
			span.day__wednesday-item.time5
			span.day__wednesday-item.time6
			span.day__wednesday-item.time7
			span.day__wednesday-item.time8
			span.day__wednesday-item.time9
			span.day__wednesday-item.time10
			span.day__wednesday-item.time11
			span.day__wednesday-item.time12
			span.day__wednesday-item.time13
			span.day__wednesday-item.time14
			span.day__wednesday-item.time15
			span.day__wednesday-item.time16
			span.day__wednesday-item.time17
			span.day__wednesday-item.time18
			span.day__wednesday-item.time19
			span.day__wednesday-item.time20
			span.day__wednesday-item.time21
			span.day__wednesday-item.time22
			span.day__wednesday-item.time23
		div.timepicker_days_item
			strong.timepicker_days_day-name Четверг
			span.day__thursday-item.time0
			span.day__thursday-item.time1
			span.day__thursday-item.time2
			span.day__thursday-item.time3
			span.day__thursday-item.time4
			span.day__thursday-item.time5
			span.day__thursday-item.time6
			span.day__thursday-item.time7
			span.day__thursday-item.time8
			span.day__thursday-item.time9
			span.day__thursday-item.time10
			span.day__thursday-item.time11
			span.day__thursday-item.time12
			span.day__thursday-item.time13
			span.day__thursday-item.time14
			span.day__thursday-item.time15
			span.day__thursday-item.time16
			span.day__thursday-item.time17
			span.day__thursday-item.time18
			span.day__thursday-item.time19
			span.day__thursday-item.time20
			span.day__thursday-item.time21
			span.day__thursday-item.time22
			span.day__thursday-item.time23
		div.timepicker_days_item
			strong.timepicker_days_day-name Пятница
			span.day__friday-item.time0
			span.day__friday-item.time1
			span.day__friday-item.time2
			span.day__friday-item.time3
			span.day__friday-item.time4
			span.day__friday-item.time5
			span.day__friday-item.time6
			span.day__friday-item.time7
			span.day__friday-item.time8
			span.day__friday-item.time9
			span.day__friday-item.time10
			span.day__friday-item.time11
			span.day__friday-item.time12
			span.day__friday-item.time13
			span.day__friday-item.time14
			span.day__friday-item.time15
			span.day__friday-item.time16
			span.day__friday-item.time17
			span.day__friday-item.time18
			span.day__friday-item.time19
			span.day__friday-item.time20
			span.day__friday-item.time21
			span.day__friday-item.time22
			span.day__friday-item.time23
		div.timepicker_days_item
			strong.timepicker_days_day-name Суббота
			span.day__saturday-item.time0
			span.day__saturday-item.time1
			span.day__saturday-item.time2
			span.day__saturday-item.time3
			span.day__saturday-item.time4
			span.day__saturday-item.time5
			span.day__saturday-item.time6
			span.day__saturday-item.time7
			span.day__saturday-item.time8
			span.day__saturday-item.time9
			span.day__saturday-item.time10
			span.day__saturday-item.time11
			span.day__saturday-item.time12
			span.day__saturday-item.time13
			span.day__saturday-item.time14
			span.day__saturday-item.time15
			span.day__saturday-item.time16
			span.day__saturday-item.time17
			span.day__saturday-item.time18
			span.day__saturday-item.time19
			span.day__saturday-item.time20
			span.day__saturday-item.time21
			span.day__saturday-item.time22
			span.day__saturday-item.time23
		div.timepicker_days_item
			strong.timepicker_days_day-name Воскресенье
			span.day__sunday-item.time0
			span.day__sunday-item.time1
			span.day__sunday-item.time2
			span.day__sunday-item.time3
			span.day__sunday-item.time4
			span.day__sunday-item.time5
			span.day__sunday-item.time6
			span.day__sunday-item.time7
			span.day__sunday-item.time8
			span.day__sunday-item.time9
			span.day__sunday-item.time10
			span.day__sunday-item.time11
			span.day__sunday-item.time12
			span.day__sunday-item.time13
			span.day__sunday-item.time14
			span.day__sunday-item.time15
			span.day__sunday-item.time16
			span.day__sunday-item.time17
			span.day__sunday-item.time18
			span.day__sunday-item.time19
			span.day__sunday-item.time20
			span.day__sunday-item.time21
			span.day__sunday-item.time22
			span.day__sunday-item.time23