flexhack = true

.header {
	.jelect__language .jelect-current {
		padding: 0 41px 0 32px;
	}

	.jelect__language .jelect-option {
		font-size: 14px !important
		letter-spacing: -.5px !important
		color: rgba(255, 255, 255, 0.498039);
		border-bottom: 1px #504136 solid;
		height: 68px;
		line-height: 67px;
	}

	.jelect-option:first-child {
		border-top: 1px solid #504136;
	}

	.jelect__language .jelect-option:hover {
		background-color: rgba(39, 25, 15, 0.95);
	}
}

.content-items {

	.jelect__small .jelect-current {
		font-size: 15px !important
		font-weight bold !important
		letter-spacing: -1.1px;
	}

	.jelect__small .jelect-current:after {
		margin-left: 4px !important
		border-width: 3px 0 4px 4px !important
		top: -1.5px !important
	}

	.jelect__small .jelect-option {
		padding-left: 11px;
		height: 33px;
		text-align: left;
		font-size: 15px;
		line-height: 33px;
		letter-spacing: -0.4px;
	}

	.jelect__small .jelect-options {
		width: 80px;
	}

}

.section_name {
	position: relative;
	top: 1px;
	margin-bottom: 40px;
	padding-left: 48px;
	font-family: 'Roboto';
	font-size: 29px;
	font-weight: 300;
	letter-spacing: -0.6px;
	color: rgba(255, 255, 255, .9);
	word-spacing: 1.1px;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 46px;
		height: 30px;
		margin-top: -13px;
		background: url("../images/sprite.png") -84px -186px no-repeat;
		background-size: 244px;
		opacity: 0.9;
	}

	&.section_name__dashbord {
		padding-left 56px;
		transform translateY(-4px);
		&:after {
			margin-top: -9px;
		}
	}
}

.content-item {
	background-color rgba(255, 255, 255, .65)
	width 400px;
	height 215px
	float: left;
	position relative
	padding 40px 20px 20px 20px
	transition background-color .3s
	margin-right: 2px;
	margin-bottom: 4px;
	margin-left: 3px;
	outline: 1px solid transparent; // prevent antialiasing bug when dragging

	&__internet {
		.info_item_state {
			position: relative;
			top: 2px;
		}

		.tab-content_section__main, .tab-content_section__second {
			.info_item:nth-of-type(2), .info_item:nth-of-type(3) {
				.info_item_state {
					letter-spacing: 0px;
				}
			}
		}
	}

	&__access {
		.info_item {
			top: -1px;
		}

		.info_item_state {
			margin-right: 13px;
			font-family: 'Roboto', Arial, Calibri;
			letter-spacing: -0.9px;
		}
	}

	&__lan {
		.info_item_state {
			margin-right: 11px;
			font-family: 'Roboto', Arial, Calibri;
			letter-spacing: 0px;
		}
	}

	&__iptv {
		.info_item_state {
			margin-right: 12px;
			float: right;
			font-family: 'Roboto', Arial, Calibri;
			font-weight: bold;
			letter-spacing: -0.5px;
		}
	}

	&__admin {
		.info_item_state {
			font-family: 'Roboto', Arial, Calibri;
			font-weight: bold;
			letter-spacing: 0px;
		}
	}

	&:nth-child(2n) {
		/*margin-right 0*/
	}

	&:hover {
		background-color rgba(255, 255, 255, .77)
	}

	&_state-holder {
		position relative
		float: right;
	}

	&__state {
		position absolute
		top: -9px;
		right: 88px
	}

	&_action {
		position absolute
		width 36px
		height: 36px
		/*opacity .7*/
		background-repeat no-repeat
		background-image url('../images/sprite.png')
		top: -4px;
		right: 0;
		transition: all .4s;

		&:hover {
			opacity 1;
			background-color: rgba(183, 69, 89, 0.07)
		}

		&__settings {
			background-position: -150px -155px;
			background-size: 242px;
			right: 42px
			width: 25px;
			height: 25px;
			transition: all .4s;
			border-radius 5px
		}

		&__sortable {
			top: -4px;
			right: 11px;
			background-position: -179px -155px;
			background-size: 242px;
			width: 25px;
			height: 25px;
			border-radius 5px
			transition: all .4s;
		}

		&__eject {
			width: 25px;
			height: 24px;
			background: url('../images/eject-button.png') no-repeat;
			background-size: 25px;
			top: -3px;
			right: 73px;
			border-radius: 4px;
			transition: all .4s;
		}
	}

	&__wifi {
		.content-item_tab:after {
			right: 12px;
		}

		.tab_label_main {
			left: -12px
		}

		.tab_label_second {
			left: -5px
		}

		.info_item .jelect__small .jelect-current {
			top: -12px;
			right: 2px;
		}

		.info_item_state {
			margin-right: 12px;
			letter-spacing: -0.5px;
			top: 2px;
			position: relative;
		}
		.content-item_action__settings {
			right: 41px;
		}

		.checkbox-small_label {
			width: 65px;
			height: 25px;
			border-radius: 5px;
			top: -7px;
			left: -138px;
			box-shadow: 0 0 0.5px #b63f56;
			border: 1px solid;
		}

		.checkbox-small_value:after {
			font-size: 11px
		}

		.checkbox-small_slider:after {
			margin-top: -8.1px;
			width: 16px;
			height: 16px;
			border-radius: 3px;
		}

		.checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
			left: -11px;
		}

		.checkbox-small:checked ~ .checkbox-small_label .checkbox-small_slider:after {
			left: 37px;
		}
	}

	&__internet .content-item_tab:before {
		width 55px
	}

	&__internet .content-item_tab:after {
		width: 64px;
	}

	&__wifi .content-item_tab:after, &__wifi .content-item_tab:before {
		width 100px
	}

	&_name {
		position: relative;
		padding-top: 3px;
		padding-left: 54px;
		min-height: 18px;
		font-family: 'Roboto', Arial, Calibri;
		font-size: 15px;
		text-transform: uppercase;
		color: #75676A;
		letter-spacing: -0.9px;

		&:before {
			content: ''
			position absolute
			left: 0
			top: 50%
			margin-top: -16px
			width: 32px
			height: 32px
			background-image url('../images/sprite.png')
			background-repeat no-repeat
			background-size 296px
		}

		&__settings:before {
			margin-top: -12px;
			width: 29px;
			height: 25px;
			background-position: -58px -185px;
			background-size: 246px;
			left: 15px;
		}

		&__internet:before {
			margin-top: -13px;
			width: 32px;
			height: 29px;
			background-position: -87px -152px;
			background-size: 238px;
			left: 14px
		}

		&__wifi:before {
			width: 31px;
			height: 22px;
			background-position: -26px -187px;
			background-size: 245px;
			left: 14px;
			margin-top: -10px;
		}

		&__lan:before {
			width: 28px;
			height: 28px;
			background-position: -145px -122px;
			background-size: 258px;
			left: 16px;
			top: 10px;
		}

		&__iptv:before {
			width: 29px;
			height: 27px;
			background-position: -137px -72px;
			background-size: 242px;
			left: 14px;
			margin-top: -16px;
		}

		&__access:before {
			margin-top: -13px;
			width: 21px;
			height: 28px;
			background-position: -175px -107px;
			background-size: 245px;
			left: 18px;
		}

		&__usb:before {
			margin-top: -17px;
			width: 18px;
			height: 32px;
			background-position: -176px -38px;
			background-size: 245px;
			left: 24px;
		}

		&__admin:before {
			margin-top: -14px;
			width: 28px;
			height: 32px;
			background-position: -173px -71px;
			background-size: 241px;
			left: 16px;
		}

	}

	&_holder {
		margin-top: 29px;
		margin-left: 17px;
		padding: 24px 0;
		border-top: 1px #C9B7BA solid;

		&__tabs {
			border-top: none;
			padding-top: 0;
			margin-top 20px
		}
	}

	&_partners {
		position: relative
		float left
		background: url('../images/sprite.png') no-repeat;

		&:nth-child(1) {
			width: 97px;
			height: 36px;
			background-position: -37px -114px;
			background-size: 244px;
			top: 6px
			left: -2px;
		}

		&:nth-child(2) {
			width: 96px;
			height: 43px;
			background-position: 1px -71px;
			background-size: 244px;
			top: 6px;
			left: -4.3px;
		}

		&:nth-child(3) {
			width: 91px;
			height: 33px;
			background-position: 0 -152px;
			background-size: 244px;
			top: 4.7px;
			left: -13.4px;
		}
	}

	// items personal settings
	&__settings {
		.content-item_holder {
			padding-top: 30px
			if flexhack = true {
				display flex
				justify-content: space-between
				align-items: center
			}
		}
	}

	&__lan {
		&:hover {
			cursor pointer
		}
	}
}

.content-item_tab {
	text-align center
	position relative

	&:before,
	&:after {
		content: ''
		position absolute
		height: 1px
		width: 80px
		top: 10px
		margin-top -1px
		background-color: #C9B7BA;
	}

	&:before {
		left: 0
	}

	&:after {
		right: 0
	}
}

.tab-content_section {

	&_item {
		display none;
		padding-top: 16px;
		width: 343px;
		margin-right: 17px;
	}
}

.tab_radio {
	position absolute
	left -9999px

	&__main:checked + label,
	&__second:checked + label {
		color: #cd828d;
		pointer-events: none
		font-weight normal
		letter-spacing: -0.6px;
	}
}

.tab_label {
	text-transform uppercase
	color: #8c6e75
	font-size: 15px;
	font-family: 'Roboto', Arial, Verdana;
	position relative
	transition color .3s
	left: -6px;
	top: 2px;
	letter-spacing: -0.8px;
	/*font-weight bold*/

	&__main {
		position relative
		letter-spacing: -0.3px;
		left: -14px;

		&:after {
			position: absolute;
			top: 7px;
			right: -8px;
			font-size: 9px;
			content: '•';
			color: #8c6e75;
			font-family: Arial;
		}
	}

	&__second {
		padding-left 5px
		letter-spacing: -0.3px;
		left: -10px;
	}

	&:hover {
		cursor: pointer
		color: #cd828d;
	}
}

.info_item {
	text-align left
	padding: 5px 0;
	font-size 15px
	/*font-family: 'Roboto', Arial, Calibri*/
	font-family: 'Roboto', Arial, Calibri
	color: #9c8085;
	position relative
	letter-spacing: -0.9px;
	font-weight: normal;

	&_state {
		float right
		font-weight bold
		margin-right: 11px;
		letter-spacing: -0.8px;
		font-family: 'Roboto', Arial, Calibri;
	}

	.jelect__small {
		width: 70px;
		position absolute
		right: 0
		top: 0

		.jelect-current {
			text-align right;
			position: relative;
			right: 14px;
			top: -7px;
		}
	}
}

.progress {

	&_desc {
		display: inline-block
		font-family Roboto
		font-size: 14px
		letter-spacing: -0.2px;
		padding-right: 8px;
		font-weight normal
	}

	&_value {
		position: relative;
		display: inline-block;
		width: 92px;
		height: 11px;
		border: 1px solid #a95f5d;
		right: 1px;
		top: 1px;
	}

	&_current {
		position absolute
		left 0
		top 0
		height: 100%;
		width: 0
		background: url('../images/fill.png');
		background-size: 40px;
		animation: progressAnimate 3s linear infinite
		animation-fill-mode forwards
	}
}

.section-name_holder {
	float left
}

.info_item_select {

}

.value__usb {
	width 34%
}

.value_ram {
	width: 75%
}

.value__cpu {
	width: 60%
}

.page-dashbord {
	height: 1300px !important;

	.jelect-options {
		background #91767b
	}

	.jspContainer {
		position: relative;
		height: 127px !important
	}

	.jspPane {
		position: absolute;
	}

	.jspVerticalBar {
		position: absolute;
		top: 0;
		right: 0;
		width: 16px;
		height: 100%;
	}

	.jspHorizontalBar {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 16px;
	}

	.jspCap {
		display: none;
	}

	.jspHorizontalBar .jspCap {
		float: left;
	}

	.jspTrack {
		position: relative;
	}

	.jspDrag {
		width: 8px
		-webkit-border-radius: 25px
		-moz-border-radius: 25px
		border-radius: 27px
		background #8A6C73
		position: relative;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	.jspHorizontalBar .jspTrack,
	.jspHorizontalBar .jspDrag {
		float: left;
		height: 100%;
	}

	.jspArrow {
		background: #50506d;
		text-indent: -20000px;
		display: block;
		cursor: pointer;
		padding: 0;
		margin: 0;
	}

	.jspArrow.jspDisabled {
		cursor: default;
		background: #80808d;
	}

	.jspVerticalBar .jspArrow {
		height: 16px;
	}

	.jspHorizontalBar .jspArrow {
		width: 16px;
		float: left;
		height: 100%;
	}

	.jspVerticalBar .jspArrow:focus {
		outline: none;
	}

	.jspCorner {
		background: #eeeef4;
		float: left;
		height: 100%;
	}

	* html .jspCorner {
		margin: 0 -3px 0 0;
	}

	.jspContainer {
		display block !important
		width: 376px !important
	}

	.jspPane {
		width: 327px !important;
	}

}

.wrapper.page-dashbord {
	width: 101%

	.content-item__settings {
		.content-item_name {
			letter-spacing: -0.3px;
		}
	}

	.content-item__internet {
		.content-item_name {
			letter-spacing: -.5px
		}
	}

	.content-item__wifi {
		.content-item_name {
			letter-spacing: -0.1px;
		}
	}

	.content-item__lan {
		.content-item_name {
			letter-spacing: -0.3px;
		}
	}

	.content-item__iptv {
		.content-item_name {
			letter-spacing: -0.2px;
		}
	}

	.content-item__access {
		.content-item_name {
			letter-spacing: -0.3px;
		}
	}

	.content-item__usb {
		.content-item_name {
			letter-spacing: -0.4px;
		}
	}

	.content-item__admin {
		.content-item_name {
			letter-spacing: -0.5px;
		}
	}
}

.tab-content_section__main {
	display block
}

.tab-content_section__second {
	display none
}

.sidemenu-copyright-wrapper {
	position: fixed;
	bottom: 71px;
	left: 127px;
	width: 295px;
	height: 168px;
}

.sidemenu-copyright {
	position: fixed;
	/*bottom: 56px*/
	left: 147px;

	display none

	width 275px;
	border-radius 3px;
	/*background-color rgba(221,215,218,.9);*/
	/*background-color rgba(255, 255, 255, .75);*/
	height 168px;
	/*height: 224px;*/
	padding: 37.5px 24.5px;
	font-size: 14px;
	background-color: #fff;
	opacity: .73;
	padding-left 37px

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 9px 7px 0;
		/*border-color: transparent rgba(221, 215, 218, .9) transparent transparent;*/
		border-color: transparent #fff transparent transparent;
		left: -9px;
		top: 50%;
		margin-top -7px;
		position absolute
	}

	a {
		color: rgba(107, 80, 80, 0.8);
		font-size: 15px;
		letter-spacing: -0.7px;
		font-weight: 300;
		line-height: 15px;
		padding 5px 0;
		display block;
		transition color .3s;
		text-decoration: none;

		&:hover {
			color: rgba(107, 80, 80, 0.8);
		}
	}
}

.content-item__wifi {
	z-index 9 !important
}

.firefox {
	.content-item_action__eject {
		width: 25px;
		height: 24px;
		background-image url('../images/eject-button.png')
		background-repeat repeat
		background-position 0 0
		background-size: 24px;
	}
}
