
.internet {
	clear: both
}

.section_name__internet {
	letter-spacing -1px
	&:after {
		left: 0;
		margin-top: -13px;
		width: 32px;
		height: 30px;
		background: url('../images/internet-section-logo.png') no-repeat;
		background-size: 30px;
	}
}

.section-header {
	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}

.section-header_buttons
	float: right
	margin-top: -3px;

	.button__action
		width: 106px
		height: 43px
		transform: translateX(-5px)
		&:hover {
			background-color: rgba(174, 45, 68, .1)
		}
	.button__cherry
		width: 170px;
		height: 43px

.section_name__internet {
	float left
}

.internet_section {
	/*background-color: rgba(255,255,255,.72);*/
	/*padding-top: 46px;*/

	.jelect-current {
		box-shadow: 0 0 1px #91767b;
	}
}

.internet_section__wrapper {
	/*background-color: rgba(255, 255, 255, .72);*/
	padding: 1px 60px 44px 60px;
	background-color: #fff;
	opacity: .73;
}

.internet_section .internet_section__wrapper:nth-of-type(1) {
	padding-top: 46px;
}

.internet_item {
	padding-bottom: 27px;
	clear: both;

	&__connect-type {
		margin-top: 35px;
	}

	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}

.internet_item .checkbox-small_label {
	width: 65px;
	height: 24px;
	transform: translateY(7px);
	.checkbox-small_value:after {
		font-size: 12px;
	}
	.checkbox-small_slider:after {
		width: 16px;
		height: 15px;
		border-radius 3px
		margin-top: -8px
	}
}

.internet_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_slider:after {
	left: 38px;
}

.internet_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
	content: 'on';
	left: -8px;
}

.internet_item-name {
	color: #8b6e74;
	width: 250px;
	font-size: 17px
	float: left;
	font-weight 500;
	line-height 37px
}

.internet_item .jelect {
	width: 210px;
	height: 37px;

	.jelect-current {
		font-size: 16px;
		line-height 37px;
		padding: 0 36px 0 14px;
		&:after {
			width: 36px;
			bottom: 0;
			background-size: 11px 8px;
		}
	}

	.jelect-option {
		height: 37px;
		line-height 37px
		font-size: 16px;
		padding-left: 14px
		font-weight: 300;
	}

	.jelect-options {
		border-top: 0;
		margin-top 0
		width: 100%;
		left: 0%;
	}
}

.jelect_state_active {
	.jelect-options {
		display block;
	}
	.jelect-current {
		overflow: visible
	}
}

.extend-item {
	height: 0;
	overflow: hidden;
	margin-top: 31px;
	line-height 37px
	transition: height .4s, overflow .4s;

	.internet_item-name {
		font-family: 'Roboto';
		font-weight 300;
	}
}

.extend-item.extend-item__dns {
	overflow visible
	display: none
	height: auto
	margin-top: 21px
	transition none

	.internet_item:nth-child(2) {
		padding-bottom: 1px;
	}
}

.internet_item-value {
	display inline-block
	width: 433px;
}

.internet_item__primary-dns {
	padding-bottom 10px;
}

// separators
.internet_item__dns-mode,
.internet_item__vlan, .internet_item__eap,
.internet_item__path {
	border-bottom: 1px solid #c9b8b9
	margin-bottom: 25px;
}

.internet_item__dns-mode {
	padding-bottom: 27px !important
	margin-top 25px;
}

.internet_item__connect-type__second,
.internet_item__eap, .internet_item__path {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9
}

.internet_item__eap {
	padding-bottom 0;
}

.extend-item_holder {
	padding-top: 6px
	clear: both
	&:first-child {
		padding-top 0
	}
}

.connection-mode {
	em {
		font-style: italic;
		font-weight: 300;
	}
}

.sub-item {
	font-family 'Roboto'
	font-weight 300
}

.internet_item__cabinet .extend-item {
	transition 0
	opacity 1
	height auto
	overflow visible
	width: 100%
}

.internet_item__vlan {
	.extend-item {
		height: auto
		transition none
	}

	&:after {
		display none;
	}
}

// pixel perfect fixes

.button__copy-mac {
	padding: 0 30px;
	border-radius 4px;
	height: 50px;
	width: 360px;
	text-align: center;
	font-size: 16px;
}

.internet_item-name__empty {
	min-height: 2px;
}

.item__sub {
	font-weight 300;
	font-family 'Roboto';
}

.internet_item__provider {
	.extend-item {
		margin-top: 30px;
	}

	& > .internet_item-name {
		letter-spacing: -.2px;
	}
}

.internet_item__dns-mode {
	margin-bottom: 3px;
}

.internet_item__mac .internet_item:first-child {
	padding-bottom 17px;
}

.internet_item__eap {
	padding-top 26px;

	// visible
	.extend-item {
		height: 104px;
	}
}

.internet_item__authentication {
	padding-bottom 22px;
}

.internet_item__cabinet {
	.input-text:first-of-type {
		margin-top: 6px;
		border-radius 2px;
	}
}

.internet_item__mtu {
	margin-top: -4px;
	.extend-item {
		display: none
		margin-top: 19px;
		height: 40px;
		transition none
	}
}

.connection-mode {
	margin-top -4px;
	padding-bottom 4px;
}

.connection-mode + .internet_item {
	padding-bottom 10px;
}

.pro-settings {
	padding-top: 6px
}

.hidden-options__connect-type-internet {
	border-bottom: 1px solid #c9b8b9;
	margin-bottom 9px;
	padding-bottom: 15px;
}

.input_hint {
	opacity 0
	visibility hidden
}

.internet_item__pptp,
.internet_item__pppoe,
.internet_item__static-ip,
.internet_item__dns-mode {
	padding-bottom 0;
}

.internet_item__pptp,
.internet_item__pppoe,
.internet_item__static-ip {
	display: none
	&.internet_item {
		.internet_item {
			padding-bottom 10px;
		}
	}
}

.internet_item__connect-type {
	margin-top 30px
}

.internet_item__connect-type__second {
	padding-top: 27px;
	padding-bottom 11px;
}

.internet_item__vlan {
	padding-top: 18px;

	& > .internet_item-name {
		margin-bottom: 18px;
	}
}

.hidden_item {
	padding-bottom 10px;
	&:after {
		content: " "; /* Older browser do not support empty content */
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

.pppoe-selected, .static-ip-selected, .hidden_item__ip-version-hybrid, .internet_item__ip-version6 {
	display: none
}

.internet-vlan-status, .internet-vlan-status2 {
	width: 100%
}

.internet-vlan-status2 {
	.jelect {
		position: relative;
		left: 2px;
		height: 36px;
	}
}

/* perfect pixel fixes */

.page-internet {
	.input-text {
		height: 36px;
	}

	.internet_item {
		padding-bottom: 28px
	}

	.tab {
		padding-left: 8px;
		letter-spacing: -0.4px;
	}

	.internet_item__provider {

		.jelect {
			top: 2px;
			left: 1px;
		}
	}

	.internet_item__connect-type {
		.internet_item-name {
			letter-spacing: -0.1px;
		}

		.itempick {
			width: 430px
			position: relative;
			top: 4px
			left 2px
		}
	}

	.internet_item__connect-type__second {
		padding-bottom: 11px

		.internet_item-name {
			letter-spacing: -0.3px;
		}

		.itempick {
			width: 430px
			height: 36px
			position: relative;
			left 2px
			top: 1px
		}
	}

	.internet_item__dns-mode {
		.internet_item-name {
			letter-spacing: -0.1px;
		}
		.itempick {
			position: relative;
			left 3px
			top: 1px
			width: 430px
		}
	}

	#primarry-dns, #alternate-dns, #primarry-dns2, #alternate-dns2 {
		font-weight 500
	}

	.internet_item__primary-dns {
		padding-bottom: 10px

		.internet_item-name {
			letter-spacing: -1px;
			word-spacing: 1.5px;
		}
		.internet_item-value {
			position: relative;
			top: 2px;
		}
	}

	.internet_item__alt-dns {
		.internet_item-name {
			letter-spacing: -1px;
			word-spacing: 1.5px;
			position: relative;
			top: -2px;
		}
	}

	.internet_item__vlan {
		padding-bottom: 27px;

		.internet_item-name {
			position: relative;
			top: 1px;
			letter-spacing: 0.6px;
		}
	}

	.internet-vlan-status, .internet-vlan-status2 {
		.extend-item_holder:nth-child(1) .internet_item-name {
			letter-spacing: -0.4px;
			position: relative;
			top: -2px;
			font-weight: 300;
		}

		.extend-item_holder:nth-child(2) .internet_item-name {
			letter-spacing: 0.6px;
			position: relative;
			top: -3px;
			font-weight: 300;
		}

		#vlan-id {
			position: relative;
			left 2px
		}

		#vlan-id + label {
			letter-spacing: 0.2px;
			padding-left: 16px;
		}

		.jelect {
			position: relative;
			left: 2px;
			height: 36px;
		}
	}

	.internet_item__mac {
		padding-bottom: 13px;
		.internet_item-name {
			word-spacing: 4px;
			letter-spacing: -0.5px;
		}

		#mac {
			position: relative;
			top: 3px;
			width: 208px;
			left: 3px;
		}

		.button__copy-mac {
			position: relative;
			top: 2px;
			left: 2px;
			height: 49px;
			width: 357px;
			letter-spacing: 0.1px;
			padding-left: 29px;
		}
	}

	.internet_item__authentication {
		padding-bottom: 20px;

		.internet_item-name {
			letter-spacing: -0.3px;
			position: relative;
			top: -2px;
		}

		#authentication-state + label {
			position: relative;
			left: 2px;
		}
	}

	.internet_item__eap {
		padding-bottom: 2px

		& > .internet_item-name {
			position: relative;
			top: -2px;
			letter-spacing: -0.4px;
			word-spacing: 2px;
		}

		.itempick {
			position: relative;
			left: 3px;
			width: 429px;
			top: 1px;

			.itempick_value {
				padding-right: 12px;
			}
			.itempick_value:nth-child(2) {
				letter-spacing: 0.1px;
				padding-right: 5px;
			}

		}

		.input-text {
			position: relative;
			left: 3px;
			width: 208px;
		}

		.extend-item_holder:nth-child(1) .internet_item-name {
			position: relative;
			top: -5px;
			letter-spacing: -1px;
		}

		.extend-item_holder:nth-child(2) .internet_item-name {
			position: relative;
			top: -4px;
			font-weight: 300;
			letter-spacing: -1px;
		}
	}

	.internet_item__cabinet {
		padding-bottom: 10px;

		.internet_item-name {
			position: relative;
			top: -3px;
		}

		.extend-item_holder {
			.internet_item-name {
				top 0px
				letter-spacing: -.8px;
			}
		}
	}

	#cabinet-password {
		position: relative;
		top: -1px;
	}

	#cabinet + label {
		position: relative;
		top: -2px;
		left: 2px;
	}

	.input-text {
		position: relative;
		left: 3px;
		width: 208px;
	}

	.accordion[data-section-name="pro-settings"], .accordion[data-section-name="pro-settings2"] {
		height: 83px;
		line-height: 67px;
		letter-spacing: -0.7px;
	}

	.internet_item__mtu {
		.internet_item-name {
			letter-spacing: -0.3px;
		}

		.itempick {
			position: relative;
			left: 3px;
			top: 1px;
			width: 429px;
			height: 37px;
		}

		.input-text {
			position: relative;
			left: 3px;
			top 3px
			width: 208px;
		}

		.extend-item_holder {
			.internet_item-name {
				letter-spacing: -0.8px;
				position: relative;
				top: 2px;
			}
		}
	}

	.internet_item__path {
		.internet_item-name {
			letter-spacing: -1px;
			word-spacing: 1px;
			position: relative;
			top: -1px;
		}

		#path + label {
			position: relative;
			left: 2px;
		}
	}

	.internet_item__ip-version {
		padding-bottom: 23px;

		.internet_item-name {
			letter-spacing: 0;
		}

		.itempick {
			position: relative;
			left: 2px;
			top: 2px;
			width: 430px;
		}
	}

	.hidden_item.connection-mode {
		.dhcp-selected {
			.itempick {
				position: relative;
				left: 2px;
				top: 2px;
				width: 430px;
			}
			.internet_item-name {
				letter-spacing: -1px;
			}

			em.internet_item-name {
				position: relative;
				left: 4px;
				letter-spacing: -0.3px;
			}

			.internet_item {
				padding-top: 8px;
				.internet_item-name {
					position: relative;
					top -3px
					letter-spacing: -0.7px;
					word-spacing: 1px;
				}

				.internet_item-value {
					position: relative;
					top: -2px;
				}

			}
		}
	}

	.internet-item-dhcppd {
		letter-spacing: 0.1px;
		padding-bottom: 0;
		margin-bottom: -23px;
		position: relative;
		top: -26px;

		.internet_item-name {
			position: relative;
			top: 0;
			letter-spacing: 0.1px;
		}
	}

	#dhcppd + label {
		position: relative;
		left: 2px;
	}

	.internet_item__provider-options.extend-item, .internet_item__provider-options2.extend-item {
		transition 0
		opacity 1
		height auto
		overflow visible
	}

	.internet_item__provider-options, .internet_item__provider-options2 {
		.internet_item-name {
			letter-spacing: -0.7px;
		}

		.jelect-current {
			font-weight: 500;
		}
	}

	[data-section="authentication"] {
		padding-bottom: 52px;
	}
	[data-section="authentication2"] {
		padding-bottom: 49px;
	}

	[data-tab="internet-tab2"] {
		.internet-item-dhcppd {
			position: relative;
			top: -26px
			left: -2px;
		}
	}

	#reserve-dhcppd + label {
		position: relative;
		top: -3px;
		left: 4px;
	}

	.internet_item__ip-version6 {
		.internet-item-dhcppd {
			top: 0px
		}
	}

	.internet_item__vpi {
		padding-top: 19px;
		padding-bottom: 26px;

		span {
			font-weight 300
		}
	}

	.internet_item__vci {
		border-top: 1px solid #c9b8b9;
		border-bottom: 1px solid #c9b8b9;
		padding-top: 27px;
		padding-bottom: 25px

		span {
			font-weight 300
		}
	}

	.internet-settings__adsl {
		padding-bottom: 0
		display: none
	}

	.settings__modem {
		padding-bottom: 25px;
	}

	.item__settings-apn {
		padding-bottom: 25px !important
	}

	.settings-operator {
		padding-bottom: 27px;
		position: static
	}
	.settings-location {
		padding-bottom: 0
	}
}

