.section_name__iptv {
	padding-left: 55px;
	letter-spacing: -1.3px;

	float: left;
	&:after {
		width: 34px;
		height: 32px;
		left: 4px;
		margin-top: -20px;
		background-image: url('../images/iptv-left.png');
		background-size: cover;
		background-position: 0 0;
		opacity: 1;
	}
}

.extend-item.port-linking {
	opacity: 0;
	transition: overflow 0 .3s, height .3s linear, opacity .3s linear;
}

// state
#port-linking:checked ~ .port-linking,
#sip-port-linking:checked ~ .port-linking {
	height: 170px;
	opacity: 1;
}

.iptv-vlan-extend {
	height 83px
	opacity 1
	overflow visible
	transition none
}

.iptv-vlan,
.igmp-proxy,
.v-igmp-proxy {
	border-bottom: 1px solid #c9b8b9
	margin-bottom: 25px;
}

.iptv-vlan {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9
}

// pixel perfect fixes
.extend-item.port-linking {
	margin-top 33px;

	.extend-item_holder {
		padding-top: 3px;
	}

	.internet_item-name {
		line-height 38px;
	}

	.checkbox-small_label {
		transform: translateY(6px);
	}
}

.iptv-vlan {
	padding-top: 20px;

	.iptv-vlan-extend {
		width: 100%
		margin-top: 29px;

		.internet_item-name {
			font-weight 300
		}
	}
}

.internet_item__port-linking {
	padding-bottom 15px;
}

label.input-text_label {
	padding-left: 14px;
}

.iptv-vlan {
	margin-bottom: 19px;
}

.igmp-proxy {
	padding-bottom 19px;
}

.v-igmp-proxy {
	margin-bottom 18px;
}

// pp fixes

.page-iptv {
	.item-help {
		top: 15px;
		right: -35px;
	}

	[data-tab-name="iptv-tab1"] {
		padding-right: 31px;
	}

	[data-tab-name="iptv-tab2"] {
		padding-right: 30px;
		letter-spacing: -0.6px;
	}

	.internet_item__port-linking {
		& > .internet_item-name {
			letter-spacing: -0.3px;
			word-spacing: 1px;
		}

		label {
			position: relative;
			left: 2px;
			top: 1px
		}

		.extend-item_holder:nth-child(1), .extend-item_holder:nth-child(2) {
			label {
				top -2px
			}
		}
		.extend-item_holder:nth-child(4) {
			label {
				top 1px
			}

		}
		.extend-item_holder:nth-child(1) {
			.internet_item-name {
				letter-spacing: -0.3px;
			}
		}
		.extend-item_holder:nth-child(2) {
			.internet_item-name {
				letter-spacing: -0.3px;
			}
		}
		.extend-item_holder:nth-child(3) {
			.internet_item-name {
				letter-spacing: -0.3px;
				top: 3px;
				position: relative;
			}
		}
		.extend-item_holder:nth-child(4) {
			.internet_item-name {
				letter-spacing: -0.3px;
				top: 3px;
				position: relative;
			}
		}
	}

	.iptv-vlan {
		padding-bottom: 23px;

		& > .internet_item-name {
			letter-spacing: 0px;
		}
	}

	#iptv-vlan + label, #sip-iptv-vlan + label {
		position: relative;
		left: 3px;
		top: -1px;
	}

	.iptv-vlan-extend {
		.extend-item_holder:nth-child(1) {
			.internet_item-name {
				letter-spacing: -1px;
				word-spacing: 1px;
			}
		}
		.extend-item_holder:nth-child(2) {
			.internet_item-name {
				letter-spacing: 0.1px;
				position: relative;
				top: -1px;
			}

			.jelect {
				position: relative;
				top: 2px;
				left: 3px;
				width: 208px;
				height: 36px;
			}

			.jelect-current {
				font-weight 500
				line-height: 33px;
			}

			.jelect-options {
				left: 0%;
				margin-top: 0;
				width: 100%;
			}
		}
	}

	#iptv-vlan-id, #sip-iptv-vlan-id {
		position: relative;
		left: 3px;
		top: 1px;
		width: 208px;
		height: 36px;
	}

	#iptv-vlan-id + label, #sip-iptv-vlan-id + label {
		padding-left: 16px;
		letter-spacing: 0.2px;
	}

	.igmp-proxy {
		position: relative;
		top: 5px;
		left: -2px;
		letter-spacing: -0.3px;
	}

	#igmp-proxy + label, #sip-igmp-proxy + label {
		top: -3px;
		left: 4px;
	}

	.v-igmp-proxy {
		padding-bottom: 31px;

		.internet_item-name {
			position: relative;
			top: 9px;
			left: -1px;
			letter-spacing: -0.3px;
		}

		.itempick {
			position: relative;
			top: 8px;
			left: 2px;
		}
	}

	.igmp-snoop {
		padding-bottom: 25px;

		.internet_item-name {
			position: relative;
			top: 2px;
			letter-spacing: -0.4px;
			left: -1px;
		}
	}

	#igmp-snoop + label, #sip-igmp-snoop + label {
		position: relative;
		top: 3px;
		left: 2px;
	}
}
