.settings__modem {
	display: none
}

.firefox .page-settings {
	.button__next {
		position: relative
		top: -86px
		display: block
		line-height: 44px
	}

	.settings_section-conntype {
		.button__next {
			position: static
			line-height: 25px
		}
	}

	.button__prev {
		top: -38px;
	}
}

.settings-vlan-options {
	width: 100%

	.extend-item_holder {
		padding-top: 13px !important
		padding-bottom 47px
	}
}

.page-settings {
	overflow: hidden

	.internet_item-name {
		font-size: 17px
		font-weight: 300
	}

	.extend-item__encryption-type {
		margin-bottom: -55px;
	}

	.section_name__settings {
		float: left;
		padding-left: 55px;
		letter-spacing: -0.9px;

		&:after {
			margin-top: -12px;
			width: 37px;
			height: 33px;
			background-image: url('../images/wizard-left.png');
			background-position: 0 0;
			background-size: 28px;
			margin-left: 7px
		}
	}

}

.fixed-header_container .section_name__settings {
	&:after {
		margin-top: -11px;
		width: 37px;
		height: 33px;
		background-image: url('../images/wizard-left.png');
		background-position: 0 0;
		background-size: 28px;
	}
}

.settings_item__primary-dns, .settings_item__secondary {
	.internet_item-name {
		font-weight: 300
	}
}

.settings_status {
	float: left;
	margin-left: 35px;
}

.settings-wrapper-inner {
	margin-top 35px;
	padding-bottom: 0 !important
}

.item__settings-apn {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9;
	margin-bottom: 3px;
	padding-bottom: 0px !important
}

.usb-model {
	padding-top: 29px;
	border-top: 1px solid #c9b8b9;
	padding-bottom: 0
}

.settings-location {
	margin-bottom: 0
	padding-bottom: 0
}

.settings-operator {
	position: relative;
	top: -15px;
	padding-top: 5px;
	padding-bottom: 0
	margin-bottom: 0px !important
}

.item__settings-section {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9;
	margin-bottom: 25px;
}

.item__settings-network,
.item__agregation,
.item__stbc,
.item__settings-fragment,
.item__settings-rts,
.item__wmm,
.item__settings-freq-ssid {
	padding-bottom: 6px
	padding-top: 25px;
	border-top: 1px solid #c9b8b9;
}

.item__settings-guestlan,
.item__settings-freq-ssid {
	border-bottom: 1px solid #c9b8b9;
	margin-bottom: 25px;
}

.extend-item__encryption-type {
	height 85px;
	overflow: visible;
}

.radiomodule-settings {
	padding-top 30px;
}

#settings-connection-limit:checked ~ .settings-connection-limit {
	height: 40px;
}

.button__add-mac,
.button__add-filter {
	width: 225px;
	height: 45px;
	font-size: 16px;
	border: 1px solid;
	font-weight: 400;
	text-align: center;
	padding 0;
	margin-top 10px;
}

.input-text__mac {
	margin-top 6px;
	width: 390px;
	border-radius: 2px;
}

.itempick__access {
	margin-bottom 30px
}

.item_input-text__dns {
	position: relative;
}

.remove-text {
	position absolute;
	width: 25px;
	height: 25px;
	right: 6px;
	top: 50%;
	margin-top: -10.5px;
	fill: #ae2b44;
	transition: transform .2s;
	transform-origin: center;

	&:hover {
		transform: rotate(90deg);
		cursor: pointer;
	}
}

.freq-max {
	margin-bottom 35px;
}

.guest-encryption {
	padding-bottom: 6px;
}

.settings {
	clear: both
}

.section-footer {
	margin-top: 52px;
}

.section-footer_buttons
	float: right

	.button__action
		width: 106px
		height: 43px
		transform: translateX(-5px)
		&:hover {
			background-color: rgba(174, 45, 68, .1)
		}

.section_name__settings {
	float left
}

.settings_section {
	/*background-color: rgba(255, 255, 255, .72);*/
	background-color: #fff;
	opacity: .73;
	padding-top: 39px;

	.jelect-current {
		box-shadow: 0 0 1px #91767b;
	}
}

.settings_section__wrapper {
	padding: 0 60px 30px 60px;
	outline: 10px transparent solid;
}

.settings_item {
	padding-bottom: 25px;
	clear: both;

	&__connect-type {
		margin-top: 35px;
	}

	&:after {
		visibility: hidden;
		display: block;
		content: "";
		clear: both;
		height: 0;
	}
}

.settings_item .checkbox-small_label {
	width: 65px;
	height: 24px;
	transform: translateY(7px);
	.checkbox-small_value:after {
		font-size: 12px;
	}
	.checkbox-small_slider:after {
		width: 14px;
		height: 14px;
		border-radius 3px
		margin-top: -7px
	}
}

.settings_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_slider:after {
	left: 37px;
}

.settings_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
	content: 'on';
	left: -15px;
}

.settings_item-name {
	color: #8b6e74;
	width: auto
	font-size: 19px
	float: left;
	font-weight 400;
	line-height 37px

	b {
		margin-right: 33px
		letter-spacing: 0.6px;
		font-weight: bold
		position: relative;
		left: 9px;
		font-size 18px
	}
}

.settings_item .jelect {
	width: 210px;
	height: 37px;

	.jelect-current {
		font-size: 16px;
		line-height 37px;
		padding: 0 36px 0 14px;
		&:after {
			width: 36px;
			bottom: 0;
			background-size: 11px 8px;
		}
	}

	.jelect-option {
		height: 37px;
		line-height 37px
		font-size: 16px;
		padding-left: 14px
		font-weight: 300;
	}

	.jelect-options {
		border-top: 0;
		margin-top 0
		width: 102%;
		left: -1%;
	}
}

.jelect_state_active {
	.jelect-options {
		display block;
	}
	.jelect-current {
		overflow: visible
	}
}

.extend-item {
	height: 0;
	overflow: hidden;
	margin-top: 25px;
	line-height 37px
	transition: height .4s, overflow .4s;

	.settings_item-name {
		font-family: 'Roboto';
		font-weight 300;
	}

	&__dns {
		height: 100px;
		overflow visible
	}
}

.settings_item-value {
	display inline-block
	width: 433px;
}

.settings_item__primary-dns {
	padding-bottom 10px;
	padding-top 25px;
}

.settings_item__secondary-dns {
	padding-bottom: 0
}

// separators
.settings_item__connect-type__second,
.settings_item__eap,
.settings_item__path {
	border-bottom: 1px solid #c9b8b9
	margin-bottom: 25px;
}

.settings_item__connect-type__second {
	padding-bottom: 15px;
}

.settings_item__dns-mode {
	padding-bottom: 31px;
}

.settings_item__dns-mode.adsl {
	margin-bottom: -50px;
}

.settings_item__connect-type__second,
.settings_item__eap, .settings_item__path {
	padding-top: 25px;
	border-top: 1px solid #c9b8b9

	.internet_item-name {
		font-weight: 300
	}
}

.settings_item__eap {
	padding-bottom 0;
}

.extend-item_holder {
	padding-top: 6px
	clear: both
	&:first-child {
		padding-top 0
	}
}

.sub-item {
	font-family 'Roboto'
	font-weight 300
}

// state
.settings_item__provider .checkbox-small:checked ~ .extend-item,
#cabinet:checked ~ .extend-item {
	height: 37px;
	overflow: visible
}

.settings_item__vlan {
	border-top 1px solid #c9b8b9;
	margin-bottom: -91px;
	padding-top: 25px;
}

.settings_item-name__empty {
	min-height: 2px;
	width: 250px;
}

.item__sub {
	font-weight 300;
	font-family 'Roboto';
	line-height: 26px;
}

.button__next {
	font-size: 17px;
	padding-right: 9px;
	letter-spacing: -0.7px;
	padding-top: 2px;
	width: 142px;
	height: 49px;
}

.button__next:after {
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	border-width: 4.5px 5px 4.5px 0;
	transform: scaleX(-1);
	position: relative;
	left: 13px;
	top: -2px;
}

.button__prev:after {
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	border-width: 4.5px 5px 4.5px 0;
	position: relative;
	top: -2px;
	left: -71px;
}

.button__prev {
	position: relative;
	left: -528px;
}

.settings_section-conntype {
	.item__settings-section {
		padding-bottom: 0 !important
	}

	.settings_section {
		padding-top: 18px !important
	}

	.settings_section__wrapper {
		padding-top: 7px !important
	}

	.item__sub {
		padding-bottom: 25px
	}

	[type="radio"] {
		display: none;
	}

	label {
		display: block
		color: #8b6e74;
	}

	[type="radio"] + label:before {
		position: relative;
		top: 5px;
		left: -10px;
		margin-left: 9px;
		display: inline-block;
		width: 20px;
		height: 20px;
		content: '';
		background: url('../images/radiobox-sprite.png') no-repeat;
		background-size: 18px;
	}

	[type="radio"] + label {
		width: 280px;
		font-size: 15px;
		line-height: 26.4px;
		cursor: pointer;
		letter-spacing: -0.5px;
		word-spacing: -0.2px;
	}

	[type="radio"]:checked + label:before {
		background-position: 0 -26px;
	}

	.jelect {
		margin-right: 8px;
	}

	.button__prev {
		display: none
	}

	.provider-select {
		display: none
		position: relative;
		top: -13px;
		left: 30px;
		padding-bottom: 14px;
	}
}

.settings_section-preloader {
	display: none
	padding-bottom: 103px;
	padding-top: 17px;

	.button__prev {
		display: block
		padding-top: 15px;
		width: 142px;
		height: 49px;
		font-size: 17px;
		letter-spacing: -.7px;
		left: -662px;
		top: -15px;
		padding-left: 18px;
		border-radius: 5px;
	}

	.item__sub {
		padding-bottom: 34px;
		position: relative;
		left: 4px;
		letter-spacing: -0.2px;
		word-spacing: -0.2px;
	}
}

.settings_section-fail {
	display: none
	padding-top: 17px;

	.item__settings-section {
		margin-bottom: -1px;
	}

	.settings_section__wrapper {
		padding-bottom: 1px;
	}

	.settings_item {
		padding-bottom: 0
	}

	.button__prev {
		top: -16px;
		left: -547px;
		padding-top: 16px;
		padding-left: 21px;
		display: block;
		width: 142px;
		height: 50px;
		font-size: 17px;
		letter-spacing: -.7px;
		border-radius: 6px;
	}

	.button__ghost {
		bottom: 55px;
		letter-spacing: -0.1px;
		position: relative
		left: 117px;
		font-size: 17px;
		height: 48px;
		font-weight: bold;
		border-radius: 5px;
		padding: 0 33px;
		color: #C85B71;
	}

	.button__next {
		position: relative;
		top: -65px;
		width: 257px;
		padding-bottom: 4px;
		border-radius: 5px;
		padding-right: 8px;
		letter-spacing: -0.8px;
	}

	.item__sub {
		padding-bottom: 34px;
		padding-left: 4px;
		letter-spacing: -0.1px;
		word-spacing: -1.1px;
	}
}

.preloader-message, .fail-message {
	position: relative;
	text-transform uppercase
	color: #8b6e74;
	font-size: 32px;
}

.preloader-message {
	top: 49px;
	left: 113px;
	word-spacing: 1px;
	letter-spacing: 0.3px;
}

.fail-message {
	top: -77px;
	left: 112px;
	letter-spacing: -0.2px;
	word-spacing: 2.2px;
	line-height: 38px;
	font-size 32px
}

.warning-sign {
	background url('../images/warning-ico.png') no-repeat
	background-size: 88px;
	width: 89px;
	height: 76px;
	margin-top: 15px;
	margin-left: -4px;
}

.settings_section-manual {
	display: none
	padding-top: 17px;
	.input-text {
		position: relative;
		left: 3px;
		width: 208px;
		height: 36px;
		font-weight 500
	}

	.item__settings-password {
		.item__sub {
			top: 5px;
			left: -1px;
			letter-spacing: -1.1px;
			padding-bottom: 30px;
		}
	}
	.item__settings-username {
		.item__sub {
			top: 4px;
			left: -1px;
			letter-spacing: -1px;
		}
		.input-text {
			top: 3px;
		}
	}

	.item__settings-pin {
		.item__sub {
			top: 9px;
			left: -1px;
			letter-spacing: -1.1px;
		}
		.input-text {
			top: 2px;
		}
	}

	.item__settings-dial {
		.input-text {
			top: 1px
		}
		.item__sub {
			top: 5px;
			left: -1px;
			letter-spacing: -0.9px;
		}
	}

	.item__settings-apn {
		.input-text {
			top 1px
		}
		.item__sub {
			top: 8px;
			left: -1px;
		}
	}

	.item__settings-network {
		.itempick {
			position: relative;
			top: 5px;
			left: 2px;
			letter-spacing: -0.2px;
		}

		.item__sub {
			top: 8px;
			left: -1px;
		}
	}

	.settings-operator {
		.item__sub {
			top: -4px;
			left: -1px;
			letter-spacing: -.7px;
			padding-bottom: 11px;
		}
		.jelect {
			top: -11px;
		}
	}

	.settings-location {
		.jelect {
			top: -1px;
		}
		.item__sub {
			top: 5px;
			left: -1px;
			letter-spacing: -0.8px;
		}
	}

	.jelect {
		position: relative;
		left: 3px;
		width: 208px;
		height: 36px;
	}
	.jelect-current {
		font-weight 300
		padding: 0 36px 0 13px !important
		font-size: 16px;
		line-height: 33px !important
		letter-spacing: -1.1px;
	}

	.usb-model {
		.item__sub {
			position: relative;
			top: 5px;
			left: -1px;
			letter-spacing: -0.7px;
		}
	}

	#modem-switch + label {
		position: relative;
		left: 2px;
	}

	.button__eject {
		height: 44px;
		position: relative;
		left: 3px;
		width: 210px;
	}

	.button__refresh {
		position: relative;
		left: 7px;
	}

	.settings_item__modem-buttons {
		position: relative;
		top: -2px
	}

	.internet_item .checkbox-small_label .checkbox-small_slider:after {
		margin-top: -7px;
		width: 16px;
		height: 15px;
		border-radius: 2px;
		&:after {
			left -8px
		}
	}
	.internet_item .checkbox-small_label .checkbox-small_value:after {
		font-size: 11px;
	}

	.internet_item__connect-type {
		.internet_item-name {
			font-weight: 500
			position: relative;
			top: -2px;
			letter-spacing: -0.2px;
		}
		.itempick {
			top 3px
		}
	}

	.settings_item__connect-type__second.settings__ethernet {
		& > .internet_item-name {
			font-weight: 500;
		}
		.internet_item-name {
			position: relative;
			left: -1px;
			letter-spacing: -1px;
		}
		.itempick {
			top: 3px;
		}
	}

	.settings_item__vpi {
		.internet_item-name {
			position: relative;
			top: 1px;
			letter-spacing: -1.3px;
		}
		.input-text {
			top: 2px
		}
		label.input-text_label {
			padding-left: 17px;
			position: relative;
			top: 3px;
			letter-spacing: 0.3px;
		}
	}

	.settings_item__vci {
		.internet_item-name {
			letter-spacing: -0.6px;
		}
		.input-text {
			top: 2px
		}
		label.input-text_label {
			padding-left: 17px;
			position: relative;
			top: 1px;
			letter-spacing: 0.4px;
		}
	}
	.settings_item__primary-dns {
		.internet_item-name {
			position: relative;
			top: -2px;
			letter-spacing: -0.9px;
		}
		.input-text {
			top: 1px;
		}
	}

	.settings_item__secondary-dns {
		.internet_item-name {
			position: relative;
			top: -4px;
			letter-spacing: -1.1px;
			left: 2px;
		}
		.input-text {
			top: -2px;
		}
	}

	.settings_item__vlan {
		& > .internet_item-name {
			font-weight: 500;
		}
		.internet_item-name {
			position: relative;
			top: -4px;
			letter-spacing: -1.1px;
			left: 1px;
		}
		.settings_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
			left: -8px;
		}
		.input-text_label {
			position: relative;
			top: 0px;
			padding-left: 18px;
			letter-spacing: 0.1px;
		}
		.extend-item_holder {
			.internet_item-name {
				position: relative;
				top: -1px;
				letter-spacing: -0.9px;
				left: 1px;
			}
		}
	}

	#settings-vlan-status + label {
		position: relative;
		left: 4px;
		top: -5px;
	}

	.settings_item__dns-mode {
		& > .internet_item-name {
			font-weight: 500;
		}
		.internet_item-name {
			position: relative;
			left: -1px;
			top: 2px;
			letter-spacing: -0.7px;
		}

		.itempick {
			top 4px
		}
	}

	.itempick {
		position: relative;
		top: 2px;
		left: 4px;
		letter-spacing: -0.2px;
	}

	#settings-manual + label span {
		letter-spacing: 0.1px;
		padding-left: 4px;
	}

	.button__prev {
		display: block
		padding-top: 15px;
		width: 142px;
		height: 49px;
		font-size: 17px;
		letter-spacing: -.7px;
		padding-left: 18px;
		border-radius: 5px;
		top: -18px;
		left: -662px;
	}

	.button__next {
		border-radius 5px
		position: relative;
		top: -67px;
		padding-bottom: 3px;
		padding-right: 5px;
	}

	.item__sub {
		position: relative;
		top: 1px;
		left: -8px;
		padding-bottom: 35px;
		letter-spacing: -0.8px;
		word-spacing: 0.4px;
	}
}

.settings_section-wifi {
	display: none
	/*margin-top: 67px;*/
	padding-top: 17px;

	.settings_section__wrapper {
		padding-bottom: 0
	}

	.button__prev {
		display: block
		padding-top: 15px;
		width: 142px;
		height: 49px;
		font-size: 17px;
		letter-spacing: -.7px;
		padding-left: 18px;
		border-radius 5px
		top: -15px;
		left: -662px;
	}

	.button__next {
		border-radius 5px
		position: relative;
		top: -64px;
		padding-bottom: 3px;
		padding-left: 4px;
	}

	.item__sub {
		padding-bottom: 34px;
	}

}

.settings_section-timezone {
	display: none
	/*margin-top: 67px;*/
	padding-top: 17px;

	.jelect {
		position: relative;
		float: right;
		left: -1px;
		width: 444px;
		height: 36px;
	}

	.jelect-current {
		padding: 0 36px 0 14px;
		font-size: 16px;
		font-weight: 500;
		line-height: 33px !important
		letter-spacing: -.2px;
	}

	.button__prev {
		display: block
		padding-top: 15px;
		width: 142px;
		height: 49px;
		font-size: 17px;
		letter-spacing: -.7px;
		padding-left: 18px;
		border-radius 5px
		top: -17px;
		left: -662px;
	}

	.button__next {
		position: relative;
		top: -66px;
		border-radius 5px
		padding-bottom: 4px;
		padding-left: 4px;
	}

	.item__sub {
		padding-bottom: 34px;
	}
}

.settings_section-password {
	display: none
	/*margin-top: 67px;*/
	padding-top: 17px;

	.item__settings-section {
		padding-top: 55px;
		padding-bottom: 15px
	}

	.button__next:after {
		display: none
	}

	.button__prev {
		display: block
		padding-top: 15px;
		width: 142px;
		height: 49px;
		font-size: 17px;
		letter-spacing: -.7px;
		left: -662px;
		top: -17px;
		padding-left: 18px;
		border-radius: 5px
	}

	.button__next {
		position: relative;
		top: -66px;
		border-radius: 5px;
		padding-bottom: 1px;
		padding-left: 12px;
	}

	.item__sub {
		padding-bottom: 34px;
	}

}

.settings_item {
	padding-bottom: 25px;
	clear: both;

	&__connect-type {
		margin-top: 35px;
	}

	&__modem {
		.settings_item-name {
			line-height: 37px;
		}

		&-delete {
			float: right;
			width: auto;
			text-transform: uppercase;
			font-size: 15px;
			font-family: 'Roboto';
			text-decoration: none;
			color: #B63F56;
			letter-spacing: -0.7px;
			padding-top: 17px;
			margin-right: 7px;
		}
	}

	&__netdrive-access {
		position: relative
		padding-top: 3px;

		.settings_item-name {
			font-weight: bold
		}

		.settings_item-name__empty {
			width: 472px;
		}
	}
}

.settings_item__modem {
	padding-top: 26px;
	padding-bottom: 25px
	border-top: 1px solid #c9b8b9
	clear: both

	.info_item {
		font-family 'Roboto', sans-serif !important
		font-size: 16px;
	}

	.progress_value {
		right: -15px;
		width: 342px;
	}

	&-switch {
		position: relative
		padding-bottom: 14px !important

		.usb_item-name {
			font-weight: 300
			line-height: 38px
			letter-spacing: -.4px;
			word-spacing: .2px;
		}
	}

	&-memory {
		padding-bottom: 13px;
	}

}

.settings_item__modem-buttons {
	padding-bottom: 0px !important

}

.item__settings-dial {
	padding-top: 24px;
	padding-bottom: 1px
	border-top: 1px solid #c9b8b9;
}

.item__settings-pin {
	padding-bottom: 3px
	border-top: 1px solid #c9b8b9;
	padding-top: 25px
}

.item__settings-username {
	padding-bottom: 5px
	border-top: 1px solid #c9b8b9;
	padding-top: 25px
}

.item__settings-password {
	padding-bottom: 0;
	margin-bottom: -25px;
	border-top: 1px solid #c9b8b9;
	padding-top: 25px
}

.item__settings-ssid {
	padding-top: 24px;
	border-top: 1px solid #c9b8b9;
	border-bottom: 1px solid #c9b8b9;
	padding-bottom: 7px;
	margin-bottom: 30px;

	input {
		width: 428px;
		position: relative;
		top: 5px;
		left: 3px;
		font-weight 500
		font-size: 14px;
		padding-left: 15px;
		letter-spacing: 0.2px;
		height: 36px
	}
}

.settings_item__vpi {
	display: none
}

.timezone-jelect {
	padding-top: 59px;
	padding-bottom: 5px;
}

.settings_item__vci {
	border-top: 1px solid #c9b8b9;
	border-bottom: 1px solid #c9b8b9;
	padding-top: 27px;
}

.settings-password__inputs {
	margin-top: 28px

	.internet_item-name {
		line-height: 15px
	}
}

.settings-password-default {
	line-height: 18px
}

.settings-password-input {
	margin-bottom: 8px
	display: inline-block
}

.settings-password-warning {
	position: absolute;
	right: 57px;
	font-size: 15px;
	font-weight: 300;
	color: #8b6e74;
	width: 198px;
	padding-top: 1px;
	letter-spacing: -0.8px;
	line-height: 19px;
}

.settings-dnsmode-options, .settings-wifi-options {
	display: none
}

.settings-dnsmode-options {
	width: 100%;
}

.settings-wifi-options {
	margin-top: 25px;
}

.IE {
	.page-settings {
		.button__eject, .button__refresh {
			display: inline-block
		}

		.button__eject {
			margin-right: 6px
		}
	}
}

.page-settings {
	.jelect-options {
		width: 100% !important
		left: 0% !important
	}
	.settings_section-conntype {
		.jelect-current {
			line-height: 35px;
			letter-spacing: -1.1px;
			font-weight: 300;
		}
		.settings_section__wrapper {
			padding-bottom: 32px;
		}
		.settings-wrapper-inner {
			margin-top 26px;
		}
		.item__sub {
			letter-spacing: -1.1px;
			position: relative;
			left: 3px;
			word-spacing: 2.5px;
			padding-bottom: 23px;
		}
		.item__settings-section {
			padding-top: 28px;
		}
		.button__next {
			position: relative;
			top: 2px;
			float right
			border-radius: 4px;
			padding-bottom: 3px;
			padding-left: 4px;
			padding-top: 15px;
		}
		.button__prev {
			position: relative;
			width: 105px;
			height: 48px;
			top: 1px;
			left: 6px;
			float: left
			border-radius 4px
			padding-top: 15px;
			font-size: 15px;
			font-weight: 400;
			padding-left: 23px;
			letter-spacing: -0.9px;
			&:after {
				display none
			}
		}
		.section-footer_buttons {
			width: 100%;
		}
	}

	.settings_section-wifi {
		.item__settings-section {
			padding-bottom: 32px
		}
		.access-settings {
			.internet_item-name {
				position: relative;
				top: -3px;
				letter-spacing: -0.6px;
			}
			.itempick {
				position: relative;
				top: 2px;
				left: 3px;
				letter-spacing: -0.2px;
			}
			.item-help {
				right: -36px;
			}
		}
		.settings-wifi-options {
			.input-text {
				position: relative;
				left: 3px;
				width: 208px;
				height: 36px;
				font-weight 500
			}
			.extend-item_holder:nth-of-type(1) {
				.internet_item-name {
					top: 1px;
					letter-spacing: -0.8px;
				}
				.jelect {
					width: 208px;
					height: 36px;
					position: relative;
					left: 3px;
					top: 2px;
				}
				.jelect-current {
					font-weight 300
					padding: 0 36px 0 13px !important
					font-size: 16px;
					line-height: 33px !important
					letter-spacing: -1.1px;
				}
			}
			.extend-item_holder:nth-of-type(2) {
				.internet_item-name {
					top: 1px;
					left: -1px;
					letter-spacing: -1.1px;
					word-spacing: 1.7px;
				}
				.input-text {
					top 3px
				}
			}
		}
		.internet_item__connect-type {
			.internet_item-name {
				position: relative;
				left: -2px;
				top: 2px;
				letter-spacing: -1px;
			}
			.itempick {
				position: relative;
				top: 5px;
				left: 3px;
				letter-spacing: -0.2px;
			}
			.item-help {
				top: 23px;
				right: -35px;
			}
		}
		.item__settings-ssid {
			.item__sub {
				position: relative;
				left: -1px;
				top: 9px;
				letter-spacing: -1px;
				word-spacing: 1.8px;
			}
		}
		.settings-wrapper-inner {
			& > .item__sub {
				letter-spacing: -0.7px;
			}
		}
		b {
			margin-right: 25px
			left: 0px;
		}
	}

	.settings_section-timezone {
		b {
			margin-right: 25px
			left: 0px;
		}
		.settings-wrapper-inner {
			& > .item__sub {
				letter-spacing: -0.7px;
				position: relative;
				top: 1px;
			}
		}

		.timezone-jelect {
			.internet_item-name {
				letter-spacing: -0.8px;
				position: relative;
				top: -1px;
				width auto
			}
		}
	}

	.settings_section-password {
		b {
			margin-right: 25px
			left: 0px;
		}
		.settings-wrapper-inner {
			& > .item__sub {
				letter-spacing: -1.1px;
			}
		}

		.settings-password-default {
			letter-spacing: -1px;
			position: relative;
			top: -1px;
			word-spacing: 1.2px;
		}
		#settings-default-password + label {
			position: relative;
			top: -3px;
			left: 2px;
		}

		.checkbox-small_label .checkbox-small_slider:after {
			margin-top: -8px;
			width: 16px;
			height: 16px;
			border-radius: 3px;
			&:after {
				left -8px
			}
		}
		.checkbox-small_label .checkbox-small_value:after {
			font-size: 11px;
		}
		.settings-password-input:nth-of-type(1) {
			.internet_item-name {
				position: relative;
				top: 8px;
				letter-spacing: -0.8px;
			}
		}
		.settings-password-input:nth-of-type(2) {
			.internet_item-name {
				position: relative;
				top: 7px;
				left -1px
				letter-spacing: -1.4px;
				word-spacing: 2.9px;
			}
		}
		.settings-password-input:nth-of-type(3) {
			.internet_item-name {
				position: relative;
				top: 4px;
				letter-spacing: -1px;
				word-spacing: 0.6px;
				line-height: 18px;
			}
		}
	}
	.input-text {
		position: relative;
		left: 3px;
		width: 208px;
		height: 36px;
		font-weight 500
	}

	.hidden-options__connect-type-internet {
		padding-top: 15px
		margin-bottom: 0
		padding-bottom: 0
		border none
	}

}


