
.usb {
	clear: both
}

.section_name__usb {
	float: left;
	left: 8px;
	top: -1px;
	letter-spacing: -0.1px;
	&:after {
		left: 6px;
		margin-top: -22px;
		width: 72px;
		height: 70px;
		background: url("../images/usb-section-logo.png") no-repeat;
		background-size: 23px;
	}
}

.section-header_buttons
	float: right

	.button__action
		width: 106px
		height: 43px
		transform: translateX(-5px)
		&:hover {
			background-color: rgba(174, 45, 68, .1)
		}
	.button__cherry
		width: 170px;
		height: 43px
		border-width 1px

.section_name__usb {
	float left
}

.usb_section {
	background-color: rgba(255, 255, 255, .72);
	padding-top: 50px;

	.jelect-current {
		box-shadow: 0 0 1px #91767b;
	}
}

.usb_section__wrapper {
	padding: 0 60px;
}

.usb_item {
	padding-bottom: 25px;
	clear: both;

	&__connect-type {
		margin-top: 35px;
	}

	&__netdrive {
		.usb_item-name {
			line-height: 37px;
		}

		&-delete {
			float: right;
			width: auto;
			text-transform: uppercase;
			font-size: 16px;
			font-family: 'Roboto';
			text-decoration: none;
			color: #B63F56;
			letter-spacing: -0.7px;
			padding-top: 14px;
			margin-right: 7px;
		}
	}

	&__netdrive-access {
		position: relative
		padding-top: 3px;

		.usb_item-name {
			font-weight: 500
			letter-spacing: 0.1px;
			word-spacing: 3px;
		}

		.usb_item-name__empty {
			width: 472px;
		}
	}

	&__printer {
		position: relative
		padding-bottom: 35px;

		.usb_item-name {
			line-height: 37px;
			font-weight: 500
		}
	}
}

.usb_item .checkbox-small_label {
	position: relative;
	left 2px
	width: 65px;
	height: 24px;
	transform: translateY(7px);
	.checkbox-small_value:after {
		font-size: 11px;
		line-height: 13px;
	}
	.checkbox-small_slider:after {
		width: 16px;
		height: 16px;
		border-radius: 3px;
		margin-top: -8px;
		left: -2px;
	}
}

.usb_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_slider:after {
	left: 37px;
}

.usb_item .checkbox-small:checked ~ .checkbox-small_label .checkbox-small_value:after {
	content: 'on';
	left: -10px;
}

.usb_item-name {
	color: #8b6e74;
	width: 250px;
	font-size: 16px
	float: left;
	font-weight 400;
	line-height 18px
}

.extend-item {
	height: 0;
	overflow: hidden;
	margin-top: 25px;
	line-height 37px
	transition: height .4s, overflow .4s;

	.usb_item-name {
		font-family: 'Roboto';
		font-weight 300;
	}
}

.usb_item-value {
	display inline-block
	width: 427px;
}

// separators
.usb_item__netdrive,
.usb_item__access {
	border-bottom: 1px solid #c9b8b9
	margin-bottom: 25px;
}

.usb_item__netdrive {
	padding-top: 23px;
	padding-bottom: 7px
	border-top: 1px solid #c9b8b9

	.info_item {
		font-family 'Roboto', sans-serif !important
		font-size: 16px;
		font-weight: 300;
	}

	.progress_value {
		right: -14px;
		width: 342px;
	}

	&-switch {
		position: relative
		padding-bottom: 32px

		.usb_item-name {
			font-weight: 500
		}
	}

	&-memory {
		padding-bottom: 13px;

		.progress_desc {
			font-size: 13px;
			font-weight: 300;
			position: relative;
			left: 7px;
			letter-spacing: -0.1px;
		}
	}
}

.extend-item_holder {
	padding-top: 6px
	&:first-child {
		padding-top 0
	}
}

.sub-item {
	font-family 'Roboto'
	font-weight 300
}

// state
.usb_item__printer .checkbox-small:checked ~ .extend-item,
#cabinet:checked ~ .extend-item {
	height: 37px;
	overflow: visible
}

.usb_item__vlan .checkbox-small:checked ~ .extend-item {
	height: 83px;
	overflow visible
}

.usb_item-name__empty {
	min-height: 2px;
}

.button__eject {
	padding: 0 72px;
	height: 43px;
	font-size: 14px;
	border-radius: 4px;
	letter-spacing: 0.2px;
}

.button__refresh {
	padding: 0 68px;
	height: 43px;
	font-size: 14px;
	border-radius: 4px;

	letter-spacing: 0.9px;
	padding-left: 65px;
	padding-right: 63px;
}

.button__add-drive {
	position: relative;
	padding: 0 69px;
	height: 44px;
	font-size: 14px;
	border-radius: 5px;

	left: 2px;
	top: 7px;
	letter-spacing: 0.4px;
	padding-left: 67px;
	padding-right: 65px;
}

.value__usb-memory {
	width: 37.5%
}

.usb_item__netdrive-buttons {
	padding-bottom: 10px
	width: 700px
	position: relative;
	top: -10px;
}

.access-table {
	margin-top: 39px;
	width: 100%
	color: #8b6e74;

	input {
		position: relative;
		left: 30px;
		width: 166px;
		border: none
		background: rgba(0, 0, 0, 0);
		color: #8b6e74;
		letter-spacing: 2.7px;
	}

	th {
		padding-top: 12px;
		padding-bottom: 10px;
		background #D0BABC
		font-family: 'Roboto'
		font-weight: 300;
		font-size: 14px;
		text-align left
		letter-spacing: -0.5px;

		&:nth-of-type(1), &:nth-of-type(2) {
			width: 208px;
			padding-left: 28px;
		}

		&:nth-of-type(3) {
			padding-left: 31px;
		}
	}

	td, th {
		box-sizing border-box
		border 1px #D0BABC solid
	}

	td {
		font-weight: bold
		font-size: 14px;
		padding-top: 9px
		padding-bottom: 7px
	}

	tr {
		td:nth-child(1) {
			padding-left 28px
		}

		td:nth-child(3) {
			padding-left 33px
		}
	}
}

.usb_item-name__empty {
	width: 252px
}

.page-usb {
	.button__eject {
		margin-right: 3px
	}
}

.IE {
	.page-usb {
		.button__eject, .button__refresh {
			display: inline-block
		}
	}
}

// pp
.button__add-drive {
	transform: translateY(-9px);
}

.page-usb {
	.usb_item__printer {
		.item-help {
			right: -38px;
			top: 17px;
		}
		.usb_item-name {
			position: relative;
			top: -1px;
			letter-spacing: 0;
			word-spacing: 1px;
		}
	}

	.usb_item__netdrive-switch {
		.item-help {
			right: -38px
		}

		.usb_item-name {
			position: relative;
			top: -1px;
			letter-spacing: 0px;
			word-spacing: 1px;
		}
	}

	.usb_item__netdrive-memory {
		.usb_item-name {
			width: auto;
			display: block;
			letter-spacing: -0.3px;
			position: relative;
			top: -15px;
			font-weight: 300
		}
	}

	.usb_item__netdrive-access {
		.item-help {
			top: 22px;
			right: -38px;
		}

		.usb_item-name__empty {
			width: 469px;
		}
	}

	.usb_item-add-drive {
		padding-bottom: 19px
	}

	.table-jelect {
		height: 33px
		width: 100%
		border-width 1px
	}

	.jelect-current {
		line-height: 33px;
		letter-spacing: .1px;
		padding: 0 39px 0 25px;
		font-size: 15px;
		border-color: transparent;
		box-shadow: none;
		-webkit-transition: box-shadow .4s, border-color .4s;
		-o-transition: box-shadow .4s, border-color .4s;
		transition: box-shadow .4s, border-color .4s;
		padding-left: 30px;
		border-radius: 0;

		&:after {
			bottom: 0;
			width: 35px;
			background-size: 12px 8px;
			opacity: 0;
			-webkit-transition: opacity .4s;
			-o-transition: opacity .4s;
			transition: opacity .4s;
		}
	}

	.jelect-options {
		margin-top: 1px;
	}

	.jelect-td {
		padding: 0;
	}
	.jelect-option {
		height: 39px;
		font-size: 15px;
		line-height: 40px;
	}

	.access-table tr td:nth-child(1) {
		padding-left: 0px;

		input {
			letter-spacing: 0.4px;
			left 27px
		}
	}

	.access-table tr td:nth-child(3) {
			padding-left: 0px
		}

	.access-table td {
		position: relative;
	}

	.delete-item {
		position absolute;
		right: 15px;
		top: 7px;
		width: 15px;
		height: 20px;
		background: url(../images/trash.png) no-repeat;
		background-size cover;
		opacity 0;
		transition opacity .2s;
	}

	tr td {
		border-top: 1px solid transparent;
		transition border-color .4s;
	}

	tr:hover:not(.table-header) {

		.delete-item {
			opacity 1;
		}
}

}
