@keyframes progressAnimate {
	0% {
		background-position: 0
	}

	100% {
		background-position 40px 40px
	}
}

@keyframes progressAnimateBig {
	0% {
		background-position: 0
	}

	100% {
		background-position 30px 0
	}
}


@keyframes shadowPuls {
	0% {
		box-shadow: 0 0 2px #48c6dc
	}

	50% {
		box-shadow: 0 0 6px #48c6dc
	}

	100% {
		box-shadow: 0 0 2px #48c6dc
	}
}